---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A39Z&Signature=Lv%2FTP6Q3Jy%2FH4n9h24o4Nm9JZKm6D%2FhZCLb4hyfOOKM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - iKOFy+E9hy9kEyzlnGxHC1R8V/IUiGsIK9Ve8CRLlAnYoduZGqJ4fzcXf9R8SSvhFfPYLAVbjA1/
        dycK+eHhuCY/rverbi0U, d7r+8eRbamM/czcaeJi8DSBPV4lUbQovel1OcRS0cSUzY1CVk5B2ZNU98U4Z3CQ5h8rvCw7YRwZh
        Ro1fBRVpaw==
      x-amz-request-id:
      - fae34a9b-7827-4930-8aa5-93e16b0b6a2d
      x-mws-request-id:
      - fae34a9b-7827-4930-8aa5-93e16b0b6a2d
      x-mws-timestamp:
      - '2014-01-20T13:57:39.977Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>fae34a9b-7827-4930-8aa5-93e16b0b6a2d</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:40 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A40Z&Signature=rpIMCZvBrCObO5AHlGgqz7rYQB3iupJ0EnKy2QQbUto%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:07:00 UTC
      x-mws-response-context:
      - pXUERlXdjpT6ljOy4eBTlFTSBL2fuUBa0Xb9nf6uhIMaMUPGbEK/BlsegtabYkbct3G2KazkWY+h
        ufMWcZbV0eEoK2T9diH/, i1oLPfrZriZX4M8KZmGc4ATn4WKBMeXdoGU4hkOOZ3rKZhlPySPr585AIc9n6mvxzi47zSEPzzp5
        1P9ndURhOQ==
      x-amz-request-id:
      - c3a3cb83-2e04-4e01-b766-a5028df74f25
      x-mws-request-id:
      - c3a3cb83-2e04-4e01-b766-a5028df74f25
      x-mws-timestamp:
      - '2014-01-20T13:57:40.401Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>c3a3cb83-2e04-4e01-b766-a5028df74f25</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:40 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A40Z&Signature=1f536lV4XwA0jTZY7YmB5zsFvsm8ShUzZOx6zpEHOy4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - OWU1+uJ6ODBK1RSkzySlHx6Pr3L1jhGFAvJUheLntVdI6f8lqv0nPZp7vwj1LGv5xGupLCSjGrmQ
        GZZB3zLuA3ghm/eWUQ8l, 9yzwDqOG1pFJdjEZtDHike/Y1UDpCH50b5mBcdtGcKoN6jqiY7mYFR3ccb85Wz2Tx/Xe0Vv+97L3
        f/WrROA1MA==
      x-amz-request-id:
      - 748bb1d4-8f19-4629-8997-8f85eccb4ad2
      x-mws-request-id:
      - 748bb1d4-8f19-4629-8997-8f85eccb4ad2
      x-mws-timestamp:
      - '2014-01-20T13:57:41.260Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>748bb1d4-8f19-4629-8997-8f85eccb4ad2</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:41 GMT
recorded_with: VCR 2.8.0
