---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - N004A10X6RHZRCT1ZMMZ
        X-Amzn-Requestid:
          - 4f32136f-d3f4-4829-a08d-8db25f5fdf3a
        X-Amz-Date:
          - Thu, 12 Sep 2024 20:00:54 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Thu, 12 Sep 2024 20:00:55 GMT
  - request:
      method: get
      uri: https://sellingpartnerapi-eu.amazon.com/reports/2021-06-30/documents/amzn1.spdoc.123
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240912T200055Z
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - BKZJ4Z17FNHBEQHTE9PE
        X-Amzn-Ratelimit-Limit:
          - "0.0167"
        X-Amzn-Requestid:
          - 5845bcf4-a50a-4962-9757-8b4f546753cc
        X-Amz-Apigw-Id:
          - OPF5845bcf4a50a
      body:
        encoding: UTF-8
        string: '{"reportDocumentId":"amzn1.spdoc.1.4.eu.00051127-bd5b-48ff-ab6a-6d76c9061260.TXVRX1WISIZWM.5900","url":"https://tortuga-prod-eu.s3-eu-west-1.amazonaws.com/f2c58969-c793-4da0-99a1-632d289a8156.amzn1.tortuga.4.eu.TXVRX1WISIZWM?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240912T200055Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=AKIAX2ZVOZFBD26QHCVX%2F20240912%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Signature=3ab5aaf68cbb5d30c1cee2dc81b69279be713a7267e103d5260988067d98fe56"}'
    recorded_at: Thu, 12 Sep 2024 20:00:55 GMT
recorded_with: VCR 6.3.1
