---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - X1NRXPJCAV7WQ14DE1CW
      X-Amzn-Requestid:
      - fc33ba3a-b795-4855-8210-a2eb811de6b1
      X-Amz-Date:
      - Thu, 12 Sep 2024 19:40:58 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 12 Sep 2024 19:40:58 GMT
- request:
    method: post
    uri: https://sellingpartnerapi-eu.amazon.com/reports/2021-06-30/reports
    body:
      encoding: UTF-8
      string: '{"reportType":"GET_MERCHANTS_LISTINGS_FYP_REPORT","marketplaceIds":["A1F83G8C2ARO7P"]}'
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240912T194058Z
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - TMY40KKYQ5K7Q25TZ1P3
      X-Amzn-Ratelimit-Limit:
      - '0.0167'
      X-Amzn-Requestid:
      - 31511e09-fd4e-4844-ba5b-86203eff1c82
      X-Amz-Apigw-Id:
      - OPF31511e09fd4e
    body:
      encoding: UTF-8
      string: '{"reportId":"292248019978"}'
  recorded_at: Thu, 12 Sep 2024 19:40:59 GMT
recorded_with: VCR 6.3.1
