---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - 3GNYXB1XNH3EGAQHSA34
      X-Amzn-Requestid:
      - 8469f5ed-3e9b-4e8d-993e-649af0e5cbaa
      X-Amz-Date:
      - Wed, 11 Sep 2024 08:58:58 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Wed, 11 Sep 2024 08:58:56 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/sellers/v1/marketplaceParticipations
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240911T085856Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - 0ZZXE2DN7HCHQ5N335GD
      X-Amzn-Ratelimit-Limit:
      - '0.016'
      X-Amzn-Requestid:
      - 0c086c09-6561-43ae-b84d-2f258eeb3488
      X-Amz-Apigw-Id:
      - OPF0c086c096561
    body:
      encoding: UTF-8
      string: |-
        {
          "payload" : [
                      {
              "marketplace" : {
                "id" : "A13V1IB3VIYZZH",
                "countryCode" : "FR",
                "name" : "Amazon.fr",
                "defaultCurrencyCode" :"EUR",
                "defaultLanguageCode" : "fr_FR",
                "domainName" : "www.amazon.fr"
              },
              "participation" : {
                "isParticipating" : true
                        ,"hasSuspendedListings" : false              }
            },              {
              "marketplace" : {
                "id" : "A1805IZSGTT6HS",
                "countryCode" : "NL",
                "name" : "Amazon.nl",
                "defaultCurrencyCode" :"EUR",
                "defaultLanguageCode" : "nl_NL",
                "domainName" : "www.amazon.nl"
              },
              "participation" : {
                "isParticipating" : true
                        ,"hasSuspendedListings" : false          [...]
