---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A17Z&Signature=ki2aF7QruwmxHWPRdgzexdXy8ig0PlsoRynxytogOvg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '72.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - s9EzAjxBPVkj7R8MS/+tITkB3+rZYMSrcSyI9D9I7CA5JE/wBP0etn3j817a0xt5RKx6LmyEkswJ
        lfk3W57iGNmjN4Kltzq/, rZ00qlQHZMGsT8VjhLxHsFGQJCbm/nJG3Iax66TJc1MUPgrLrlRrmZpAYByE/J4sGrMk26+LMoNb
        6J7wMJHXcA==
      x-amz-request-id:
      - f11c1d42-0697-4b0e-8b6b-458312aee063
      x-mws-request-id:
      - f11c1d42-0697-4b0e-8b6b-458312aee063
      x-mws-timestamp:
      - '2014-01-20T14:07:20.041Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>52275</Count></GetReportCountResult><ResponseMetadata><RequestId>f11c1d42-0697-4b0e-8b6b-458312aee063</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:30 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A30Z&Signature=C4bFJKlq%2BLFITnA8moehVyMCBruRWDXhzI0BDQjZ8OE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '72.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - 1jOaKSW7Lhzj7GlUO8bTe7bBKYmWhIWw7mqb4B2/aNDublG+zputqh0cgyVg0UmaikD761KvWxaG
        xNmTOT6Te4dUa8a1hBRe, ydyiGptSIKljPWsGVnFTmLVt1MKXGceO8/VC3Lzi+KjaekwM1gehk4W415Z3aSgD44tdEDrmBQhL
        1/64nTtnoQ==
      x-amz-request-id:
      - 300204de-4ee9-4da8-ae78-688f74216bbc
      x-mws-request-id:
      - 300204de-4ee9-4da8-ae78-688f74216bbc
      x-mws-timestamp:
      - '2014-01-20T14:07:30.907Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>52275</Count></GetReportCountResult><ResponseMetadata><RequestId>300204de-4ee9-4da8-ae78-688f74216bbc</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:36 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A36Z&Signature=XaABq25QuBzL4KvLc7f8%2BDh%2BZ42jaUYwx1rk045UABU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 15:07:00 UTC
      x-mws-response-context:
      - uRA54Yvl/ACX9Va1lCaU9e9gANABklUAcm0bqbtlhj6JCVjkHM//Bw81SNuHpGgLxNcbYDOW4u1N
        rpvHBQn7fM2MQrFyXWeB, 7lnZUcLQCELNGu0R92HfhzWIj4ATGOvl7e68i1KTrBCYUpnA0vmeBfjeJ1DoYTUU2WwXxG6klNbd
        TMHn8isfeA==
      x-amz-request-id:
      - 1377fb86-7447-4ae6-857f-53f138122de1
      x-mws-request-id:
      - 1377fb86-7447-4ae6-857f-53f138122de1
      x-mws-timestamp:
      - '2014-01-20T14:07:37.514Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21789</Count></GetReportCountResult><ResponseMetadata><RequestId>1377fb86-7447-4ae6-857f-53f138122de1</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:41 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A41Z&Signature=dK1TVgUUkSlJzzSh5HfBJOHuuin409s6WY8EbQHeTDI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 15:07:00 UTC
      x-mws-response-context:
      - 9+nu2hmCzE/raiHb3Y8Exys8BJhhgVneiXszPT3nBJXUsX+HmpQ6LUqUPrRSTEh0aW4s6YwenZ0w
        43WL33+BdgKjvngiGGVn, 7lnZUcLQCELNGu0R92HfhzWIj4ATGOvl7e68i1KTrBCYUpnA0vmeBfjeJ1DoYTUU2WwXxG6klNbd
        TMHn8isfeA==
      x-amz-request-id:
      - 0cd32163-391c-411b-ae18-65c8abe6c40b
      x-mws-request-id:
      - 0cd32163-391c-411b-ae18-65c8abe6c40b
      x-mws-timestamp:
      - '2014-01-20T14:07:41.294Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21789</Count></GetReportCountResult><ResponseMetadata><RequestId>0cd32163-391c-411b-ae18-65c8abe6c40b</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:44 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A44Z&Signature=VG7%2Fgbl2hMjwa1VUjueSBqiWw56MpleKmTpvdfeUjHw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '76.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - R60lF+IKrvsjZQiBV0j6+7Ua8Pd3ZsICrdHhMl8l0oO0h6r47gCWmmAGQGp9g1ndrCn3DZg9NuS8
        XSvkSglw8EPTMPfzIaSq, A40ZVWX73L2wacnaylAR0AB/12x0DMCeJVrqkKfum/mZp1UaUwdlLBXf0b9XWh8Sj9rDI0wSG6Qz
        iLLNFuSI6Q==
      x-amz-request-id:
      - 4e6f44b0-b351-46c3-bce8-886a3453a1dd
      x-mws-request-id:
      - 4e6f44b0-b351-46c3-bce8-886a3453a1dd
      x-mws-timestamp:
      - '2014-01-20T14:07:45.480Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21382</Count></GetReportCountResult><ResponseMetadata><RequestId>4e6f44b0-b351-46c3-bce8-886a3453a1dd</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:48 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A48Z&Signature=pu%2F%2Bl4ksIyg20BKvESM8zCEt%2BWaIhLemeEOeZgxsrBg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '76.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - R60lF+IKrvsjZQiBV0j6+7Ua8Pd3ZsICrdHhMl8l0oO0h6r47gCWmmAGQGp9g1ndrCn3DZg9NuS8
        XSvkSglw8EPTMPfzIaSq, 1jYzxta76yhKb4jRLLWNx7GIxf2L+z9O+U3h0zxdK4lBkaicShGa7Wk4JNF5yRsD7cG0ztZrfCnB
        WBuDnyIB9w==
      x-amz-request-id:
      - 4e9a2e9a-eaa9-4fd7-8d94-f10b655728c7
      x-mws-request-id:
      - 4e9a2e9a-eaa9-4fd7-8d94-f10b655728c7
      x-mws-timestamp:
      - '2014-01-20T14:07:48.336Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21382</Count></GetReportCountResult><ResponseMetadata><RequestId>4e9a2e9a-eaa9-4fd7-8d94-f10b655728c7</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:07:50 GMT
recorded_with: VCR 2.8.0
