---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A37Z&Signature=3tV7t8d49d1hKvBmNI1gQwArO4wcse1hdjd0EVioYUc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - huZmSrqj1hdg8WKqIzlYU71FXyEuneOaHdNBKX5HVmBmZEH8flmsfoMH0Tf7vG7mPSaMRSP9OXCs
        O089iQLBDqJoJG7QuiaR, lAa7Sf8qI60d/e0+wB+MEvQjtlKR3xYNxnMU7qvPyqPiXrvbHMNM+4IPmvpFQXCnHpA3/niJeBA4
        RSf1nYpPSA==
      x-amz-request-id:
      - b05eb3be-fcd0-4415-b03d-698ed35e3bb1
      x-mws-request-id:
      - b05eb3be-fcd0-4415-b03d-698ed35e3bb1
      x-mws-timestamp:
      - '2014-01-20T13:57:37.726Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>b05eb3be-fcd0-4415-b03d-698ed35e3bb1</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:37 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A37Z&Signature=v4xXM3MyFicR%2FLpQesMCqH%2FVrHrrUgSZK7WDVIAOlCs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:07:00 UTC
      x-mws-response-context:
      - 05zr2coTFLMhroyEp0rSuSeBGaGSv/dIm6pioMRfZGArU6gbNoHhnIFjpiIf2aR/ZUFC+DmYAUqG
        vCG36qxgC2sYH9ABDKkd, Q4BCcHszPiWA0mMslNJJ3hbiS8nMKsBHqgAbgYRTq2grFHIEziDN+EFA/iMGlvvTO2JcMMwHkzIH
        +TkgCO3k5g==
      x-amz-request-id:
      - d439b0c4-358e-40c3-8569-ec19a58ea2e1
      x-mws-request-id:
      - d439b0c4-358e-40c3-8569-ec19a58ea2e1
      x-mws-timestamp:
      - '2014-01-20T13:57:38.206Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>d439b0c4-358e-40c3-8569-ec19a58ea2e1</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:38 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportScheduleCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A38Z&Signature=p9RT5lCs3nrZxmT0YyFs2yNfUaxgJ%2BuvLg59DF5fSdM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - OWU1+uJ6ODBK1RSkzySlHx6Pr3L1jhGFAvJUheLntVdI6f8lqv0nPZp7vwj1LGv5xGupLCSjGrmQ
        GZZB3zLuA3ghm/eWUQ8l, wTUEN9KG9rEqPrqSXz7qaOZ+U7kozim010txeLzsCoyQM+wJSdGxXrtKZfQ92QlRryJJE8HZToEg
        lkJcXVH+Uw==
      x-amz-request-id:
      - d0839481-4169-42a2-ab2f-78ebb44b6163
      x-mws-request-id:
      - d0839481-4169-42a2-ab2f-78ebb44b6163
      x-mws-timestamp:
      - '2014-01-20T13:57:39.101Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>d0839481-4169-42a2-ab2f-78ebb44b6163</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:39 GMT
recorded_with: VCR 2.8.0
