---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A32Z&Signature=rgcPEAZQLN7GR7F%2BVqOlshVhgR5vmcQ18SltMcFbBzM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '73.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - iKOFy+E9hy9kEyzlnGxHC1R8V/IUiGsIK9Ve8CRLlAnYoduZGqJ4fzcXf9R8SSvhFfPYLAVbjA1/
        dycK+eHhuCY/rverbi0U, pqCLDyZoeNFqrfnok5Pn9pTyZcfY+LwxNoYNintP8nu30ZkK/8qMb6ssixJVwN4s/nFUOcwGtzA=
      x-amz-request-id:
      - f4ebaaed-2ab7-47cd-8783-706b35a7b8c2
      x-mws-request-id:
      - f4ebaaed-2ab7-47cd-8783-706b35a7b8c2
      x-mws-timestamp:
      - '2014-01-20T14:06:33.485Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>52275</Count></GetReportCountResult><ResponseMetadata><RequestId>f4ebaaed-2ab7-47cd-8783-706b35a7b8c2</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:06:39 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A39Z&Signature=b06OCKTAdyDCwmgK2DTj%2FrNAu1%2FjpgwREVjge6yJZfk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '70.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:07:00 UTC
      x-mws-response-context:
      - MC50X1tnispv3puAiGuB23XH3SrjpLwoRgVw3Y/XRlog104ODwcyDthMJb7iwn3rVjw8vwgkRs0I
        bLURPl40Cq4uQWnYo0o4, OZoAPVq33YP65De5ScG5LHA89TVFuwtaTH8g0hYowti9aVN8GN4B6c97VhMghZXeQogyh+ZDUmr7
        j4+DgzHOhQ==
      x-amz-request-id:
      - 5d380d20-7714-4dee-b498-b2a30c3830e2
      x-mws-request-id:
      - 5d380d20-7714-4dee-b498-b2a30c3830e2
      x-mws-timestamp:
      - '2014-01-20T14:06:40.014Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21789</Count></GetReportCountResult><ResponseMetadata><RequestId>5d380d20-7714-4dee-b498-b2a30c3830e2</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:06:43 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A43Z&Signature=e%2F8jHnZjbP9ORGlHidFuzR7ryjiXIGCrQcPYmgrMfFg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '77.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - rvv0IllGH7oHpG92KuEzeMv14pWVkczpcSVpOXvR7otp+Ztg0S9MdqwrmIVQjKCnLqzuJspqNSop
        mkTAaaRomHt+qeFdRtqn, Bnxwa0MbPFYjZ14AXOOtEWTkaye/f6+CW3Wf5uo1Y4u3mrCOil5QW0MAcDJS0RULiMuxxSmZuwKE
        rAphgZZdLQ==
      x-amz-request-id:
      - 4b82c4c3-174a-4749-a848-e2bc4a5e704c
      x-mws-request-id:
      - 4b82c4c3-174a-4749-a848-e2bc4a5e704c
      x-mws-timestamp:
      - '2014-01-20T14:06:44.899Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>21382</Count></GetReportCountResult><ResponseMetadata><RequestId>4b82c4c3-174a-4749-a848-e2bc4a5e704c</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Mon, 20 Jan 2014 14:06:48 GMT
recorded_with: VCR 2.8.0
