# Bundler
.bundle
Gemfile.lock
gemfiles/*.gemfile.lock

# Generated documentation
.yardoc
doc/

# Test artifacts
test/config.json

# Build artifacts
pkg/
vendor/

# Downloaded external models
selling-partner-api-models/
