---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetFeedSubmissionCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A51%3A04Z&Signature=UVc265rh%2FqXtl7QZB8IDW7e%2FzZuThfRDoJuLH2C9smU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '77.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - DtDnjK0Y9RDL/g+PZLAWOp+XiYYbLxDj+si9OS5DFnY/gmT1GVptspRCknD61gw9zK90a8SmFjQs
        Nxf0AlAiViK2r1sc0l89, F6xb1JaP9kw/fCev/OiHPNReQ4KXQhZfs0YAzX8eJhmK5wfeeKpZMXFFvadcaCthdbpZRkYtPeBu
        vgPZfSEMAw==
      x-amz-request-id:
      - a8f26cf9-0783-4127-939b-84a4bc10fc96
      x-mws-request-id:
      - a8f26cf9-0783-4127-939b-84a4bc10fc96
      x-mws-timestamp:
      - '2014-01-20T13:51:05.137Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>51502</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>a8f26cf9-0783-4127-939b-84a4bc10fc96</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:51:27 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetFeedSubmissionCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A51%3A27Z&Signature=KaGKx6Ropj9VzgOneXaaxI7ul45T9QoeppOuC03LBsM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - dyo1VEinMC657VvUsEg9nETbnYa+ALWP+HCVNRLjYy3p86D8Ad8guF4wYyuxu1xkymh2Sksnp6Jt
        s7Fr/D30a2qxRyXy8e6l, csZzIb1nE+jAxTapAXUw0UBAongC/ugHi/4Ho3zcrS0dT2RI6YLnVeyHwaAYLeuc4g6ThKrSmwdr
        yVQeKjMY2Q==
      x-amz-request-id:
      - 1f323682-9675-40f6-8fb2-15bba285f790
      x-mws-request-id:
      - 1f323682-9675-40f6-8fb2-15bba285f790
      x-mws-timestamp:
      - '2014-01-20T13:51:28.650Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>21062</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>1f323682-9675-40f6-8fb2-15bba285f790</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:51:47 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetFeedSubmissionCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A51%3A47Z&Signature=JRp%2BzHSqdMCL5vazXUMDs7vo7klVsP2LjHUsmp2Lovs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - IweRHGN6qI/mpX7YKZTtAyGyxwTcncAPii1/sZfod1f5RCNbiK7QRnvFQOYkJFPJ/TQohNrNC2jJ
        I6lZBWZrQNYJxXySC6BQ, A40ZVWX73L2wacnaylAR0AB/12x0DMCeJVrqkKfum/mZp1UaUwdlLBXf0b9XWh8Sj9rDI0wSG6Qz
        iLLNFuSI6Q==
      x-amz-request-id:
      - f45d1734-069b-41a6-a9b0-a9e42a01efab
      x-mws-request-id:
      - f45d1734-069b-41a6-a9b0-a9e42a01efab
      x-mws-timestamp:
      - '2014-01-20T13:51:48.163Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>20654</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>f45d1734-069b-41a6-a9b0-a9e42a01efab</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:52:00 GMT
recorded_with: VCR 2.8.0
