---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - XQ7MK03AJK9X1AAPK2W4
      X-Amzn-Requestid:
      - 98df730c-4c31-4dd9-aecc-5da0b13e9fa9
      X-Amz-Date:
      - Fri, 13 Sep 2024 14:55:39 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Fri, 13 Sep 2024 14:55:35 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/listings/2021-08-01/restrictions?asin=188864544X&conditionType=new_new&marketplaceIds=A1F83G8C2ARO7P&sellerId=A34PPN1ZLYCOGT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240913T145535Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - KG0RQ6S468NDBQNZD389
      X-Amzn-Ratelimit-Limit:
      - '5.0'
      X-Amzn-Requestid:
      - 2f48d06d-52e6-42a5-86ad-4ff599eab08c
      X-Amz-Apigw-Id:
      - OPF2f48d06d52e6
    body:
      encoding: UTF-8
      string: |2

          {"restrictions":[]}
  recorded_at: Fri, 13 Sep 2024 14:55:35 GMT
recorded_with: VCR 6.3.1
