---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - VR3WA4YY10VS4H267RJW
      X-Amzn-Requestid:
      - 7e303526-2e9d-4aae-aa01-7208e16984b4
      X-Amz-Date:
      - Thu, 12 Sep 2024 08:56:34 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 12 Sep 2024 08:56:31 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/products/pricing/v0/items/B0CHXFCYCR/offers?ItemCondition=New&MarketplaceId=A1F83G8C2ARO7P
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240912T085631Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - XY6JT7VF10MG34V1Q357
      X-Amzn-Ratelimit-Limit:
      - '0.5'
      X-Amzn-Requestid:
      - a14e27af-eb72-4c4c-b0a0-9984faf8679e
      X-Amz-Apigw-Id:
      - OPFa14e27afeb72
    body:
      encoding: UTF-8
      string: "{\n  \"payload\":{\n        \"ASIN\": \"B0CHXFCYCR\",\n                \"status\":
        \"Success\",\n            \"ItemCondition\": \"New\",\n            \"Identifier\":
        {\n    \"MarketplaceId\": \"A1F83G8C2ARO7P\",\n    \"ItemCondition\": \"New\"\n
        \           ,\"ASIN\": \"B0CHXFCYCR\"\n                      },\n            \"Summary\":
        {\n\n                  \"LowestPrices\": [\n                            {\n
        \         \"condition\": \"new\",\n          \"fulfillmentChannel\": \"Amazon\",\n
        \                                                         \"LandedPrice\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        681.00\n                      },\n                      \"ListingPrice\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        681.00\n                      }\n                                  , \"Shipping\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        0.00\n                      }\n                                  }\n            ,
        \                   {\n          \"condition\": \"used\",\n          \"fulfillmentChannel\":
        \"Amazon\",\n                                                          \"LandedPrice\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        638.74\n                      },\n                      \"ListingPrice\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        638.74\n                      }\n                                  , \"Shipping\":
        {\n                        \"CurrencyCode\": \"GBP\",\n            \"Amount\":
        0.00\n                      }\n                                  }\n                                    ],\n
        \     \n                        \"BuyBoxPrices\": [\n                                            {\n
        \                   \"condition\": \"New\"\n                                                                                                    ,\"LandedPrice\":
        {\n                                        \"CurrencyCode\": \"GBP\",\n                    \"Amount\":
        681.00\n                                        }\n                                        ,\"ListingPrice\":
        {\n                                      [...]
