---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - AJNDT9WKXKHE5ZQ65SEX
      X-Amzn-Requestid:
      - d2a491e5-7c2b-4d98-94bd-beac0021c8df
      X-Amz-Date:
      - Tue, 10 Sep 2024 11:27:26 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Tue, 10 Sep 2024 11:27:24 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/products/pricing/v0/competitivePrice?Asins=188864544X&ItemType=Asin&MarketplaceId=A1F83G8C2ARO7P
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token: FILTERED
      X-Amz-Date:
      - 20240910T112724Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - VEWV6193J1TT633730EB
      X-Amzn-Ratelimit-Limit:
      - '0.5'
      X-Amzn-Requestid:
      - 8c289de2-2267-4852-9c3e-bd51a3f8a83f
      X-Amz-Apigw-Id:
      - OPF8c289de22267
    body:
      encoding: UTF-8
      string: '{"payload":[{"ASIN":"188864544X","Product":{"CompetitivePricing":{"CompetitivePrices":[{"belongsToRequester":true,"condition":"New","subcondition":"New","Price":{"LandedPrice":{"CurrencyCode":"GBP","Amount":399.94},"ListingPrice":{"CurrencyCode":"GBP","Amount":399.94},"Shipping":{"CurrencyCode":"GBP","Amount":0}},"CompetitivePriceId":"1"}],"NumberOfOfferListings":[{"condition":"New","Count":2},{"condition":"Any","Count":2}]},"Identifiers":{"MarketplaceASIN":{"MarketplaceId":"A1F83G8C2ARO7P","ASIN":"188864544X"}},"SalesRankings":[]},"status":"Success"}]}'
  recorded_at: Tue, 10 Sep 2024 11:27:24 GMT
recorded_with: VCR 6.3.1
