---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - ETSQ1B8YK78XVX13F1E9
      X-Amzn-Requestid:
      - fa37fb0b-fbd9-452f-9e6e-58372c514951
      X-Amz-Date:
      - Thu, 12 Sep 2024 09:13:15 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 12 Sep 2024 09:13:13 GMT
- request:
    method: post
    uri: https://sellingpartnerapi-eu.amazon.com/batches/products/pricing/v0/itemOffers
    body:
      encoding: UTF-8
      string: '{"requests":[{"uri":"/products/pricing/v0/items/B0CHXFCYCR/offers","method":"GET","MarketplaceId":"A1F83G8C2ARO7P","ItemCondition":"New"},{"uri":"/products/pricing/v0/items/B0CHXFCYCR/offers","method":"GET","MarketplaceId":"A1F83G8C2ARO7P","ItemCondition":"Used"}]}'
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240912T091313Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - 9GK5FPR898SW9ZCY9P4G
      X-Amzn-Ratelimit-Limit:
      - '0.1'
      X-Amzn-Requestid:
      - d95acb12-8ce3-4844-aa53-55573569ebd6
      X-Amz-Apigw-Id:
      - OPFd95acb128ce3
    body:
      encoding: UTF-8
      string: "{\n  \"responses\": [\n      {\n      \"headers\": {\n                        \"x-amzn-RequestId\":
        \"4ce891cc-3cb6-4d61-b814-ea77031c0071\"\n          ,                  \"Date\":
        \"Thu, 12 Sep 2024 09:13:16 GMT\"\n                              },\n      \"status\":
        {\n        \"statusCode\": 200,\n        \"reasonPhrase\": \"OK\"\n      },\n
        \             \"body\": {\"payload\":{\"marketplaceId\":\"A1F83G8C2ARO7P\",\"Identifier\":{\"ASIN\":\"B0CHXFCYCR\",\"MarketplaceId\":\"A1F83G8C2ARO7P\",\"ItemCondition\":\"New\"},\"ASIN\":\"B0CHXFCYCR\",\"Summary\":{\"BuyBoxEligibleOffers\":[{\"condition\":\"new\",\"fulfillmentChannel\":\"Amazon\",\"OfferCount\":1},{\"condition\":\"used\",\"fulfillmentChannel\":\"Amazon\",\"OfferCount\":4}],\"LowestPrices\":[{\"condition\":\"new\",\"fulfillmentChannel\":\"Amazon\",\"LandedPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":681.0},\"Shipping\":{\"CurrencyCode\":\"GBP\",\"Amount\":0.0},\"ListingPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":681.0}},{\"condition\":\"used\",\"fulfillmentChannel\":\"Amazon\",\"LandedPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":638.74},\"Shipping\":{\"CurrencyCode\":\"GBP\",\"Amount\":0.0},\"ListingPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":638.74}}],\"BuyBoxPrices\":[{\"condition\":\"New\",\"LandedPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":681.0},\"Shipping\":{\"CurrencyCode\":\"GBP\",\"Amount\":0.0},\"ListingPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":681.0}},{\"condition\":\"Used\",\"LandedPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":638.74},\"Shipping\":{\"CurrencyCode\":\"GBP\",\"Amount\":0},\"ListingPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":638.74}}],\"CompetitivePriceThreshold\":{\"CurrencyCode\":\"GBP\",\"Amount\":685.0},\"NumberOfOffers\":[{\"condition\":\"new\",\"fulfillmentChannel\":\"Amazon\",\"OfferCount\":1},{\"condition\":\"used\",\"fulfillmentChannel\":\"Amazon\",\"OfferCount\":4}],\"ListPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":582.5},\"TotalOfferCount\":5,\"SalesRankings\":[{\"Rank\":497,\"ProductCategoryId\":\"ce_display_on_website\"},{\"Rank\":11,\"ProductCategoryId\":\"356496011\"}]},\"Offers\":[{\"ShippingTime\":{\"minimumHours\":0,\"maximumHours\":0,\"availabilityType\":\"NOW\"},\"IsFulfilledByAmazon\":true,\"ListingPrice\":{\"CurrencyCode\":\"GBP\",\"Amount\":681.0},\"IsBuyBoxWinner\":true,\"SellerId\":\"A3P5ROKL5A1OLE\",\"Shipping\":{\"CurrencyCode\":\"GBP\",\"Amount\":0.0},\"SubCondition\":\"new\",\"IsFeaturedMerchant\":true,\"SellerFeedbackRating\":{\"FeedbackCount\":0,\"SellerPositiveFeedbackRating\":0.0},\"PrimeInformation\":{\"IsPrime\":true,\"IsNationalPrime\":true}}],\"status\":\"Success\",\"ItemCondition\":\"New\"}}\n
        \           ,\"request\": {\n                                    \"MarketplaceId\":
        \"A1F83G8C2ARO7P\"\n            ,                      \"ItemCondition\":
        \"New\"\n                                ,\n                \"Asin\":       \"B0CHXFCYCR\"\n
        \             }   \n    },      {\n      \"headers\": {\n                        \"x-amzn-RequestId\":
        \"e883a0b4-e60b-4282-9c5e-9e3a516edc10\"\n          ,                  \"Date\":
        \"Thu, 12 Sep 2024 09:13:15 GMT\"\n                              },\n      \"status\":
        {\n        \"statusCode\": 200,\n        \"reasonPhrase\": \"OK\"\n      },\n
        \             \"body\": {\"payload\":{\"marketplaceId\":\"A1F83G8C2ARO7P\",\"Identifier[...]
