---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - K22Q06S3WXQN6M9GPQ0Z
      X-Amzn-Requestid:
      - 91645d9f-ecea-485b-8465-bbf69fd226a5
      X-Amz-Date:
      - Thu, 12 Sep 2024 19:42:16 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 12 Sep 2024 19:42:16 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/reports/2021-06-30/reports?reportTypes=GET_MERCHANTS_LISTINGS_FYP_REPORT
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240912T194216Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - 3BW7SGBZGR40TK66B6NG
      X-Amzn-Ratelimit-Limit:
      - '0.0222'
      X-Amzn-Requestid:
      - 3e1ffeef-efd0-4738-809d-356947445f5f
      X-Amz-Apigw-Id:
      - OPF3e1ffeefefd0
    body:
      encoding: UTF-8
      string: '{"reports":[{"reportType":"GET_MERCHANTS_LISTINGS_FYP_REPORT","processingEndTime":"2024-09-12T19:41:13+00:00","processingStatus":"DONE","marketplaceIds":["A1F83G8C2ARO7P"],"reportDocumentId":"amzn1.spdoc.1.4.eu.00051127-bd5b-48ff-ab6a-6d76c9061260.TXVRX1WISIZWM.5900","reportId":"292248019978","dataEndTime":"2024-09-12T19:40:59+00:00","createdTime":"2024-09-12T19:40:59+00:00","processingStartTime":"2024-09-12T19:41:02+00:00","dataStartTime":"2024-09-12T19:40:59+00:00"}]}'
  recorded_at: Thu, 12 Sep 2024 19:42:16 GMT
recorded_with: VCR 6.3.1
