---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A15Z&Signature=wiv1uedG5DsS3tLVyZCjy%2BjBZHTbW98lTOze5q9CCLs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - bm1VKoOFWZLdHD3b+9TG0OQ+cveFHw/UWcJDyZy9LEBABRkvJosYLd9Rvn/uHmB0e5vqSNUboddM
        ljQVn4c4arIGb98khkGn, OCYJE4Rnrx9JyoAcSQZve2Cu5m7LtQTcPhkR43f9siyH1z32WWEpKh27RnQWMkMQJprQjN0I7en5
        6/QULhS4TQ==
      x-amz-request-id:
      - 653d29f8-4e13-41b1-9fd5-88b496dae61c
      x-mws-request-id:
      - 653d29f8-4e13-41b1-9fd5-88b496dae61c
      x-mws-timestamp:
      - '2014-02-04T11:13:16.274Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionListResult><NextToken>M/470XArvp5mmFQFVAtP1Ygyll0Bti6tLwZxLuNJPUcNbfXE7IL+NB37NQxf/I+9OD3802JL9MwpjY7Z65AIOBE+OCUJ2kma/5eZksd4KLLRP2jw2urQeGSDzruQJPO942DmjvE9BVibTk9kCRvTnbq8xqAchQNKYnamQJi2hav5qOkmY4udx6YvbUbdibl+PzTz4NpC07CysucIsoZGAhoGMLAQW4JjVW91HWSwJygjizu493nBCfF4R4dAO9Pt23CnFjEgHOJlpJKhbkHmakAXVYuvN+9kps8xdVA2UfqpwB55lkCtmVDrmAl+0Av/bI3ybmxfeKydmn8vudpmhAabPwGKBP2SOGEHJ+z13YTT3vZ5DrSmwlWsoQ0giIDduxFazoXJlYZaMvbcKjOsKHlgrYGN+pAGeLANlcUEGFC+dQwu2Y3RZlCxcl/5RL+mM67jvae6c1OIZ6dOSC2M+atprNTCqAVaLHAdo0dx4gTiy1JidaGClQJ1b+XbSmYYcSVSTCmdw96Rw0sZWnBh0uh22HDxGVmI4JMUlHV8lYLHH+H/CBIeVnFFoPiPjWqx9GVuulwP6TEUz0oO6NFfrH0ncyfvPedqs4sFJ7R8QHmaVZcWhhwRAB2VYxzwfhx2HAR1diFsX/sVb00ExeqLuwbLH3IzR0clczS4i+IXF5ERI4ezguY0dP98nIyjCjACFYIkRfJ3WsNBIrKsASjtJCg+r6TPhWhRc3COY9hIKSDQapsRvOfG8A==</NextToken><HasNext>true</HasNext><FeedSubmissionInfo><FeedSubmissionId>9043428322</FeedSubmissionId><FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType><SubmittedDate>2014-02-04T10:59:36+00:00</SubmittedDate><FeedProcessingStatus>_DONE_</FeedProcessingStatus><StartedProcessingDate>2014-02-04T10:59:40+00:00</StartedProcessingDate><CompletedProcessingDate>2014-02-04T11:07:43+00:00</CompletedProcessingDate></FeedSubmissionInfo></GetFeedSubmissionListResult><ResponseMetadata><RequestId>653d29f8-4e13-41b1-9fd5-88b496dae61c</RequestId></ResponseMetadata></GetFeedSubmissionListResponse>
  recorded_at: Tue, 04 Feb 2014 11:13:16 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=9043428322&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A16Z&Signature=tDupDEjlt%2FF8gPmHMkYlTU0zNBq3MVXNKpLwcH%2FiG%2Fo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      Content-MD5:
      - QvZIF/eE4ikKzxPegCLhqQ==
      x-mws-response-context:
      - DtDnjK0Y9RDL/g+PZLAWOp+XiYYbLxDj+si9OS5DFnY/gmT1GVptspRCknD61gw9zK90a8SmFjQs
        Nxf0AlAiViK2r1sc0l89, PtwdBoDWW0AGXCbuYQ4uw+ytlMLpjYZZ+bI7rOh743CBKCCSp7wf+9xHRBVmM1P4KkhnLs2cG0o=
      x-amz-request-id:
      - faf49369-0bdd-4f3a-8539-cdf2a5582d7d
      x-mws-request-id:
      - faf49369-0bdd-4f3a-8539-cdf2a5582d7d
      x-mws-timestamp:
      - '2014-02-04T11:13:16.767Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t5298\n\tNumber
        of records successful\t\t5298\n\n"
  recorded_at: Tue, 04 Feb 2014 11:13:16 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A16Z&Signature=Yvx%2BIHrp8XCPjtatcnCUs4Flar70Qf7eK%2FN9SVvscA4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-respons[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=7652785028&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A17Z&Signature=ppkTg2IuYEYBA08VFdGqiDTbFvYJDLZQG60q%2FD32MR0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-MD5:
      - 0wGJcPOuP4ld14fqCxiZyg==
      x-mws-response-context:
      - 9+nu2hmCzE/raiHb3Y8Exys8BJhhgVneiXszPT3nBJXUsX+HmpQ6LUqUPrRSTEh0aW4s6YwenZ0w
        43WL33+BdgKjvngiGGVn, i33yGIMNB3QOGl1sWlfhMAbcN+4ELZE63QJQnuKByYf6W84AFZrEdJWIMsQksQNW2VPHsrp31Y30
        jMkqCwWN4w==
      x-amz-request-id:
      - 160d7804-eb46-42cd-b788-e154a737c952
      x-mws-request-id:
      - 160d7804-eb46-42cd-b788-e154a737c952
      x-mws-timestamp:
      - '2014-02-04T11:13:17.494Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AmazonEnvelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:noNamespaceSchemaLocation=\"amzn-envelope.xsd\">\n\t<Header>\n\t\t<DocumentVersion>3.00</DocumentVersion>\n\t\t<MerchantIdentifier>M_UNKNOWN_20653384</MerchantIdentifier>\n\t</Header>\n\t<MessageType>ProcessingReport</MessageType>\n\t<Message>\n\t\t<MessageID>1</MessageID>\n\t\t<ProcessingReport>\n\t\t\t<ProcessingReportType>OrderAdjustment</ProcessingReportType>\n\t\t\t<DocumentTransactionID>7652785028</DocumentTransactionID>\n\t\t\t<Summary
        MarketplaceName=\"All\">\n\t\t\t<StatusCode>Complete</StatusCode>\n\t\t\t<ProcessingSummary>\n\t\t\t\t<MessagesProcessed>1</MessagesProcessed>\n\t\t\t\t<MessagesSuccessful>1</MessagesSuccessful>\n\t\t\t\t<MessagesWithError>0</MessagesWithError>\n\t\t\t\t<MessagesWithWarning>0</MessagesWithWarning>\n\t\t\t</ProcessingSummary>\n\t\t\t</Summary>\n\t\t</ProcessingReport>\n\t</Message>\n</AmazonEnvelope>"
  recorded_at: Tue, 04 Feb 2014 11:13:17 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A17Z&Signature=hmXDkKM9nFxr%2BLgKhQ4ujN4R%2Brdh6owFiHFaiJATMno%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-respons[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=7652761430&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A17Z&Signature=gmI5wjwaPkCfDY33w8OqWQNAm1FbGGBtOj6Qb4VlhPQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-MD5:
      - f1HZEmjg0nv+JxxzNJ[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A18Z&Signature=WBBy1X4O3KhZf6Fq5WTiGSjZmxBI2cvoUqyw70u5eLI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-co[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=7651852618&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A18Z&Signature=LurAvyuCZmtiNjQtJ0WiC55O%2FjtNvfIJqhKUWGsdDjI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-MD5:
      - ctes1lmpGY237078[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A18Z&Signature=Id7C42Gj5jDzRcertHWb5uITu0hl1P5rmTKGFAjOX7U%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-co[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=7652732844&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A19Z&Signature=1wQ6eEiKUVUg5HvWDMFJD7Rnxlh9nE8CcCoJeIYp1Zc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-MD5:
      - XYmC5CtmBBWqPB8yWbnZ3Q==
      x-mws-response-context:
      - MC50X1tnispv3puAiGuB23XH3SrjpLwoRgVw3Y/XRlog104ODwcyDthMJb7iwn3rVjw8vwgkRs0I
        bLURPl40Cq4uQWnYo0o4, xhEdmliqjgX+lrqpO3nssPC+usBZSb/mHTSStYUogHJLEKzn8CZJkg5sIGv1IN/t2/eWNK57OptK
        aXBAxs6l+w==
      x-amz-request-id:
      - 942e636e-3e3d-4a94-8dc8-2299e8ae40fc
      x-mws-request-id:
      - 942e636e-3e3d-4a94-8dc8-2299e8ae40fc
      x-mws-timestamp:
      - '2014-02-04T11:13:19.345Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t6400\n\tNumber
        of records successful\t\t6400\n\n"
  recorded_at: Tue, 04 Feb 2014 11:13:19 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A19Z&Signature=%2BFxeFhS2IJ2%2BZp6NYTd3XFaL4mNdFHOchvA6RCTSroQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-respons[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=7652738838&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A19Z&Signature=5AQk0DRdPLAhIj%2FicbySkzH9v5BczrRDTnFhcDelZA0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-MD5:
      - R7Em/2e0gOcaq4Eg[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A20Z&Signature=pv03RgcxAulPbGmLDR7r5d1sKKFUcWLNQmayyhNfFCs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
    [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=847428513&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A21Z&Signature=DSGR7ZVeTU0ade%2FpSVUvfWhP8maaolOrdWi%2Bfi2l5c8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionList&FeedProcessingStatusList.Status.1=_DONE_&MaxCount=1&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A22Z&Signature=HIiSH8lm9KC7JJpCIj7VfbCoF%2B%2BAFEMeFKPXUd1Qrzc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionResult&FeedSubmissionId=9043495076&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A23Z&Signature=5Zp9CCERrSO%2Ft%2BbR85iZ5zarnZRIZf%2BF3JRnrQrA%2FNo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:20:00 UTC
      Content-MD5:
      - ZbeMKjeIKa7Gk02ChE1rTA==
      x-mws-response-context:
      - DtDnjK0Y9RDL/g+PZLAWOp+XiYYbLxDj+si9OS5DFnY/gmT1GVptspRCknD61gw9zK90a8SmFjQs
        Nxf0AlAiViK2r1sc0l89, QuMl+BLIEUoxkMzZmKb05SCtUR5IVN2/idtyMX+GZg1kFTn/wmfg3RIlYnvtjx2JgiKX27/kqFY=
      x-amz-request-id:
      - 45dfe071-66e3-4c09-8232-62115ad2a19a
      x-mws-request-id:
      - 45dfe071-66e3-4c09-8232-62115ad2a19a
      x-mws-timestamp:
      - '2014-02-04T11:13:23.385Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t394\n\tNumber
        of records successful\t\t394\n\n"
  recorded_at: Tue, 04 Feb 2014 11:13:23 GMT
recorded_with: VCR 2.8.0
