---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A34Z&Signature=ZRWv9soDiwgJvnvrYAzL%2ByO2ZPekddNAClmDp0%2Fpm2s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - s9EzAjxBPVkj7R8MS/+tITkB3+rZYMSrcSyI9D9I7CA5JE/wBP0etn3j817a0xt5RKx6LmyEkswJ
        lfk3W57iGNmjN4Kltzq/, juKFVTHjruPOkLCT7gk9wy28gMY81i+mVNIKPCQNWduT68h+axFkqNyeSBEMA4MAy9RnzoOww2Y=
      x-amz-request-id:
      - 88d72a08-a17d-4273-a1a4-c926a9198969
      x-mws-request-id:
      - 88d72a08-a17d-4273-a1a4-c926a9198969
      x-mws-timestamp:
      - '2014-02-04T11:13:34.462Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>24162</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>88d72a08-a17d-4273-a1a4-c926a9198969</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:13:41 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A41Z&Signature=mrN%2Fun%2Bkp7e1IPbqRU6q8%2Bugk80WOWlhljOyWAsglhk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - uRA54Yvl/ACX9Va1lCaU9e9gANABklUAcm0bqbtlhj6JCVjkHM//Bw81SNuHpGgLxNcbYDOW4u1N
        rpvHBQn7fM2MQrFyXWeB, 30DAYQs61gfvl6VDa7UM5bte35eE8f8P8IRF9y6OJc5VBzQdT/aCwz03mROb4uHIhQ4pNazVr1jP
        Swnu8ho6Ng==
      x-amz-request-id:
      - 665b238a-483f-443d-9612-15587a3c8129
      x-mws-request-id:
      - 665b238a-483f-443d-9612-15587a3c8129
      x-mws-timestamp:
      - '2014-02-04T11:13:41.571Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>22964</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>665b238a-483f-443d-9612-15587a3c8129</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:13:51 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A51Z&Signature=sowUUL5iILlVUKjJaBrlppk%2B54Hwn2VZBzqrjKJ%2F0Zo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - MC50X1tnispv3puAiGuB23XH3SrjpLwoRgVw3Y/XRlog104ODwcyDthMJb7iwn3rVjw8vwgkRs0I
        bLURPl40Cq4uQWnYo0o4, g9XlUKiVE1M6tK37WpOrCOVU5K2TN6IF6am2+syoa9RETLXSk9PtORxwvvL4OK+f3ftV6hOHS9HM
        yGw8VZf8FA==
      x-amz-request-id:
      - 5d6af107-9fdd-462b-b01d-8b2756a468de
      x-mws-request-id:
      - 5d6af107-9fdd-462b-b01d-8b2756a468de
      x-mws-timestamp:
      - '2014-02-04T11:13:51.848Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>24005</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>5d6af107-9fdd-462b-b01d-8b2756a468de</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:13:59 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A13%3A59Z&Signature=SKYGtlkEZY0SO78ZqrdQjHFpGIbnRALaGZ7QK9IcmJ4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - IORYGWLNvdMqB6QJMoCBQP4XrUxKK9UK1gS089F+NQir46Ol1XlTGPbSCHr9yVojWqW+sdUmRDfk
        K9o/ESp8mW8kCcGY3JdZ, I6s7Jzo5tgJ5nHJvzKW8x9y4jE/duBp9BV6XCNaopR2zjeNJpohwgHurH62yS5DYQkchHVAqkebs
        NzZSMLma4Q==
      x-amz-request-id:
      - cb188578-c0f9-4a8c-85de-bae99189f812
      x-mws-request-id:
      - cb188578-c0f9-4a8c-85de-bae99189f812
      x-mws-timestamp:
      - '2014-02-04T11:13:59.363Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>18702</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>cb188578-c0f9-4a8c-85de-bae99189f812</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:14:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A14%3A05Z&Signature=pWIVE2Rqw7WmgFSuGnzpB%2FNQWLBURqd3KcqVWUveD1c%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - IORYGWLNvdMqB6QJMoCBQP4XrUxKK9UK1gS089F+NQir46Ol1XlTGPbSCHr9yVojWqW+sdUmRDfk
        K9o/ESp8mW8kCcGY3JdZ, xhEdmliqjgX+lrqpO3nssPC+usBZSb/mHTSStYUogHJLEKzn8CZJkg5sIGv1IN/t2/eWNK57OptK
        aXBAxs6l+w==
      x-amz-request-id:
      - c9f21244-3813-434c-b10d-8dc96f2dfe6b
      x-mws-request-id:
      - c9f21244-3813-434c-b10d-8dc96f2dfe6b
      x-mws-timestamp:
      - '2014-02-04T11:14:05.955Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>23146</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>c9f21244-3813-434c-b10d-8dc96f2dfe6b</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:14:14 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A14%3A14Z&Signature=0SGJhBYzeFFkngn1H4DlA%2FzARhS778q5UdRwWetT5G4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - 05zr2coTFLMhroyEp0rSuSeBGaGSv/dIm6pioMRfZGArU6gbNoHhnIFjpiIf2aR/ZUFC+DmYAUqG
        vCG36qxgC2sYH9ABDKkd, 4GgHy+DefVcdmkQ1BV0nhSHHcp09hs62rBleyrE7GLs5YZ3027cp9WLHuM0gQt9xnl4lYXQHE24k
        yVohv7Rwjw==
      x-amz-request-id:
      - a884a8f9-a5a2-4646-8c50-39d1a26227e3
      x-mws-request-id:
      - a884a8f9-a5a2-4646-8c50-39d1a26227e3
      x-mws-timestamp:
      - '2014-02-04T11:14:14.712Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>22545</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>a884a8f9-a5a2-4646-8c50-39d1a26227e3</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:14:22 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A14%3A22Z&Signature=PIl8%2FgS3mA9QiYiV9paKmv3JZWFGvwXPyLT1JkGVcI8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '77.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:47:00 UTC
      x-mws-response-context:
      - IweRHGN6qI/mpX7YKZTtAyGyxwTcncAPii1/sZfod1f5RCNbiK7QRnvFQOYkJFPJ/TQohNrNC2jJ
        I6lZBWZrQNYJxXySC6BQ, 6ib4ahfiF8Uw3sBPFHXFaPgB1au6ofvYU63F5OR/1ZjbbfeiP0w2W+5NGMaZL48IAmTol2dj1Ups
        v1N5jpHd7g==
      x-amz-request-id:
      - fcc0fee6-7dc2-43db-add2-8e5d191693cb
      x-mws-request-id:
      - fcc0fee6-7dc2-43db-add2-8e5d191693cb
      x-mws-timestamp:
      - '2014-02-04T11:14:22.823Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>24136</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>fcc0fee6-7dc2-43db-add2-8e5d191693cb</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:14:28 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetFeedSubmissionCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A14%3A28Z&Signature=vRhfPnh35q0ReOkyv9H1xn8miglvns%2B5Bm66VkFwg%2Fs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '75.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:20:00 UTC
      x-mws-response-context:
      - "/yIlMSop1Iu6cAtXOJ0RHEd2HfDCFBcaBUmC7wcDozE0BTXoZSvOsUe3KsMm3rt7mf3f9Fl3o7V6
        yj3bOZQty9nWs7JGWDrj, uJUSkQFXFNpw7Mi9/7gscbUvJBIS7sivgUbov8irQhP0RW3kIq9HJmZeVAZgBnFl4/945w96JI4e
        BQYeNoIxOQ=="
      x-amz-request-id:
      - 0ba7bba9-1565-420a-972c-d96c6c9c2bfd
      x-mws-request-id:
      - 0ba7bba9-1565-420a-972c-d96c6c9c2bfd
      x-mws-timestamp:
      - '2014-02-04T11:14:29.356Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>46984</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>0ba7bba9-1565-420a-972c-d96c6c9c2bfd</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:14:40 GMT
recorded_with: VCR 2.8.0
