---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - E6W8DDSC4FSWZC5CNZNS
      X-Amzn-Requestid:
      - a3d0d629-5e1c-4405-af49-96bb8d2e7305
      X-Amz-Date:
      - Fri, 13 Sep 2024 18:07:53 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Fri, 13 Sep 2024 18:07:53 GMT
- request:
    method: get
    uri: https://sellingpartnerapi-eu.amazon.com/listings/2021-08-01/items/A34PPN1ZLYCOGT/SKU123?includedData=attributes,issues&marketplaceIds=A1F83G8C2ARO7P
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240913T180753Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - PAFZGGKVN5ENSTJGRBS4
      X-Amzn-Ratelimit-Limit:
      - '5.0'
      X-Amzn-Requestid:
      - 0551f265-8781-47f6-899e-6ff19541c384
      X-Amz-Apigw-Id:
      - OPF0551f2658781
    body:
      encoding: UTF-8
      string: |2

          {"sku":"SKU123","attributes":{"condition_type":[{"value":"new_new","marketplace_id":"A1F83G8C2ARO7P"}],"merchant_suggested_asin":[{"value":"188864544X","marketplace_id":"A1F83G8C2ARO7P"}],"merchant_shipping_group":[{"value":"legacy-template-id","marketplace_id":"A1F83G8C2ARO7P"}],"fulfillment_availability":[{"fulfillment_channel_code":"DEFAULT","quantity":1,"lead_time_to_ship_max_days":3,"marketplace_id":"A1F83G8C2ARO7P"}],"purchasable_offer":[{"currency":"GBP","audience":"ALL","our_price":[{"schedule":[{"value_with_tax":400.0}]}],"maximum_seller_allowed_price":[{"schedule":[{"value_with_tax":450.0}]}],"minimum_seller_allowed_price":[{"schedule":[{"value_with_tax":350.0}]}],"marketplace_id":"A1F83G8C2ARO7P"}]},"issues":[]}
  recorded_at: Fri, 13 Sep 2024 18:07:53 GMT
recorded_with: VCR 6.3.1
