---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - 0T0KJDYMKPG8G00X865F
        X-Amzn-Requestid:
          - b4202d3d-f8f3-41f9-84fc-fcb807e47e5e
        X-Amz-Date:
          - Fri, 13 Sep 2024 22:24:31 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Fri, 13 Sep 2024 22:24:31 GMT
  - request:
      method: patch
      uri: https://sellingpartnerapi-eu.amazon.com/listings/2021-08-01/items/A34PPN1ZLYCOGT/SKU123?includedData=issues&marketplaceIds=A1F83G8C2ARO7P
      body:
        encoding: UTF-8
        string: '{"productType":"PRODUCT","patches":[{"op":"replace","path":"/attributes/purchasable_offer","value":[{"currency":"GBP","our_price":[{"schedule":[{"value_with_tax":399.99}]}]}]}]}'
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240913T222431Z
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - ZV0N3FFAYSZDNQEWZWA0
        X-Amzn-Ratelimit-Limit:
          - "5.0"
        X-Amzn-Requestid:
          - 54921441-6350-499f-9a93-5c0292c87637
        X-Amz-Apigw-Id:
          - OPF549214416350
      body:
        encoding: UTF-8
        string: |2

          {"sku":"SKU123","status":"ACCEPTED","submissionId":"7afea06c396945a09266774570f3caf4","issues":[]}
    recorded_at: Fri, 13 Sep 2024 22:24:32 GMT
recorded_with: VCR 6.3.1
