---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A01Z&Signature=wAKW7AKuwim%2B7fOO6mIL2PYS4WfclZifHOeDl8FU%2FNg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 15:20:00 UTC
      x-mws-response-context:
      - s9EzAjxBPVkj7R8MS/+tITkB3+rZYMSrcSyI9D9I7CA5JE/wBP0etn3j817a0xt5RKx6LmyEkswJ
        lfk3W57iGNmjN4Kltzq/, khKY/1CbFqt9FOqANmHAMjJw70wtlHBPBKamiCh4bSfInOo1cMhX4MZWG4zmQykMjXrXdFnGEzo=
      x-amz-request-id:
      - 077d4abd-414c-4456-ba49-cf7226ecf821
      x-mws-request-id:
      - 077d4abd-414c-4456-ba49-cf7226ecf821
      x-mws-timestamp:
      - '2014-01-20T14:31:01.985Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListResult><NextToken>9mk8Foa4rkQD2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQ1q7+biy1IyF130dcAIezsKtggkW5lERV7B+2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14580626983</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8926957502</ReportRequestId><AvailableDate>2014-01-20T14:21:35+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14580416673</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8926642540</ReportRequestId><AvailableDate>2014-01-20T14:04:02+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14580375073</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8927491738</ReportRequestId><AvailableDate>2014-01-20T14:01:19+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReport&ReportId=14580626983&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A09Z&Signature=Z1QS36fhtveD6nRApGTkgFXqFTxol1qTpv%2B1Y2%2BlB%2BQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 15:20:00 UTC
      Content-MD5:
      - ajU4HCxjvsUBKbvgMtk26g==
      x-mws-response-context:
      - xNt4vqurtXpX4RH2EP6g1U/0FuvOc4H071e5TjSmN6dEESYIvC49+QxiBBATZAN3FTUMLvhEgxHu
        D4TnFkFN0Hf3J1tB0jmo, B4vmP+4C7fSeeIv4ViOo7AY7H1MZKuoFQWLXCN1if/qhxyxhcP2zAyfPEhGerUXoYO1Yj36ZQgKA
        whWfr9qUxg==
      x-amz-request-id:
      - 5b9dcac7-2885-4fdb-93d4-8d0d7f9f3dc0
      x-mws-request-id:
      - 5b9dcac7-2885-4fdb-93d4-8d0d7f9f3dc0
      x-mws-timestamp:
      - '2014-01-20T14:31:09.163Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t3673\n\tNumber
        of records successful\t\t3673\n\n"
  recorded_at: Mon, 20 Jan 2014 14:31:09 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A09Z&Signature=DzMT46JlkkMVPHByoed7z32o9ZvmUHNNGC9c1S5g5LE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReport&ReportId=30118528924&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A14Z&Signature=OxslanOEe2DhUipc7jFaWaamiGy%2FLCljDep0jwWX5MQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 15:07:00 UTC
      Content-MD5:
      - ekwsC+lYrUSXcHEjwGAePA==
      x-mws-response-context:
      - asQaTKPDniwZ8wbqARpQc8BhAV638jISuY3f8Maz7Hx/12JjE1Mb5iy0MRZE2kHykXcHnHszW3LD
        rWkwPRUjKFCuE/rtlAnu, bL0C2D8DUoPOl55U3x8wIUIEfnfJ/IBRFZfT3B6GsKkDkv/bwt1XYxjW3TL6XZSj8BuFGZx22XtU
        ncSvIMbh1g==
      x-amz-request-id:
      - 5b18b036-9c95-498a-a205-5fda78d82818
      x-mws-request-id:
      - 5b18b036-9c95-498a-a205-5fda78d82818
      x-mws-timestamp:
      - '2014-01-20T14:31:14.757Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t8799\n\tNumber
        of records successful\t\t8799\n\n"
  recorded_at: Mon, 20 Jan 2014 14:31:15 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A15Z&Signature=wih9c3lE3YbC4UQTGSG5Zv28qlFgtZEnA687VNAXM1Q%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '58.0'
     [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReport&ReportId=3476062265&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A31%3A21Z&Signature=789L%2BVmIKg8ZkKZvHjTnlJNPFsmOzYG5ydHpelmpRzo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
  [...]
