---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A29%3A39Z&Signature=LLE9cAlZ4ZC2l%2Btumrsmj8g%2BRN0ZTIbI9GcJUMwnKY0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 11:03:00 UTC
      x-mws-response-context:
      - lQWb/upS68tbmDANqMIBMlZ/kp4DlaO5Rm+3s6uKqSOgTFPoivquyNKa8BFGY8LMBgAZz3hdBuZe
        lQAvNVkwJd8uFbyIKyox, 5WdReQ3cbX3hhs+7lXzUaGrChMpnCCcvvlorignFsgMQWxFqonjUfGXIspXBouhy2xxbk4nSoyA=
      x-amz-request-id:
      - c0dc562c-460a-4575-a12a-171682a86f65
      x-mws-request-id:
      - c0dc562c-460a-4575-a12a-171682a86f65
      x-mws-timestamp:
      - '2014-02-06T10:29:41.748Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>607</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>c0dc562c-460a-4575-a12a-171682a86f65</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:29:47 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A29%3A47Z&Signature=n2KMnWC5iHRH0nRnqc%2BzMbpBsgSBiLxAjZzoF8wjv9g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 11:19:00 UTC
      x-mws-response-context:
      - cDI99DXCnaSTzU3aSNy6WZbYsglz6VC3TRR43kMG5DlE1QJcOH/LZwwf90hY26s/gSHeZQVZgt0t
        73mZKcYEuL1X0Gb2ulAK, o++USyvnsX8PCKtFEhOdH6x6FWmcjY2WSdW/8TBmTIl9SNUb5rK969dppFn3ttMftYx1PhsmHdZV
        wD4hC6GCXA==
      x-amz-request-id:
      - 2016504a-4ba5-4c43-bb9e-8c6446c3b325
      x-mws-request-id:
      - 2016504a-4ba5-4c43-bb9e-8c6446c3b325
      x-mws-timestamp:
      - '2014-02-06T10:29:47.301Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>635</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>2016504a-4ba5-4c43-bb9e-8c6446c3b325</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:29:51 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A29%3A51Z&Signature=xYSnMuHpjWZs4JdAMRKPg1zgR76tDyLLYTsS4Um71AQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 11:11:00 UTC
      x-mws-response-context:
      - 7Uv/5TgcRtozWsdSX08F7Kb5ZbPozb+qtSzhozayog9kvWVG3Nw+XQhcLBzgVgqzvQHNBbbh+0D6
        emC+Lr1etK7Ow6Wykzf6, eEg1qFeFTTiRxbQoMVM2W2Sa/+QQijLowfKJO+FEfWHSmjQ8neeO8BcR9FSAbYy/KxLUd4zu425c
        X/rRXzD5dg==
      x-amz-request-id:
      - 1aef6d0f-2013-43b4-8fa0-9b6b23bf1f73
      x-mws-request-id:
      - 1aef6d0f-2013-43b4-8fa0-9b6b23bf1f73
      x-mws-timestamp:
      - '2014-02-06T10:29:52.064Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>626</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>1aef6d0f-2013-43b4-8fa0-9b6b23bf1f73</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:29:56 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A29%3A56Z&Signature=yeCm4MrNzXoqKmDrWxCmHcM%2BIztkRK4gDU%2Bxvd%2FSacg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 10:47:00 UTC
      x-mws-response-context:
      - cDI99DXCnaSTzU3aSNy6WZbYsglz6VC3TRR43kMG5DlE1QJcOH/LZwwf90hY26s/gSHeZQVZgt0t
        73mZKcYEuL1X0Gb2ulAK, DsOOJ2iCe/WZJa/8Y2FyshEg01e4bhNcUwhcRq8uuQUPXZR1aZ3INLJfNF9pT19MBR8qmup/jcHW
        KB0n0omO9w==
      x-amz-request-id:
      - 61f44686-1472-4f10-b7c9-ea4065254804
      x-mws-request-id:
      - 61f44686-1472-4f10-b7c9-ea4065254804
      x-mws-timestamp:
      - '2014-02-06T10:29:56.312Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>608</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>61f44686-1472-4f10-b7c9-ea4065254804</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:30:00 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A30%3A00Z&Signature=LfBfdOtZu4HUK6gOUtVN6TWQYzcdrylOIt61dVU3emo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 11:07:00 UTC
      x-mws-response-context:
      - D/sxwcOyALqFhtJK56xAsWAorv8OBM2yBbbN6f2EeNi6WcHoH1PR+RkqSAaqrm9DMiz6P98OJuQR
        /n806oaiteqUVzQMzuuG, tJMlPKf5DhDmUVmDB8GL5Azp2QrFy1UQFQUYT2AxGmxsyEGap0P0hfPe6HyxRhg1knVlP+XESYrM
        Zp0T5t1bmw==
      x-amz-request-id:
      - 7b339a8d-7306-4b3e-8e9c-b2adcc4bb023
      x-mws-request-id:
      - 7b339a8d-7306-4b3e-8e9c-b2adcc4bb023
      x-mws-timestamp:
      - '2014-02-06T10:30:00.800Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>617</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>7b339a8d-7306-4b3e-8e9c-b2adcc4bb023</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:30:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A30%3A05Z&Signature=fIYfV31zD1D3cgkdegV5YabV2XsydHdUpdBv5%2BrUVA0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 10:54:00 UTC
      x-mws-response-context:
      - onUjY64Mu6ir8TkLDkrnWI6dZfP1BOuqE4FuIn3ZGmreePd2ZVBGXjUf5uBVKxxs6HxIpl62KeTn
        38a8mhtOp2mIDAjlatQs, OtyVw/+rFUZATuEiRqi/NQygvQ9vVatqbvssxEQ3RwOiSO61b/+woqM0ZIE3S81gxoq5O+BBZajo
        sIRT3uxh+A==
      x-amz-request-id:
      - 6eaae324-ba16-4e71-85a9-b00aca89eb84
      x-mws-request-id:
      - 6eaae324-ba16-4e71-85a9-b00aca89eb84
      x-mws-timestamp:
      - '2014-02-06T10:30:05.305Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>630</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>6eaae324-ba16-4e71-85a9-b00aca89eb84</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:30:09 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A30%3A09Z&Signature=lOAdkCSriVEBaZgVLiwRZOl%2FhbW%2FKEa2tJ%2FDD3nXUBk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 10:47:00 UTC
      x-mws-response-context:
      - X9goShATeCG+hL6BPTbg1wG4s5VSNxN2QDOTtl3K0ID96yduST2q9QCvpjH4liGI4fqQ/l4Asfn7
        tRqeDdQWaGTO+0/mDdcc, Vn1j2qZuxISkPv5GUtLsvWTDRwAmK1Xq+W+lQeXHDOa/VVfczJx3OUlleOv5TLJAB4KTh9xkWCXy
        qvTLtRViiQ==
      x-amz-request-id:
      - 636dc76e-3a18-4b31-9bfc-7f76677cdd08
      x-mws-request-id:
      - 636dc76e-3a18-4b31-9bfc-7f76677cdd08
      x-mws-timestamp:
      - '2014-02-06T10:30:10.580Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>609</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>636dc76e-3a18-4b31-9bfc-7f76677cdd08</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:30:13 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportRequestCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T10%3A30%3A13Z&Signature=G16cpmm2bSj%2Be5AG2vSItTSdQSlX4L5u4%2B9mX%2F2C%2F%2Bg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Thu,06 Feb 2014 11:20:00 UTC
      x-mws-response-context:
      - Muz3zd38xhT8JDnlWcWCHquPBjITrQQADi3EFh2R1wGD503Bd0NVvKWhznSL00bds2tqWAdjpT3K
        0ysFhdJWZTvqeo0p0mvL, XFPewGjYHcekGO1QMgmgm3t8DsQT4/FBiD9/ExCXFmTZ9zlI+A7AOqc2lO90oeNn2xhxOTBcl/v2
        +pu6GxThkg==
      x-amz-request-id:
      - 6754a8fe-07a3-49ad-a29c-e5aba342acec
      x-mws-request-id:
      - 6754a8fe-07a3-49ad-a29c-e5aba342acec
      x-mws-timestamp:
      - '2014-02-06T10:30:14.375Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>702</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>6754a8fe-07a3-49ad-a29c-e5aba342acec</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Thu, 06 Feb 2014 10:30:19 GMT
recorded_with: VCR 2.8.0
