---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A29%3A54Z&Signature=7uEjcfMKTDb%2FtO9aM0DopLVO%2FVXvkG%2FG9kJbvnY5fTI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - 1jOaKSW7Lhzj7GlUO8bTe7bBKYmWhIWw7mqb4B2/aNDublG+zputqh0cgyVg0UmaikD761KvWxaG
        xNmTOT6Te4dUa8a1hBRe, CAPQCNn086H6LgBRw10Vis6pVpr4rYiWd9eT1JnekjnSU2aK6ln4zF/+OfqRB7uTQRKvAApWlk4=
      x-amz-request-id:
      - 171992e5-1d9b-4928-b70b-c28ed4cd041a
      x-mws-request-id:
      - 171992e5-1d9b-4928-b70b-c28ed4cd041a
      x-mws-timestamp:
      - '2014-02-04T11:29:55.321Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListResult><NextToken>8x7/rK8DYxwD2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQ1q7+biy1IyF130dcAIezsKtggkW5lERV7B+2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14827818363</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043495836</ReportRequestId><AvailableDate>2014-02-04T11:24:55+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14827772733</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043495376</ReportRequestId><AvailableDate>2014-02-04T11:19:55+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14827751503</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043428376</ReportRequestId><AvailableDate>2014-02-04T11:17:35+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=14827818363&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A29%3A58Z&Signature=Pq5nzPWZwXECJLmABBI0Lk7kMfbFS0gu3dIwNIxhSVM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      Content-MD5:
      - 0TJ8D25eb7+C0OxFVUgo6w==
      x-mws-response-context:
      - DtDnjK0Y9RDL/g+PZLAWOp+XiYYbLxDj+si9OS5DFnY/gmT1GVptspRCknD61gw9zK90a8SmFjQs
        Nxf0AlAiViK2r1sc0l89, ZqrCtvHqXiPGAzH+wEwJWC3prKV/4JNO18pzaWLxzTAblspW7BMowBcGDUcsRHnPydUJLefX7toN
        yyTHL1pBYQ==
      x-amz-request-id:
      - a3d92b96-f63c-4a3e-a38d-f688967d6693
      x-mws-request-id:
      - a3d92b96-f63c-4a3e-a38d-f688967d6693
      x-mws-timestamp:
      - '2014-02-04T11:29:59.143Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t1016\n\tNumber
        of records successful\t\t1016\n\n"
  recorded_at: Tue, 04 Feb 2014 11:29:59 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A29%3A59Z&Signature=D5s4WFtSVU7hD4wIi55%2BwNqhWyGZmsYU0zX60Ik9Ii8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=30782382104&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A04Z&Signature=Lpcr8l9ZeER1HZmQoyxQdsf1uH7pn6QXo%2FAXNsi1vow%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:19:00 UTC
      Content-MD5:
      - E/M/bfHem8gqJt2Slt82YA==
      x-mws-response-context:
      - MC50X1tnispv3puAiGuB23XH3SrjpLwoRgVw3Y/XRlog104ODwcyDthMJb7iwn3rVjw8vwgkRs0I
        bLURPl40Cq4uQWnYo0o4, iIpS4dvBFnG35RyJCBPlQF+nqYkbIBFFaLmAoBShdcW0Xc66cKhH/e4etl056wwPDdEiY/yiuTuH
        A0miOro+Jg==
      x-amz-request-id:
      - 8b8270e2-dc50-4290-9f3e-1dac69a81be0
      x-mws-request-id:
      - 8b8270e2-dc50-4290-9f3e-1dac69a81be0
      x-mws-timestamp:
      - '2014-02-04T11:30:04.436Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t1511\n\tNumber
        of records successful\t\t1511\n\n"
  recorded_at: Tue, 04 Feb 2014 11:30:04 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A04Z&Signature=RRBBDjHkCbAjQMJ1lFw%2BIw%2FVdmBDyB6zwd78tKAPoik%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=30782366164&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A10Z&Signature=pzo44ti%2BasctSFx6payYQNUij5ULhi8Pp8GFKUYSPh4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remainin[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A10Z&Signature=UiyoHdEk52lS3q8Rtcfmn0zCeev9kN0wKs1AeCUWR2s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=30778176864&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A14Z&Signature=BBtMNfn73q6gMemAuxFzgNyAJUCeNDlEtPs8%2FgAPXsE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remainin[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A15Z&Signature=aK7MYHx011cTKXVt%2BOY3vExrEoTi1SlllY%2BZNZ%2FbsoQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '6[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=30782348344&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A20Z&Signature=jQVFH3pPKKFB4Wi4FWDa3NK4hZFKBgh%2Bn%2Fm%2FV1F70Co%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:07:00 UTC
      Content-MD5:
      - ChBRyINjgv+ezkw4lDrCoQ==
      x-mws-response-context:
      - eNlPTsTKMTjGfhvKt7mBV4Q9Db7NNpntY/kYxw1K1dZYxpfY7m0RzsLQoUkX+ItKjLC/j3HDlWnP
        VaIhOKTekaI2vvCrPB+8, 30DAYQs61gfvl6VDa7UM5bte35eE8f8P8IRF9y6OJc5VBzQdT/aCwz03mROb4uHIhQ4pNazVr1jP
        Swnu8ho6Ng==
      x-amz-request-id:
      - 94dc0dd7-2c65-483c-a037-619ec258526e
      x-mws-request-id:
      - 94dc0dd7-2c65-483c-a037-619ec258526e
      x-mws-timestamp:
      - '2014-02-04T11:30:20.980Z'
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t932\n\tNumber
        of records successful\t\t932\n\n"
  recorded_at: Tue, 04 Feb 2014 11:30:21 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A21Z&Signature=B5EQVHUKbYnxAfKDOpCwXf5A00ga9PIJGVh%2Bb%2B7uLFI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReport&ReportId=30782278544&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A30%3A25Z&Signature=mGX4E5%2FOw8K2gYm20yu%2FJaI4K9%2BIMKceGrpCcR4hDqY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-rema[...]
