---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A19Z&Signature=qdFhOEsbWSxicmK0pdiAl9nlqHd9e6CdE2xEuXVKSoU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - iKOFy+E9hy9kEyzlnGxHC1R8V/IUiGsIK9Ve8CRLlAnYoduZGqJ4fzcXf9R8SSvhFfPYLAVbjA1/
        dycK+eHhuCY/rverbi0U, rmY4CDLFhShr4B6rkLtyiwB8fvBJCOFyRdViigyoYmoTLQBivIxIMRhBSRueQ1/Y2hKW5b4SBgMV
        jae8jr58+A==
      x-amz-request-id:
      - b1afedb0-7075-4d59-a8af-514ec1e23f97
      x-mws-request-id:
      - b1afedb0-7075-4d59-a8af-514ec1e23f97
      x-mws-timestamp:
      - '2014-02-04T11:35:20.212Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>b1afedb0-7075-4d59-a8af-514ec1e23f97</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:20 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A20Z&Signature=66ETzTtrmyKrrTQxdFrSJvqIUrLw2IUDqKY3LLPqoK8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:19:00 UTC
      x-mws-response-context:
      - IORYGWLNvdMqB6QJMoCBQP4XrUxKK9UK1gS089F+NQir46Ol1XlTGPbSCHr9yVojWqW+sdUmRDfk
        K9o/ESp8mW8kCcGY3JdZ, VKYijOBCTROiRL8SPh4e5iaiIFwutXQsOWZYmK23RBJ0VJZRfqu2IQv2mfeFQlpXa2bgwXI+QCNw
        fogAiKRAmw==
      x-amz-request-id:
      - c22f560f-e550-4e22-b9c4-fcbe094aa85b
      x-mws-request-id:
      - c22f560f-e550-4e22-b9c4-fcbe094aa85b
      x-mws-timestamp:
      - '2014-02-04T11:35:20.972Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>c22f560f-e550-4e22-b9c4-fcbe094aa85b</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:21 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A21Z&Signature=0GoSae4uQW8sjYaOaZKY8uA114QlUBWi%2BLxqSjkP%2Fpc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:11:00 UTC
      x-mws-response-context:
      - IORYGWLNvdMqB6QJMoCBQP4XrUxKK9UK1gS089F+NQir46Ol1XlTGPbSCHr9yVojWqW+sdUmRDfk
        K9o/ESp8mW8kCcGY3JdZ, DIuGT4JKsytXVYAfpiT7hLBh3ZdJvfJqbA+iZ502/hQVCziDG9DzxhuXzUuVaHVawM/FKblY2k37
        drgsKUPcJg==
      x-amz-request-id:
      - 7904fece-d35d-4a08-9067-1d12953d5411
      x-mws-request-id:
      - 7904fece-d35d-4a08-9067-1d12953d5411
      x-mws-timestamp:
      - '2014-02-04T11:35:21.795Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>7904fece-d35d-4a08-9067-1d12953d5411</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:22 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A22Z&Signature=YlktpKkzdCULMaCJ1HApLGmBa8VKmrZc4mBtGtxsusw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:47:00 UTC
      x-mws-response-context:
      - MC50X1tnispv3puAiGuB23XH3SrjpLwoRgVw3Y/XRlog104ODwcyDthMJb7iwn3rVjw8vwgkRs0I
        bLURPl40Cq4uQWnYo0o4, mhP+LOuNOyG/hVM8IyjTK23yY4OJSzRTKTMI2TmngiDMCp0ibTPLidM5CkPKishHTGMDvG6owpSg
        Z8n6YBNMqA==
      x-amz-request-id:
      - 96a10fae-f8bc-4ae3-bbf2-73fba03578e9
      x-mws-request-id:
      - 96a10fae-f8bc-4ae3-bbf2-73fba03578e9
      x-mws-timestamp:
      - '2014-02-04T11:35:22.150Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>96a10fae-f8bc-4ae3-bbf2-73fba03578e9</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:22 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A22Z&Signature=2LFu5NA8Hhvoe10dsfY3Qlr60lkB11DZvCV%2F%2B1dhd88%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:07:00 UTC
      x-mws-response-context:
      - eNlPTsTKMTjGfhvKt7mBV4Q9Db7NNpntY/kYxw1K1dZYxpfY7m0RzsLQoUkX+ItKjLC/j3HDlWnP
        VaIhOKTekaI2vvCrPB+8, lLMTBuJs5d5jyitOIKfBScl0Xxt1sJ0WI2aqV9GWygurCakZBV9e80D+5GmOAyNEfF3iyFBCk0L+
        xqjROmH24g==
      x-amz-request-id:
      - a490bbff-e8fa-4d11-9040-3766332c1aab
      x-mws-request-id:
      - a490bbff-e8fa-4d11-9040-3766332c1aab
      x-mws-timestamp:
      - '2014-02-04T11:35:22.507Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>a490bbff-e8fa-4d11-9040-3766332c1aab</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:23 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A23Z&Signature=HfBaKKFui2YtZhAipv74%2FFJ4h1XutP85sJiKQM8%2F8bA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:54:00 UTC
      x-mws-response-context:
      - RT5+7PDh8e6afh1DZynKTCxhc9d5tvEn9f1HUFNO365iuSGqy08bk9Zhu1Gs9UXg1UlibhmvPl26
        M/0VZ23EVdyrmKQWxEtJ, mKrg9aNcmf1P6Tx2zHJtrZoiFiu3GYiznwh6yIRmWlsZfziOxpOpSLaCnesnUS1uUbBoIY+AdxUO
        RMGFBVJFzQ==
      x-amz-request-id:
      - a6c50034-09f1-4b87-8022-6507b60f1b00
      x-mws-request-id:
      - a6c50034-09f1-4b87-8022-6507b60f1b00
      x-mws-timestamp:
      - '2014-02-04T11:35:23.320Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>a6c50034-09f1-4b87-8022-6507b60f1b00</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:23 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A23Z&Signature=yjG%2FhEsfwtirvDf2XJ%2Fr3zWobe5LoyHGOvY91CCcnII%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 11:47:00 UTC
      x-mws-response-context:
      - rvv0IllGH7oHpG92KuEzeMv14pWVkczpcSVpOXvR7otp+Ztg0S9MdqwrmIVQjKCnLqzuJspqNSop
        mkTAaaRomHt+qeFdRtqn, 6ib4ahfiF8Uw3sBPFHXFaPgB1au6ofvYU63F5OR/1ZjbbfeiP0w2W+5NGMaZL48IAmTol2dj1Ups
        v1N5jpHd7g==
      x-amz-request-id:
      - f201f9cb-3c29-478c-80bc-45ad0d107042
      x-mws-request-id:
      - f201f9cb-3c29-478c-80bc-45ad0d107042
      x-mws-timestamp:
      - '2014-02-04T11:35:24.077Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>f201f9cb-3c29-478c-80bc-45ad0d107042</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:24 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportScheduleCount&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A24Z&Signature=eiG%2FSXk%2FMv26rdBhInY8ARQ2Na8z9gDha1arAmKOV2Y%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:20:00 UTC
      x-mws-response-context:
      - xNt4vqurtXpX4RH2EP6g1U/0FuvOc4H071e5TjSmN6dEESYIvC49+QxiBBATZAN3FTUMLvhEgxHu
        D4TnFkFN0Hf3J1tB0jmo, FciKYyj7oB2/Fxg21UbGtb2zw17Wwo9NObTOUbAHCHZlYDGzJZSS0Q8d5XJmhJ7gRUIUgNYXuAA=
      x-amz-request-id:
      - cb850239-24aa-4ff7-836c-f56ac397d4b7
      x-mws-request-id:
      - cb850239-24aa-4ff7-836c-f56ac397d4b7
      x-mws-timestamp:
      - '2014-02-04T11:35:24.789Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>cb850239-24aa-4ff7-836c-f56ac397d4b7</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 04 Feb 2014 11:35:24 GMT
recorded_with: VCR 2.8.0
