---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A06Z&Signature=xQ%2FKjGyqag65VdgW%2FJk32MPrdQJpDG15VFcZ9%2B9SRBQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - s9EzAjxBPVkj7R8MS/+tITkB3+rZYMSrcSyI9D9I7CA5JE/wBP0etn3j817a0xt5RKx6LmyEkswJ
        lfk3W57iGNmjN4Kltzq/, irebB/eLG3rK8gCYIA+dvXomhqkb6gDXyhCZS9c29A6fAS31h/d9qlpQCs+wMmLJx1Rl028uFtIp
        WE9q3JQRbA==
      x-amz-request-id:
      - d9dad201-393f-45d9-bd55-fde121419798
      x-mws-request-id:
      - d9dad201-393f-45d9-bd55-fde121419798
      x-mws-timestamp:
      - '2014-02-04T11:35:06.487Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListResult><NextToken>wu6sycvYJwwD2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQ1q7+biy1IyF130dcAIezsKtggkW5lERV7B+2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14827889873</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043545064</ReportRequestId><AvailableDate>2014-02-04T11:32:56+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14827818363</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043495836</ReportRequestId><AvailableDate>2014-02-04T11:24:55+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14827772733</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043495376</ReportRequestId><AvailableDate>2014-02-04T11:19:55+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=wu6sycvYJwwD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A06Z&Signature=6Jgey1ffFCLO5PvFqWCVcDy%2BQsEOwl5D1BUGTLWfoaM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '1800.0'
      x-mws-quota-remaining:
      - '1800.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - "/yIlMSop1Iu6cAtXOJ0RHEd2HfDCFBcaBUmC7wcDozE0BTXoZSvOsUe3KsMm3rt7mf3f9Fl3o7V6
        yj3bOZQty9nWs7JGWDrj, Gxxmn8/ITvqay0jFDA/5gvzLnTbrfVuNmXX5FIxkSXMYJ1SfA55DONeCrAaFJjDPS3Ro0d+5YHyO
        3CT1KpOTUw=="
      x-amz-request-id:
      - 41956aff-14b5-4a44-b234-25cf674333af
      x-mws-request-id:
      - 41956aff-14b5-4a44-b234-25cf674333af
      x-mws-timestamp:
      - '2014-02-04T11:35:07.074Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListByNextTokenResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListByNextTokenResult><NextToken>V9a24Tcdhb0D2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq/tinIbRuLMISyoYkkmy7z+7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ==</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14827512073</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>9043281106</ReportRequestId><AvailableDate>2014-02-04T10:52:56+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14827437823</ReportId><ReportType>FeedSummaryR[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=V9a24Tcdhb0D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A07Z&Signature=6miwtaPGurYql2iMOBZmN1sxO8liwn621OA7s%2FSLW%2FY%3D
    body:
      encoding: US-ASCI[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A07Z&Signature=uVjhqcBUnjVfnNRdBtu%2BieJBop5TNAmh%2BVkTurdZgYM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=kky%2B3bkQMZcD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A08Z&Signature=splMUs6dMO0v3KwzwAvu%2FeZ097wfqQgmYqjjat4aHMo%3D
    body:
      encoding:[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=EAS%2BwhVdWbsD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A08Z&Signature=0p5T9A1Rpgt%2FmIO%2BNouUzy0k1UKFYP2ECMh1pRBLb6c%3D
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A09Z&Signature=oBA02t6VvWNXYqjA95IY958d8YlWUWBfshoZNz4dGtw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=ji5vLSm9%2FuUD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A09Z&Signature=0vB6ww66SqoMuDAZytIyBX3ZBY4Pv64AdNsh%2BkvC0MM%3D
    body:
      encoding:[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=vzIHpN279O0D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A09Z&Signature=9iHzp2FyWWEcDoCQpY%2BRlDQ5JcCaXszX60KVenZE46A%3D
    body:
      encoding: US-AS[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A10Z&Signature=t44xFGEhiN95KozK5%2BfrcL183rYHpHDuoYTB5AhWN84%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=LY0FCUDknVQD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A10Z&Signature=mif5Yt77ZO59hzryVY2c1QtfZsU3hEgyrrApycuFty4%3D
    body:
      encoding: US-[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=khsrwGyRMX8D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A10Z&Signature=WPh51ERPrIlFeVAKXglUKTRYzmLoJC4a%2FOej5TnyZ5U%3D
    body:
      encoding: US-AS[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A10Z&Signature=r1bkujCT6WHWJJbobZ9hdkD%2BBWSZGW7HcQHUMYpcm6c%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=88sWWn1EcTQD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A11Z&Signature=AzzwqQj21TVfr6jL4TQIEBTnUeMCtB0TlX3M3fSHTdY%3D
    body:
      encoding: US-[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=byIMdfy0lMMD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A11Z&Signature=jc7uvmbD3Wzpd0f5K43nzaY7E2fcNRFfUwMVX6XLHvM%3D
    body:
      encoding: US-ASCI[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A11Z&Signature=6BmZQ2YX9wuPBocD9Xug9Nj%2BvfidK%2Fy7g15TPaik80g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=kC7H558e728D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A12Z&Signature=3pizeor00umdzLq%2BB6zKkBEZj4TPYwoicEUt4bF2%2B%2B0%3D
    body:
      encodin[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=oxYes4%2Bxyf4D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A12Z&Signature=U%2FRN7qaSlZA8ce417ulnG6SZ7KUKiexTrbR17m4%2B%2FyY%3D
    body:
      encoding:[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A12Z&Signature=3s%2B1ocR8JDFWmurBcpk7womtkIPMxjmay1fXXNCcyBs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
   [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=2ZGcBGPpl98D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A14Z&Signature=%2F24F4W%2BS2UIzGzgKQH79qfVVw6VhAibZAIZsy6mVtM4%3D
    body:
      encoding: US-[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=okTQJR%2Fb3QoD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A16Z&Signature=ccBkdB%2BejBomJ0gEJ6w9GCuTosRo3bx3l7FqeT2LMmA%3D
    body:
      encoding: US-ASCI[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportList&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A18Z&Signature=Cp2ZrQ3bPj0fD27opLi2nuQs6xVNs34s1Hc9Xbtnoto%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
    [...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=UVIm9FT4MKAD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A18Z&Signature=s%2BAl9FcfKHVRK0sEXU%2F7YxrNMK7UOAAR9oOK5BDJswU%3D
    body:
      encoding: US[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=GetReportListByNextToken&NextToken=BvvSutQzGQgD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A35%3A19Z&Signature=uHnLONaDps6ExqvFfjNyuKL4MPtPmwh2vUho93OUyAs%3D
    body:
      encoding: US-ASCII
 [...]
