---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A09Z&Signature=FpeVGlMUtlfeOMoarSRLEroHYOfFT6hBO8e71IDskmU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - 1jOaKSW7Lhzj7GlUO8bTe7bBKYmWhIWw7mqb4B2/aNDublG+zputqh0cgyVg0UmaikD761KvWxaG
        xNmTOT6Te4dUa8a1hBRe, uJUSkQFXFNpw7Mi9/7gscbUvJBIS7sivgUbov8irQhP0RW3kIq9HJmZeVAZgBnFl4/945w96JI4e
        BQYeNoIxOQ==
      x-amz-request-id:
      - 360b993f-416b-438e-a2f6-abfa32f19e9b
      x-mws-request-id:
      - 360b993f-416b-438e-a2f6-abfa32f19e9b
      x-mws-timestamp:
      - '2014-02-04T11:36:10.349Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ManageReportScheduleResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><ManageReportScheduleResult><Count>1</Count><ReportSchedule><ReportType>_GET_FLAT_FILE_ORDERS_DATA_</ReportType><Schedule>_1_DAY_</Schedule><ScheduledDate>2014-02-04T11:36:10+00:00</ScheduledDate></ReportSchedule></ManageReportScheduleResult><ResponseMetadata><RequestId>360b993f-416b-438e-a2f6-abfa32f19e9b</RequestId></ResponseMetadata></ManageReportScheduleResponse>
  recorded_at: Tue, 04 Feb 2014 11:36:10 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A10Z&Signature=9yPYWlUedONkJXESdk1plwW%2FISwp%2BjyD2uAaooZCOt8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A11Z&Signature=fL5ivcytboaifmyQUScw7xPwV0w9Ye2vrl386bKD1qM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A11Z&Signature=ER0h%2BH9Jq7Drkj24PO1DOsvpwQmogrj8l9Sa%2BRecYVo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quot[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A11Z&Signature=PWx9VII9KoT23URpNz6ZAzAP1AB86oA7oeiEz3thcgE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A12Z&Signature=Mw%2FPBKmVXZCWyGxenaF3HL%2FuhzqCa5QDuHrHUyH1k5s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quot[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A12Z&Signature=jkwX9ZSua95be1oRCI8WBOZXyM%2FCTC7ZdYvUj7hpe5c%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A12Z&Signature=ZgsW8mvtemYHYElvaM02fX173O2feEn8HCxpWZ4gLGo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A12Z&Signature=EDLsiw7l1xSuU38Sc82dMyxnHTxS5mjGfGH9DYmHAso%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A13Z&Signature=lbTfhsBwP1Ysf0RvGxpQyHbMAAh8GJOxeA7twpEOM3E%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A13Z&Signature=sO6X1C9fRfhUBctfOHTU93%2BRV4E6TQOeC4w6GJqv7xk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A13Z&Signature=lAk7bL3EITMeAXXpVMiOJkPpGNrx%2BZb5rnWcsGQ%2BCDA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quot[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A13Z&Signature=XZ%2BsbdhV1TB0z7HClwNi6XWRx1Parp%2B5rhBcjackIaU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-ma[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A15Z&Signature=irgubEY4CWlS2zbZLKyStg3bDj5SCJ2IGoRPhDZRBR8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
 [...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_1_DAY_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A17Z&Signature=XlsKvQv3HnymmMIMMFQuMdvcUYdM38eKkIkXQk%2B7Tpw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=aws_access_key_id&Action=ManageReportSchedule&ReportType=_GET_FLAT_FILE_ORDERS_DATA_&Schedule=_NEVER_&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A36%3A17Z&Signature=3ZBfRh94pW0Nzh20QJG%2FG5auf4FeuqAEyb5HmV5OBZY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max[...]
