---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - DZYHCVVGPN6ZWHCCXGDY
        X-Amzn-Requestid:
          - 907faebe-dba3-4c60-b292-eb801e694162
        X-Amz-Date:
          - Sat, 14 Sep 2024 20:25:46 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Sat, 14 Sep 2024 20:25:44 GMT
  - request:
      method: get
      uri: https://sellingpartnerapi-eu.amazon.com/feeds/2021-06-30/feeds/123
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240914T202544Z
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - SC8RTTR5N54B9XV8C75G
        X-Amzn-Ratelimit-Limit:
          - "2.0"
        X-Amzn-Requestid:
          - f46d1094-fa15-4930-985f-a9c6e994c584
        X-Amz-Apigw-Id:
          - OPFf46d1094fa15
      body:
        encoding: UTF-8
        string: '{"processingEndTime":"2024-09-14T20:24:58+00:00","processingStatus":"DONE","marketplaceIds":["A1F83G8C2ARO7P"],"feedId":"123","feedType":"JSON_LISTINGS_FEED","createdTime":"2024-09-14T20:24:41+00:00","processingStartTime":"2024-09-14T20:24:48+00:00","resultFeedDocumentId":"amzn1.tortuga.4.eu.123"}'
    recorded_at: Sat, 14 Sep 2024 20:25:44 GMT
recorded_with: VCR 6.3.1
