---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A48Z&Signature=3mN2FMq4YRyiU4voJ2s1B89ySBQFYc9cYoKEwgOgDWw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '58.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - huZmSrqj1hdg8WKqIzlYU71FXyEuneOaHdNBKX5HVmBmZEH8flmsfoMH0Tf7vG7mPSaMRSP9OXCs
        O089iQLBDqJoJG7QuiaR, IP9m8vJWontRwt/sMHjQehejU1lwUL3GP7Anyw1zkhBlkoeMK0TYRG/qTDSnH+VPPvoe2OGHcDDd
        yQVRUBfWrw==
      x-amz-request-id:
      - 1cb820e9-1559-4a79-b116-46dd6f94508d
      x-mws-request-id:
      - 1cb820e9-1559-4a79-b116-46dd6f94508d
      x-mws-timestamp:
      - '2014-01-20T14:06:49.644Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListResult><NextToken>czdWN+/y8GID2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQ1q7+biy1IyF130dcAIezsKtggkW5lERV7B+2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14580416673</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8926642540</ReportRequestId><AvailableDate>2014-01-20T14:04:02+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14580375073</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8927491738</ReportRequestId><AvailableDate>2014-01-20T14:01:19+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14580342143</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8926957236</ReportRequestId><AvailableDate>2014-01-20T13:57:46+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=czdWN%2B%2Fy8GID2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A55Z&Signature=%2BgXuupEFv4KuVwzdGX8GCApX1ajupV8r2eBPAivxNRo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '1800.0'
      x-mws-quota-remaining:
      - '1798.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - xNt4vqurtXpX4RH2EP6g1U/0FuvOc4H071e5TjSmN6dEESYIvC49+QxiBBATZAN3FTUMLvhEgxHu
        D4TnFkFN0Hf3J1tB0jmo, b2RqCIJIQDhfdpeh/olRhznE4MwvK39nRe01k6uUK29lPyK7975eXS6k2xhJ/EsA/oAmhoiWLcA=
      x-amz-request-id:
      - 17042f1c-7905-4fd4-9825-171bc74fc17e
      x-mws-request-id:
      - 17042f1c-7905-4fd4-9825-171bc74fc17e
      x-mws-timestamp:
      - '2014-01-20T14:06:55.283Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListByNextTokenResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListByNextTokenResult><NextToken>z0FYB49KMM0D2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq/tinIbRuLMISyoYkkmy7z+7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ==</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>14579220833</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>8926386072</ReportRequestId><AvailableDate>2014-01-20T12:03:15+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>14579132933</ReportId><ReportType>FeedSummaryR[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=z0FYB49KMM0D2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A55Z&Signature=5O3bmy1R3GHI1TWfjKCFukNkQSDSqOwHCKtSXIntrXQ%3D
    body:
      encoding: US-ASCII
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A55Z&Signature=%2BAXYsFtnUnHOS2%2B8YEWgdNsG90YNw9to1XsVvrH5x3o%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '57.[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=8SRHNfGJtDQD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A58Z&Signature=HATD4vEH6rSfp3Y%2F8tc1BxkVQ72RxTNQn3jAGoaQqLw%3D
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=%2FQf%2FkPjjuTMD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A59Z&Signature=ibUK1me6HvB4l%2FR2fHPzpo2hiP6z02zpyIT6tmHUWK8%3D
    body:
      encoding: U[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportList&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A06%3A59Z&Signature=GuBmw%2BYkCFGkodj68LY6tUDV6MC8PfJr3D4Geyr7tpU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
   [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=EPsDftYIY6QD2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQ1q7%2Bbiy1IyF130dcAIezsKtggkW5lERV7B%2B2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A06Z&Signature=UlHHmSKXv9w7oyCnKU1sTZGnMjrLsTYzs7sWW3pxJrM%3D
    body:
      encoding: US-ASCI[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportListByNextToken&NextToken=IQuHr9ht5qID2s1QD6a1Faatt7H%2BKoLIM48r5nOh7ZQA6Rov0EQZhnBOmNq6uuAJKCwi968QkimCus63QYNQdQMTmzw615Yq%2FtinIbRuLMISyoYkkmy7z%2B7kR78MqE7qtbuxNIfAZWJhIzH8ak8ZQQ%3D%3D&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T14%3A07%3A12Z&Signature=lYLNRmAQ%2BJtyV11C5vwfJFUs5GXkMlGtqWS9CW3l37g%3D
    body:
      encoding: US-ASCII
[...]
