---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/CartInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A17Z&Version=2014-03-01&Signature=Ld91dAS8OXCk9NNcjb9d4AyEerTSfVMGDAdp7EHmCWU%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 2b0de813-3f60-4491-bb6e-d0cf3357bfe4
      x-mws-timestamp:
      - '2015-03-28T18:10:18.164Z'
      x-mws-response-context:
      - Sgo7Qu5KPylVVwRH0loOhcAbqyPXY6cN43HTQxjoxNqowhI23+bF1yTDq0vJYpA2TVU6c+7302Q=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:18.164Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>2b0de813-3f60-4491-bb6e-d0cf3357bfe4</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:18 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/CartInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A18Z&Version=2014-03-01&Signature=d4vyZzrPNWdYbhXs5L01DT%2FoERrRfTDWHwyAlSpZb0I%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 9e731e3c-39f8-48b0-a373-5b959922cb09
      x-mws-timestamp:
      - '2015-03-28T18:10:18.789Z'
      x-mws-response-context:
      - gf59f8nbRksTQCY+caSLf/SG/f3UptxVDpyWXuBIUAZDgB3z/xHjAL5/8d9R2sG0RuHwp+cmNaM=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:18.789Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>9e731e3c-39f8-48b0-a373-5b959922cb09</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:18 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/CartInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A18Z&Version=2014-03-01&Signature=SAtKF%2FgZvRKDqsTqHPIsaSkE4xSeqa9jroOreysDc1I%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - f3fb4bf0-5591-4e61-a7d8-f6a94b253f76
      x-mws-timestamp:
      - '2015-03-28T18:10:19.943Z'
      x-mws-response-context:
      - o+6g5g3je0wF4ylzv9sE1H71774gad059qXnVpCCZTzi+9LNoRxVtz4r2IKlrDySwAC3X0/Xk3I=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:19.943Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f3fb4bf0-5591-4e61-a7d8-f6a94b253f76</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:20 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/CartInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A20Z&Version=2014-03-01&Signature=W7G0kqHOMU91l%2B731hPIwjZbuNfk%2FuUZh4yEKkcuZKE%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 807199e2-f19d-4533-b665-99a61c0a5c71
      x-mws-timestamp:
      - '2015-03-28T18:10:20.828Z'
      x-mws-response-context:
      - Lh6MgnORymISTEIkBSTw4s+TO0r0IE43+oryvY9L0GzS4U3kSocWQPx3CjnLV664sQXUxN8wblg=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:20.828Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>807199e2-f19d-4533-b665-99a61c0a5c71</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:20 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com.mx/CartInformation/2014-03-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A36%3A40Z&Version=2014-03-01&Signature=Tk7nFqDn9DB4%2B9%2FiJRdY6NZXW2PFdxWSmMcNOFpUWTg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 1e53fdfa-44dd-4f91-8214-8e6085535bea
      x-mws-timestamp:
      - '2016-05-23T12:36:41.794Z'
      x-mws-response-context:
      - SUihqf278+y8dorMLGDSVVbL73Lhz1fit9cL03c+s7dsm2TIPnMKjRmgQHJIsPWHp27/K4t5LgRm
        pfN2YF6+kw==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-05-23T12:36:41.794Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>1e53fdfa-44dd-4f91-8214-8e6085535bea</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 23 May 2016 12:36:42 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/CartInformation/2014-03-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetServiceStatus&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A36%3A43Z&Version=2014-03-01&Signature=7rJDI43OadISwA6AfpHAR6jCvV3ncXcRmU%2B%2BDHziIlY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - be5be3f9-2d71-4e62-9705-b7b7a14c25e4
      x-mws-timestamp:
      - '2016-05-23T12:36:43.257Z'
      x-mws-response-context:
      - bT8J9hjEoSE7fqR9BQBhF71qa9UPsRxl2nna3ugOqn8YhPe7pKNF1l5oVr2y/PrrlvWl1Vt9SJa+
        JYVw8HyVkA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/CartInformation/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-05-23T12:36:43.257Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>be5be3f9-2d71-4e62-9705-b7b7a14c25e4</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 23 May 2016 12:36:43 GMT
recorded_with: VCR 3.0.1
