---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/CustomerInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A34Z&Version=2014-03-01&Signature=1%2FL5NDm5Ouf2bLwtGovQmn54OtIeeZHLfzzBQJfZ6P0%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 59802c9a-9289-44c6-b669-e5369fa00ad4
      x-mws-timestamp:
      - '2015-03-28T18:10:35.588Z'
      x-mws-response-context:
      - 0HZN4uk7KV5jLsO7w7F6B1bvstdu0WG+8RnAx56Hvoe2UbrejWTuhSkCyt0WR/tR0kRjzVhCHAs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/schema/Customers/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:35.588Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>59802c9a-9289-44c6-b669-e5369fa00ad4</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:35 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/CustomerInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A35Z&Version=2014-03-01&Signature=0Z0UxCRnrGZoS%2F%2Bjtn%2F3g0dYYiC4fkyDKQayAkIPtzE%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - dc5ffe87-e14f-4eca-9e25-fa23c3e3fd00
      x-mws-timestamp:
      - '2015-03-28T18:10:36.060Z'
      x-mws-response-context:
      - 3RYkG8GUnx0ZPPkdNCgLgc47/3p3YpZ3dg/m9B81hInJwHOAUzkmU+by4tCAnWWSRjo9L8oWTxA=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/schema/Customers/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:36.060Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>dc5ffe87-e14f-4eca-9e25-fa23c3e3fd00</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:36 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/CustomerInformation/2014-03-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A10%3A36Z&Version=2014-03-01&Signature=nwmUlmdXDSzXRlMIkg3H%2FRVk8WFGs%2FkJYb%2FqMSjQi8U%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 65b89734-45cb-40c6-aa47-75fdc8545e7c
      x-mws-timestamp:
      - '2015-03-28T18:10:37.070Z'
      x-mws-response-context:
      - vcnuvV/aIuWw+RhEJW+ClP7Z/nbCFXprFN9c0lk1b0PSQ56Sgn18fWHionCJyjAzfLkJjx/zV9Y=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/schema/Customers/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:10:37.070Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>65b89734-45cb-40c6-aa47-75fdc8545e7c</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:10:37 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/CustomerInformation/2014-03-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A37%3A22Z&Version=2014-03-01&Signature=3FoVyLOV9DSHEVssJRfniw6TtAovo7Vx4TqrhlQCT5c%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 092d1128-bad6-4a64-abda-8ec3a8e47661
      x-mws-timestamp:
      - '2016-05-23T12:37:22.277Z'
      x-mws-response-context:
      - xgKs055/1JvZv1n2u4Hnl5wbHVVS/7NITLPqTYXWu0rcQI9bt2nqFfVzeBJeeEaLCdGVg4ZedGVu
        M7/h/JbXHA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/schema/Customers/2014-03-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-05-23T12:37:22.277Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>092d1128-bad6-4a64-abda-8ec3a8e47661</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 23 May 2016 12:37:22 GMT
recorded_with: VCR 3.0.1
