---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/EasyShip/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-19T09%3A50%3A32Z&Version=2018-09-01&Signature=YN%2Fl8UsiwAl2RWVIjO4iAQ5gcfz6ObnSWx3bxPQe9ZY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 43db5896-225a-46ad-831f-7a34430b8cc3
      x-mws-timestamp:
      - '2019-11-19T09:50:32.814Z'
      x-mws-response-context:
      - jStBHdm7XYN79q+42cziKtjleg4jplX38bgaKQmwEP/oMuzoSzlhQ5AXnf7J4h248m3UMAJ7XV8=
      x-amz-rid:
      - G8G0K7ECCX5NQNPQKMPK
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/EasyShip/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-19T09:50:32.814Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>43db5896-225a-46ad-831f-7a34430b8cc3</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 19 Nov 2019 09:50:32 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/EasyShip/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-19T09%3A50%3A33Z&Version=2018-09-01&Signature=IYUyk4%2B4PyEh9Vd7LPndGJpS3oRP6YOAsBd%2FIaZqzkg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 3e284670-93fc-4cfd-8dd4-b015f7a0aa87
      x-mws-timestamp:
      - '2019-11-19T09:50:33.385Z'
      x-mws-response-context:
      - 8tYzY6Spyu3vcAu/1ga1tC3RR85P5JfPj1hzxKC1CEMHZm00zmW098ul/qDWZA/EBepHpjOOKt0=
      x-amz-rid:
      - 7J7YPG7NHB1RFE2CG7VK
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/EasyShip/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-19T09:50:33.385Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3e284670-93fc-4cfd-8dd4-b015f7a0aa87</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 19 Nov 2019 09:50:33 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/EasyShip/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-19T09%3A50%3A33Z&Version=2018-09-01&Signature=7G0omlcJLP62Zqv%2BgnJH7MH9TdR7GPWJydcyGdDBGwA%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - a679311b-0fa5-4f71-b59e-1459553cdcaa
      x-mws-timestamp:
      - '2019-11-19T09:50:34.476Z'
      x-mws-response-context:
      - 4E6B6pBXgrFaKSlAOdm7QaL2mog6imKqwKOa3evZYqaISgH0+Cm5BYFUJWOiL94ekPQ2S6FJDeM=
      x-amz-rid:
      - MQQD8G86P37VKZ4H42TN
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/EasyShip/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-19T09:50:34.476Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>a679311b-0fa5-4f71-b59e-1459553cdcaa</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 19 Nov 2019 09:50:34 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/EasyShip/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A51Z&Version=2018-09-01&Signature=v9VuHbuzzK%2F8BkLGmv%2FfXS%2Fl6KhXuIw1%2FOa0%2FhNT%2Bwk%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - CYA44QCECC89SJVPGD08
      x-mws-request-id:
      - 7ba65a71-3a29-49fa-8fb1-db9189beb5eb
      x-mws-timestamp:
      - '2020-10-12T11:32:51.950Z'
      x-mws-response-context:
      - 3y0q7SLQJm5VsFtGNvKn5SOy6Qie3zd1pI1Ui4lC6csMPh19zMy/sbjIzAKpbF0k2VAp7G/Y13I=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/EasyShip/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T11:32:51.950Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>7ba65a71-3a29-49fa-8fb1-db9189beb5eb</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:52 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/EasyShip/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A58%3A14Z&Version=2018-09-01&Signature=5yI5vB7rnHyAD5kkC%2FEd9B%2B3Su79cGtUPqjS7OgQYv8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - SCD397VTADBG2V17FFC9
      x-mws-request-id:
      - 86ad3c53-c378-4684-9478-1244b0846cce
      x-mws-timestamp:
      - '2020-10-13T10:58:14.733Z'
      x-mws-response-context:
      - 6vmb7ILWtdQZuG1WhbrP2OolC8v5C294aT0uePOsM2fC8bnXJZKTV4bs1S8xTsYgHBq0hDzbXDc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/EasyShip/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:58:14.733Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>86ad3c53-c378-4684-9478-1244b0846cce</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:58:14 GMT
recorded_with: VCR 6.0.0
