---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A01Z&Version=2013-09-01&Signature=MyyiEUzErh8YiguHaNFTHIU2DckQIGmyIlx5TPsDTuM%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 00df398f-e78f-49ff-b71b-aef161edb82c
      x-mws-timestamp:
      - '2016-05-23T12:17:02.582Z'
      x-mws-response-context:
      - bUYOxpXi+PGNh8qrdEc9kNp/ooLyWO1crukK1cDkvBVJW7HEf3sp2ktciOyJT2XnnHtpcY4E7Xvj
        NaUV/Vk0KA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>00df398f-e78f-49ff-b71b-aef161edb82c</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:02 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A02Z&Version=2013-09-01&Signature=t0LccrY3UcTag6oztJwms4YaAHN%2FRku8D339MzuREJc%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 1d076335-515f-451d-bc8f-c12c93e43874
      x-mws-timestamp:
      - '2016-05-23T12:17:03.527Z'
      x-mws-response-context:
      - wxjSPxLmtd2MjB+U8T6ibCRHp+80uxJDefc7wRqMusZsE/AWkAL2kCn098SkJSG5DllbPvgvYHWc
        p8OKqk30ag==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>1d076335-515f-451d-bc8f-c12c93e43874</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:03 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A05Z&Version=2013-09-01&Signature=bQZQObbWut7cVRsrurA8MbM48cbX0b65hJIUxj%2FDnKU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 336abcbc-d2e0-482e-a17c-3ebc1840702b
      x-mws-timestamp:
      - '2016-05-23T12:17:07.113Z'
      x-mws-response-context:
      - rVYRsv0Rhzc0hQs8SDAxk3PNN45ICeRqrxEpoezGCqq9dmP4+uErMDT6lUksS8uWdUdrLk5+Y2Dy
        wf00rhdpCw==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>336abcbc-d2e0-482e-a17c-3ebc1840702b</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:07 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A44Z&Version=2013-09-01&Signature=YAzjHMQpijkQPrxE%2BNWc77gwBupQAw%2B9xLiLMHQG%2FMw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - ZEAVQY0SPYDABJFBFVBP
      x-mws-request-id:
      - 70ff696e-c213-4d3b-9a32-719309c26b37
      x-mws-timestamp:
      - '2020-10-12T11:32:44.601Z'
      x-mws-response-context:
      - 7ub3C1jnHymTwzAgZRg33u0fZZFftZj3PCdM3ZkuEenBQXIuOAvJOlYjIjyXpIh7PapRYyrEx7I=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>70ff696e-c213-4d3b-9a32-719309c26b37</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:44 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A44Z&Version=2013-09-01&Signature=LaDzgxEwqZTjKMG6cGLoo6EfyIa%2F33rRkwcNRX5IEj4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - Y7ZB6V0WEYR9HGH2GKQT
      x-mws-request-id:
      - 557d74ef-3612-41d3-b83b-fd7ae65ef357
      x-mws-timestamp:
      - '2020-10-12T11:32:45.126Z'
      x-mws-response-context:
      - C9U4V6HeRSp0PoiHIjiPcYS8errRQag+NF/g1clfMN2shosd64PQYOGy+kJZrQf/EQ7GX94qEmI=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>557d74ef-3612-41d3-b83b-fd7ae65ef357</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:45 GMT
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A53%3A09Z&Version=2013-09-01&Signature=sFU0mYn%2B3qg75dl13ED9CJBeOahnpyIW%2FxGXhrmbg5g%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 201J863GHG2ZJJT9J7QJ
      x-mws-request-id:
      - 7e834d9e-140d-48a2-9721-3b75dc45792d
      x-mws-timestamp:
      - '2020-10-13T10:53:10.197Z'
      x-mws-response-context:
      - kx4BkXVoTYDDyAnU0sDqoy2DTIDN9L492cp48XsP0XauvmFwnJYLzsqW8C/sNk8rnd87Tby3Qwo=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>7e834d9e-140d-48a2-9721-3b75dc45792d</RequestID>
        </ErrorResponse>
  recorded_at: Tue, 13 Oct 2020 10:53:10 GMT
recorded_with: VCR 6.0.0
