---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com.mx/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A01Z&Version=2013-09-01&Signature=MyyiEUzErh8YiguHaNFTHIU2DckQIGmyIlx5TPsDTuM%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 00df398f-e78f-49ff-b71b-aef161edb82c
      x-mws-timestamp:
      - '2016-05-23T12:17:02.582Z'
      x-mws-response-context:
      - bUYOxpXi+PGNh8qrdEc9kNp/ooLyWO1crukK1cDkvBVJW7HEf3sp2ktciOyJT2XnnHtpcY4E7Xvj
        NaUV/Vk0KA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>00df398f-e78f-49ff-b71b-aef161edb82c</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:02 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A02Z&Version=2013-09-01&Signature=t0LccrY3UcTag6oztJwms4YaAHN%2FRku8D339MzuREJc%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 1d076335-515f-451d-bc8f-c12c93e43874
      x-mws-timestamp:
      - '2016-05-23T12:17:03.527Z'
      x-mws-response-context:
      - wxjSPxLmtd2MjB+U8T6ibCRHp+80uxJDefc7wRqMusZsE/AWkAL2kCn098SkJSG5DllbPvgvYHWc
        p8OKqk30ag==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>1d076335-515f-451d-bc8f-c12c93e43874</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:03 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A03Z&Version=2013-09-01&Signature=LZJLm79FpUSEEE64JxOQl%2Fv9%2B8gJundIO9GCm59ZQCI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 627c5924-6175-40bf-98b4-502a938310a6
      x-mws-timestamp:
      - '2016-05-23T12:17:04.795Z'
      x-mws-response-context:
      - d3QEKHI7fhB64Q9lCdTzO0FMWprAU3qHDCpgP0LmNl5diGZhXojnzBTnxRv+G0P6+/wXovJJQD17
        vuYS4GIdRg==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>627c5924-6175-40bf-98b4-502a938310a6</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:04 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A05Z&Version=2013-09-01&Signature=bQZQObbWut7cVRsrurA8MbM48cbX0b65hJIUxj%2FDnKU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 336abcbc-d2e0-482e-a17c-3ebc1840702b
      x-mws-timestamp:
      - '2016-05-23T12:17:07.113Z'
      x-mws-response-context:
      - rVYRsv0Rhzc0hQs8SDAxk3PNN45ICeRqrxEpoezGCqq9dmP4+uErMDT6lUksS8uWdUdrLk5+Y2Dy
        wf00rhdpCw==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>336abcbc-d2e0-482e-a17c-3ebc1840702b</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:07 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=foo&Action=GetOrder&AmazonOrderId.Id.1=bar&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A17%3A07Z&Version=2013-09-01&Signature=fNYJaW9V0dFEkNnollJMKdsNqPX585iH0SpnghCRN%2Bg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - e62e40db-56b1-426a-9931-e0ae1855ab3a
      x-mws-timestamp:
      - '2016-05-23T12:17:08.351Z'
      x-mws-response-context:
      - NK1tq0RbDyInkgO/Wv6uxNwqrVHWSip2dpUTRwLR821er9uBeB2OYFEgVAEffhUXexSTyItqpiZp
        3453n2OBpA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>e62e40db-56b1-426a-9931-e0ae1855ab3a</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:17:08 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Orders/2013-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetOrder&AmazonOrderId.Id.1=foo&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A33%3A44Z&Version=2013-09-01&Signature=afEobB041YouF04d%2F8460n2%2ByPiR6UVaShWiAKFuOQo%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 503
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 5ca0af8a-0443-4a26-8b63-a9764863c7d8
      x-mws-timestamp:
      - '2016-05-23T12:33:45.154Z'
      x-mws-response-context:
      - ecBayQO8iftN3M2GSxDGtX4wcqNrso6pTS5SBv8W1UYGGcnV/9z023Ged2cfmM21hd96dLt8fxTW
        mxislaXEhA==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <Error>
            <Type></Type>
            <Code>RequestThrottled</Code>
            <Message>Request is throttled</Message>
          </Error>
          <RequestID>5ca0af8a-0443-4a26-8b63-a9764863c7d8</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 23 May 2016 12:33:45 GMT
recorded_with: VCR 3.0.1
