---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A35Z&Version=2009-01-01&Signature=CSmMnBrOqn1iLcrzmMMQ1YtGP6v36N1MMDDUzHuy%2Fac%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=HN9rLg7UBN+lrTFyZgvxM+noDBupFhd7Z4UU6lcsoug=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:36:35 GMT
      x-mws-request-id:
      - 0c7762bc-5877-4c9b-bc27-538a8bad02be
      x-mws-timestamp:
      - '2015-03-28T18:36:35.602Z'
      x-mws-response-context:
      - pfykS2598ZhqLhZ+W/tpNsvdLN/k4BkMQ/vCYYmJj4CKFj1LeWBSsX5sJ9nqehDTA+Tl023NjOs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionListResult>
            <HasNext>true</HasNext>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75487016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:35:23+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:35:39+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75486016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:30:37+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:30:41+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75485016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:20:23+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:20:38+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75484016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:15:29+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:15:40+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75483016522</FeedSubmissionId>
              <CompletedProcessingDate>2015-03-28T18:33:15+00:00</CompletedProcessingDate>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:05:27+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:05:40+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75481016522</FeedSubmissionId>
              <CompletedPro[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A35Z&Version=2009-01-01&Signature=yF65DPC4M%2BTMbUDfRMe%2FFaervU%2FhD3XQAZuQ0XDFiFM%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A36Z&Version=2009-01-01&Signature=UoCEEfu2cRhNw54stA%2BvuVRDqvZFr%2FBylO76%2FxAokn0%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quo[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A36Z&Version=2009-01-01&Signature=6l1%2FfyX0ozG7QOUCqa9O9ix7oePVVSonxLRunAs0KT0%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A37Z&Version=2009-01-01&Signature=jGbPw%2Byx5QjZJ9gt9PU139WRsKCKVC8U5gucZ6a3ahY%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '61.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=3KtspVaYnPkX7YcMAB2nEnZdaBL+CTs7DQRzvA1ix80=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:36:37 GMT
      x-mws-request-id:
      - 2734ed97-6f31-47cb-89d6-11e05e1e9751
      x-mws-timestamp:
      - '2015-03-28T18:36:37.903Z'
      x-mws-response-context:
      - M7qRFFF54KMmY6PY8l1934rcTKYCMt4kU3PjRbBPCA71jmynQ8iltkP1qK7Kc40SzdM9Otluz6Y=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionCountResult>
            <Count>12430</Count>
          </GetFeedSubmissionCountResult>
          <ResponseMetadata>
            <RequestId>2734ed97-6f31-47cb-89d6-11e05e1e9751</RequestId>
          </ResponseMetadata>
        </GetFeedSubmissionCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:36:38 GMT
[...]
