---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.jp/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A14Z&Version=2009-01-01&Signature=%2FlEaSrygg%2B9YGWyqdLTisVHAFRoy4k1J%2FWXZpFR3nkc%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T15:47:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:47:15 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.zd2w7nq4skwm34cwmcwnsku4xy.Default/1,
        Signed=true, Encrypted=false, Signature=qXiyJPLcbLOkSqRUZchawFAu9mVxzSh87MzivwIwXFM=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 187c7c9e-4dc4-422b-a417-0fd6f52c0753
      x-mws-timestamp:
      - '2018-04-27T14:47:15.220Z'
      x-mws-response-context:
      - 732ifzzIumf0dFnEY9N49uu1GTTc3Bypjezbp72V6DsLcEPubEhkO2tsXTwMkyx0LRvSj77iqCc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionListResult>
            <HasNext>true</HasNext>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>355371017648</FeedSubmissionId>
              <SubmittedDate>2018-04-27T14:46:36+00:00</SubmittedDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>355370017648</FeedSubmissionId>
              <StartedProcessingDate>2018-04-27T14:28:02+00:00</StartedProcessingDate>
              <SubmittedDate>2018-04-27T14:27:44+00:00</SubmittedDate>
              <CompletedProcessingDate>2018-04-27T14:29:25+00:00</CompletedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedSubmissionId>355369017648</FeedSubmissionId>
              <StartedProcessingDate>2018-04-27T14:14:41+00:00</StartedProcessingDate>
              <SubmittedDate>2018-04-27T14:14:21+00:00</SubmittedDate>
              <CompletedPr[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A15Z&Version=2009-01-01&Signature=8rYZ5%2F%2F0wO2M%2FFnsboVIxP1ksCfTHm1MDU7zBr0FMP0%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      cod[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A16Z&Version=2009-01-01&Signature=%2BVVQ8OmDvEUqXczsZ1PNkub%2F7eAzhjW6Y8cv7P71wPY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      co[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A17Z&Version=2009-01-01&Signature=4QOIxS5k2sLQaHOKJoOZoamp34JkZsKjue6CFXbRegA%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T15:47:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:47:18 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.zd2w7nq4skwm34cwmcwnsku4xy.Default/1,
        Signed=true, Encrypted=false, Signature=oZwkzmEa5Qhgux5GgF5IhaLjIo1huBY5CVX5L0MFb4I=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 73e2fbd7-c160-423e-8593-31a98a9e0636
      x-mws-timestamp:
      - '2018-04-27T14:47:18.284Z'
      x-mws-response-context:
      - E5+cRAWJtN9jW316Ihg9Ut74hTAFJaQCnPR1PiYLPNocOyyrAA5ggsY5vSDuD8AJMixbPB4gLx8=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionCountResult>
            <Count>13938</Count>
          </GetFeedSubmissionCountResult>
          <ResponseMetadata>
            <RequestId>73e2fbd7-c160-423e-8593-31a98a9e0636</RequestId>
          </ResponseMetadata>
        </GetFeedSubmissionCountResponse>
  recorded_at: Fri, 27 Apr 2018 14:47:18 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A21Z&Version=2009-01-01&Signature=eHwMTSK5Yy6TtD8M2pEXRPjHHoKa%2FhKdotbZG6dE%2B3g%3D
    body:
      encoding: Windows-31J
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-separated-values; charset=Windows-31J
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '30.0'
      x-mws-quota-remaining:
      - '30.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T15:47:00.000Z'
      x-mws-response-context:
      - 33F+aCLpKo6SsngAfUe1oCKWHEN5+kFLypP7Gm0pS5E4tKuXoXZj0aod74cVQFmATxEjsXyYcEE=,
        ucaqMCWdsYnaRlmJQ1kwh9dkOepfi/E1YowZ9OrcZRlp0ItvMATUTDYyTYUW4yJYrA22QOpTglA=
      x-amz-request-id:
      - fd68f973-b956-4be6-b289-6223eb7125be
      x-mws-request-id:
      - fd68f973-b956-4be6-b289-6223eb7125be
      x-mws-timestamp:
      - '2018-04-27T14:47:22.379Z'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>355372017648</FeedSubmissionId><FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType><SubmittedDate>2018-04-27T14:47:22+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>fd68f973-b956-4be6-b289-6223eb7125be</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Fri, 27 Apr 2018 14:47:22 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A24Z&Version=2009-01-01&Signature=ThMOB9nUD1VVIsvO73PkOhxyI96XmAUVlrXdqH5DWOY%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\nwidget[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A25Z&Version=2009-01-01&Signature=acM5C0t6Z6s3Tv5f8n0EDGONKboVL8vMROxtpZutfUM%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\nwidget[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A27Z&Version=2009-01-01&Signature=V0%2FW%2BCFKx96CtvShgJEpD1hUd4yRFiA8lqY%2Fgq3q2lQ%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantit[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A28Z&Version=2009-01-01&Signature=QUdPfUfn%2BByn3oRdQfO2qoLjdByVjKWBCyW2jyYg8W0%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\nw[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A29Z&Version=2009-01-01&Signature=UzUrvNA5vZKa0tW28yyLg04yUJq0hxnVFnyMXYwaWbk%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\nwid[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A31Z&Version=2009-01-01&Signature=xTCC%2FPs3%2Fa2r0lUzh5sUnunQ7pGC7l3E5AhqC%2FP0RJE%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantit[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A32Z&Version=2009-01-01&Signature=udV3T9gnxdVSEY0CECM38p%2Btg%2BlOR90EELowhomxJjc%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A47%3A33Z&Version=2009-01-01&Signature=O0ZnqJaV8Z1uq3VLuLKwd0znns%2BMQxU7q7688eq5Z40%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\nwidg[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A52Z&Version=2009-01-01&Signature=xJrmQbfR0cBlRhE4Ssctg0gLc0ZetZhRrW8DJHv3Zx4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - TB1DWNP4FDHED4AP75NP
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2020-10-12T11:36:00.000Z'
      X-Amz-Date:
      - Mon, 12 Oct 2020 11:32:52 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.zd2w7nq4skwm34cwmcwnsku4xy.Default/1,
        Signed=true, Encrypted=false, Signature=gRS3dNeSSlBDcah8v9qwrQFEdzMxAHpNn94o/Ucluro=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 9b12a570-3cbb-4b57-b61b-34bedc74da79
      x-mws-timestamp:
      - '2020-10-12T11:32:52.734Z'
      x-mws-response-context:
      - 8KddZx8NvRZnHrHo8srLXtAIfgVHX1ugJuSUrODhaIe8Lx+YTAr8+r29+I4daWvlx+m2LL7gBYo=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionCountResult>
            <Count>0</Count>
          </GetFeedSubmissionCountResult>
          <ResponseMetadata>
            <RequestId>9b12a570-3cbb-4b57-b61b-34bedc74da79</RequestId>
          </ResponseMetadata>
        </GetFeedSubmissionCountResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:52 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A53Z&Version=2009-01-01&Signature=op2S%2BZGw07Zz8oxQZPu5%2FVRpyTKPMEZzOGeAyL4QI6E%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A54Z&Version=2009-01-01&Signature=3o%2Fnb4KZ9iiA0%2FRfUY3EQnUPdZ1qAN3DE3%2FdVUv52os%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantit[...]
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Feeds/2009-01-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A52%3A59Z&Version=2009-01-01&Signature=oChM%2BSVaw7ETG69AXbNZNzDhEWqNVBejeF1Wpt%2F9lY8%3D
    body:
      encoding: Windows-1252
      string: "sku\tprice\tquantity\[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Feeds/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=CancelFeedSubmissions&FeedSubmissionId=59197018548&FeedTypeList.Type.1=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A53%3A00Z&Version=2009-01-01&Signature=XDyvdYX0I2IvO5%2BLRHuyiSGCs79jitHCqH08OXN1m0o%3D
    headers:
      Conten[...]
[...]
