---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A24Z&Signature=Lid42m1b93RJu%2BYACCdJsNo6VzvR9skoFqWKA69FmMk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - Or107YO2kkD8+AKZDj24B+Op1tPSOlHx+ygMO3OlyKeN8g+5c92jQbi5ta+VmZP1d2gTN/tZk5od
        kmWpLzUuEcC1HMDzvMF/, 7W6T7Y9J34LDFnfgf9UT5/BVn+knBHWt/HDBzZ3dnp2UmaRkmt0Dwnt9X8kNiZJWy8nv7WDM/rHt
        MCE//TThqQ==
      x-amz-request-id:
      - 0a8b62e0-821a-448c-943e-5602b1f7033b
      x-mws-request-id:
      - 0a8b62e0-821a-448c-943e-5602b1f7033b
      x-mws-timestamp:
      - '2014-08-12T11:36:25.140Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionListResult><NextToken>LXioRa8vyodmmFQFVAtP1Ygyll0Bti6tLwZxLuNJPUcKFKzEDcAnvh37NQxf/I+9M4quvll4VBScNPHvwC+R03C5WG44+0syk5OZVlLEOVxhJj/3qRu4rNRLGNCsPO1VReUl7lNynjWycJ/IO/jxp0wuPLxFSWjw4KHkpvqz4XOwgC8ckBG1U3iwDZXFBBhQTbK8+eN5L+aHZDkA9WeG8Q9VpOmXt+x+gZV1np2VqfMDjWoRUJRYH3aJXmzg7+Ocf6muahHzo943H1RfaIT8ywm48+ixA1Ky+5vCarQdVQAoScr4r39ZpxHVNsNesoa3xLQQo10M8QlsiPqedBQBEXWdUAX7LVsn+jFHEf8c268SlSGhKSWFC9n77qmd/NoZRw3py7Eh4k10PpoVALCFzM6FxlOP9wvCHkQ1oUi5mug9XrvmmBoVd2wSA5v70EwV4I04nfVsrD33DIr38ykw2EVwIzEWBbS0FkHpKEBWrgZPmX44XQP9Dg588qVI5CtJ/hl2lYe6g7M=</NextToken><HasNext>true</HasNext><FeedSubmissionInfo><FeedSubmissionId>10790444936</FeedSubmissionId><FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType><SubmittedDate>2014-08-12T11:30:56+00:00</SubmittedDate><FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus><StartedProcessingDate>2014-08-12T11:31:11+00:00</StartedProcessingDate></FeedSubmissionInfo><FeedSubmissionInfo><FeedSubmissionId>10790032718</FeedSubmissionId><FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType><SubmittedDate>2014-08-12T10:30:40+00:00</SubmittedDate><FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus><StartedProcessingDate>2014-08-12T10:31:08+00:00</StartedProcessingDate></FeedSubmissionInfo><FeedSubmissionInfo><FeedSubmissionId>10789752558</FeedSubmissionId><FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType><SubmittedDate>2014-08-12T09:50:40+00:00</SubmittedDate><FeedProcessingStatus>_DONE_</FeedProcessingStatus><StartedProcessingDate>2014-08-12T09:51:18+00:00</StartedProcessingDate><CompletedProcessingDate>2014-08-12T11:27:43+00:00</CompletedProcessingDate></FeedSubmissionInfo><FeedSubmissionInfo><FeedSubmissionId>10789621732</FeedSubmissionId><FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType><SubmittedDate>2014-08-12T09:31:25+00:00</SubmittedDate><FeedProcessingStatus>_DONE_</FeedProcessingStatus><StartedProcessingDate>2014-08-12T09:31:45+00:00</StartedProcessingDate><CompletedProcessingDate>2014-08-12T10:20:21+00:00</CompletedProcessingDate></FeedSubmissionInfo><FeedSubmissionInfo><FeedSubmiss[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A25Z&Signature=ljo%2Byz0q1Mp4EIhX0babM94O6X4k4fenCtUich7UYPo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
    [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A25Z&Signature=xmqOiwn%2Fm4XF9RafipdLAPW6VaYo%2B6Yig5u%2FcxO1lnQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
    [...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A26Z&Signature=wmFKZfrnb7GR%2F6Nhd5Rfua3JT%2FKjDipz3jUPZblISGM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
     [...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A27Z&Signature=c6egoPHGCmZ3v3MeDiCGs2S9LooyTjcxdHv1erB6tBs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '55.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - 5+ZO2YeE24dkDJinIf2qHazaSH4T+6BRUAzJ0X7PbI4xeTqA+xyQpszWkLe5Ecae8m0ghtAz5+KT
        P+sM/YudLm5WxPvboDjR, N9V88MjlNLzMLoLGl2CumBrBrxayZ9zTxGOWPGF1FQEf39mKOmVFT5QVCSMDOOvYZE6poIuw5pQ=
      x-amz-request-id:
      - 9ddb19a9-edba-4903-887a-83ff5404e4a3
      x-mws-request-id:
      - 9ddb19a9-edba-4903-887a-83ff5404e4a3
      x-mws-timestamp:
      - '2014-08-12T11:36:27.757Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>3460</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>9ddb19a9-edba-4903-887a-83ff5404e4a3</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:36:28 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A28Z&Signature=ji%2FHoA3FAkQomo0g%2FYbVkHDpqr1syAKFZ%2FfIQ%2FZa43Y%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '66.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:19:00.000Z'
      x-mws-response-context:
      - QpCeFBbpz2jJq4iQGwe4uGnmChpHIQQjr3GB+OxopP6OuZOIV5Av2IwHoegsQ3qsdsBhyQ9P1yBc
        VXAoD+ts7N6qHShg+SLa, UEDLsErz4hWB14xp0NY56qVmQRM1xE9Scw5dIdtyZ1k3nE8tu5jA5i86C2wZlyYtsmpk+6jCuYV0
        2bXqNxKJVQ==
      x-amz-request-id:
      - 4d415c03-d2b8-4d73-a026-8a4bcba5ac7e
      x-mws-request-id:
      - 4d415c03-d2b8-4d73-a026-8a4bcba5ac7e
      x-mws-timestamp:
      - '2014-08-12T11:36:29.098Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>2846</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>4d415c03-d2b8-4d73-a026-8a4bcba5ac7e</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:36:30 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A30Z&Signature=mpHTXhHGImuvLKTxHl68gzHieIa%2BOJoSZBsmi69RtMo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '46.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T11:47:00.000Z'
      x-mws-response-context:
      - 9aDAzT6CGPZk5DhpZDYqcS3iieE34qwl8NtIHl6jR04yK1qoMqHzsxcJgeJgziwyvHv1TrQEvGzZ
        Hx0HRCjvcNgnnNw4t5G1, anz6r3wXMrSRhSOHr3FsulGhBNt7xbzs7QJsEvSUrDxRhb8efDctmM8vOM4+RjXqtWOfcCHZwVs=
      x-amz-request-id:
      - b0c77594-0549-4734-ae71-0f5ba137912b
      x-mws-request-id:
      - b0c77594-0549-4734-ae71-0f5ba137912b
      x-mws-timestamp:
      - '2014-08-12T11:36:30.805Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>4877</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>b0c77594-0549-4734-ae71-0f5ba137912b</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:36:49 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A36%3A49Z&Signature=MThH2Nl9sctqLRH%2FBtZBXWK%2BtECHTKhGz3Sg2rCWh7k%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '66.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:20:00.000Z'
      x-mws-response-context:
      - ZK2dFfzW10BjumsOfh8njPTcyYqoD2nQNFXon+GDcHWP4tLaCLcCoTJZf/1vU9xNcFx5/hBJ7A3q
        /2vo5W1nQ3RWQJ9idgB+, mG77u66oTxDvsTt0EZXClEG9cmBP8Ltxt0GbGtB5p4wpC02Y9PgXFn4++Gm4I4s1uidZQB19AaU=
      x-amz-request-id:
      - 5f119428-9c3b-44e1-b4ea-a38ac95a8308
      x-mws-request-id:
      - 5f119428-9c3b-44e1-b4ea-a38ac95a8308
      x-mws-timestamp:
      - '2014-08-12T11:36:50.404Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetFeedSubmissionCountResult><Count>2978</Count></GetFeedSubmissionCountResult><ResponseMetadata><RequestId>5f119428-9c3b-44e1-b4ea-a38ac95a8308</RequestId></ResponseMetadata></GetFeedSubmissionCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:36:51 GMT
recorded_with: VCR 2.9.2
