---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A04Z&Version=2009-01-01&Signature=0dP2%2BYaFsQKpw59PURBBghwUNRNaEZqHfwbOGa08AnE%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '59.0'
      x-mws-quota-resetsOn:
      - '2017-04-26T02:03:00.000Z'
      X-Amz-Date:
      - Wed, 26 Apr 2017 01:20:05 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=2myNHoBYtec9J/5PGTVViVSUtnUzuucd6UYCGSqHg2g=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 3bc98dd1-fe4f-4072-913c-9e0afaf84bf1
      x-mws-timestamp:
      - '2017-04-26T01:20:05.609Z'
      x-mws-response-context:
      - DmQHI5W+0lg23xUBvmc3fMsbw8qv48wwOM27G8Bcjc16+hX3MC+Chbvel4giguPDgP0bkm2qEqY=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionCountResult>
            <Count>94763</Count>
          </GetFeedSubmissionCountResult>
          <ResponseMetadata>
            <RequestId>3bc98dd1-fe4f-4072-913c-9e0afaf84bf1</RequestId>
          </ResponseMetadata>
        </GetFeedSubmissionCountResponse>
  recorded_at: Wed, 26 Apr 2017 01:20:05 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com.mx/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A05Z&Version=2009-01-01&Signature=e7l58NJ2I89S81zimjog80%2FFTSPjqy7i2DGH4kldA2A%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    h[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A06Z&Version=2009-01-01&Signature=YPmPhTVSbB2W9nxWFnA2db%2BpFElBxY%2BRqljsTiCMVJM%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
   [...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A07Z&Version=2009-01-01&Signature=iSdwajbztRg2FQuqq%2BzXa8Fbo7nfqfV3d%2BPyDaxfA54%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    hea[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A08Z&Version=2009-01-01&Signature=IU2bPcrq772WVZdSyr9yz5vSioC0H0MePyduVMbVEKI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    header[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionList&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A09Z&Version=2009-01-01&Signature=eGLGpoE1utuZ0xR%2BohSLVX6Uo3jQN6J376GT9By%2BhZU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-04-26T02:03:00.000Z'
      X-Amz-Date:
      - Wed, 26 Apr 2017 01:20:09 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=aZj6yL9fpJ8dMsZPTe0tKGGQEQ6ibPTLRiShqzUBmLE=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 7540f938-f1cd-4f24-837d-730faba83edc
      x-mws-timestamp:
      - '2017-04-26T01:20:09.719Z'
      x-mws-response-context:
      - ISXelUz/U3AWBv8Vcn53ODWZXn3WZ9oc7BN528eJ6gnkFwfzA4yb76N/O0VHzW4pzJLPa/cdMPc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionListResult>
            <HasNext>true</HasNext>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469725017282</FeedSubmissionId>
              <SubmittedDate>2017-04-26T01:19:37+00:00</SubmittedDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469724017282</FeedSubmissionId>
              <StartedProcessingDate>2017-04-26T01:19:50+00:00</StartedProcessingDate>
              <SubmittedDate>2017-04-26T01:18:55+00:00</SubmittedDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469723017282</FeedSubmissionId>
              <StartedProcessingDate>2017-04-26T01:19:32+00:00</StartedProcessingDate>
   [...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A20%3A12Z&Version=2009-01-01&Signature=kEKSQAae3VwIXJ9QgSPQ09fVW9jO4Vcb0Q65ypxhQTY%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-separated-values; charset=CP1252
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '30.0'
      x-mws-quota-remaining:
      - '14.0'
      x-mws-quota-resetsOn:
      - '2017-04-26T02:03:00.000Z'
      x-mws-response-context:
      - zxcshUcO2RVaqKtGoToC9EGsq/AgRhLhdJG7lrRUi/4FAdPTIlRNB0Wy1cQB0O1xxP6g/75UOuY=,
        0I4GYKRHFHxzw0oG8qtj2dRz+fFAs+D32yHmHGY64/4Yp9knb/U+p3Rzoda52qX1qVQ0bFHHM6k=
      x-amz-request-id:
      - 0ffe1503-f621-4bb3-b62e-f79f321cba9f
      x-mws-request-id:
      - 0ffe1503-f621-4bb3-b62e-f79f321cba9f
      x-mws-timestamp:
      - '2017-04-26T01:20:13.439Z'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>469726017282</FeedSubmissionId><FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType><SubmittedDate>2017-04-26T01:20:13+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>0ffe1503-f621-4bb3-b62e-f79f321cba9f</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Wed, 26 Apr 2017 01:20:13 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com.mx/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A06Z&Version=2009-01-01&Signature=v%2FUqEC26Un%2F0ccw78cXEBAMSowZLYeFuLiGfuzU8yMU%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A06Z&Version=2009-01-01&Signature=Cw9V%2BYxidXBEpuHuUOzNUa05e7p7%2F%2BQNtxQc%2BGxn0Os%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    header[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A07Z&Version=2009-01-01&Signature=p6TN95U1UL4LBNRQJre92Afw9ugLGfpY5BaIthQ6PhQ%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
     [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A07Z&Version=2009-01-01&Signature=2VhYqSbuLZKg58jcvJSDeWherueIl3S%2B2CQTlSCkXwI%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
   [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A08Z&Version=2009-01-01&Signature=n2BC8YYH0V3TaYz5kN8csGz9MywKL8O4%2Bw8w3UmmTuw%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
   [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A09Z&Version=2009-01-01&Signature=aEb5ANrrXNwnRu%2FfUsSTq9FlkCm2Z5ghwqr%2FL5jc20I%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
     [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A10Z&Version=2009-01-01&Signature=qDQy4%2FR2yaxqDr0GWjBy9nP9Orz2AFHPclh5zXr2PH0%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
   [...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=FILTERED&Action=SubmitFeed&ContentMD5Value=iUI5qlSDSrZOHRgvj4amUQ%3D%3D&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A26%3A10Z&Version=2009-01-01&Signature=n5f12sdyFKvJgunyMeCO%2FkfOLMdb61hNWuqqkgH11CA%3D
    body:
      encoding: ASCII-8BIT
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      [...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetFeedSubmissionResult&FeedSubmissionId=469726017282&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A30%3A11Z&Version=2009-01-01&Signature=6wUPGOzzbupl%2Fq0%2FTYxJrUH35javkwMzUxtyK%2BSPe7s%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/plain;charset=windows-1252
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - '2017-04-26T02:03:00.000Z'
      Content-MD5:
      - rkkx1Xv/k56/onrN0m7E/Q==
      x-mws-response-context:
      - 6JcFaqMv850pB0K0pD8qlyGSAj6iiz38Ww6cgdyeWlpcS9PqULuSTcMqaYwLv25ZdlBxz9e5WNU=,
        kTyDhhJ/hllDgpf+kxFgjv4GMqaWe6LVk9ZAATyTsWEx5vGruSqnrumODqdPOouyNAiJwuLiOQ0=
      x-amz-request-id:
      - '0976a324-b471-4056-a91e-58fbfdc60f96'
      x-mws-request-id:
      - '0976a324-b471-4056-a91e-58fbfdc60f96'
      x-mws-timestamp:
      - '2017-04-26T01:30:12.173Z'
    body:
      encoding: ASCII-8BIT
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t1\n\tNumber
        of records successful\t\t1\n\n"
  recorded_at: Wed, 26 Apr 2017 01:30:12 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=CancelFeedSubmissions&FeedSubmissionId=469726017282&FeedTypeList.Type.1=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-04-26T01%3A31%3A41Z&Version=2009-01-01&Signature=vvEp7UOxuamjeTHNANRpQHVxJ1lv6DHq6xl3dHEAe%2FY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-04-26T02:03:00.000Z'
      X-Amz-Date:
      - Wed, 26 Apr 2017 01:31:42 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=yGzwCj0DhmnB9FpZqh8i0CvjfaFLaM/tBvw7z3yDg2s=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - abceaf34-e649-4572-b052-555404d9eb5e
      x-mws-timestamp:
      - '2017-04-26T01:31:42.362Z'
      x-mws-response-context:
      - 0E0bG1eSBTk4onlgu7Meuxtu6R8bPXOw227pgbcTmWLPwx88wGrwDHaRQBWjZy8gCBTnYCgM6d8=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <CancelFeedSubmissionsResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <CancelFeedSubmissionsResult>
            <Count>100</Count>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469738017282</FeedSubmissionId>
              <StartedProcessingDate>2017-04-26T01:31:20+00:00</StartedProcessingDate>
              <SubmittedDate>2017-04-26T01:30:16+00:00</SubmittedDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469737017282</FeedSubmissionId>
              <StartedProcessingDate>2017-04-26T01:28:50+00:00</StartedProcessingDate>
              <SubmittedDate>2017-04-26T01:28:10+00:00</SubmittedDate>
              <CompletedProcessingDate>2017-04-26T01:31:12+00:00</CompletedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType>
              <FeedSubmissionId>469736017282</FeedSubmissionId>
              <StartedProcessingDate>2017-04-26T01:28:31+00:00</StartedProcessingDate>
              <SubmittedDate>2017-04-26T01:27:16+00:00</SubmittedDate>
        [...]
[...]
