---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A35Z&Version=2009-01-01&Signature=CSmMnBrOqn1iLcrzmMMQ1YtGP6v36N1MMDDUzHuy%2Fac%3D
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=HN9rLg7UBN+lrTFyZgvxM+noDBupFhd7Z4UU6lcsoug=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:36:35 GMT
      x-mws-request-id:
      - 0c7762bc-5877-4c9b-bc27-538a8bad02be
      x-mws-timestamp:
      - '2015-03-28T18:36:35.602Z'
      x-mws-response-context:
      - pfykS2598ZhqLhZ+W/tpNsvdLN/k4BkMQ/vCYYmJj4CKFj1LeWBSsX5sJ9nqehDTA+Tl023NjOs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionListResult>
            <HasNext>true</HasNext>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75487016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:35:23+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:35:39+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75486016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:30:37+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:30:41+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75485016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:20:23+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:20:38+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75484016522</FeedSubmissionId>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_IN_PROGRESS_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:15:29+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:15:40+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75483016522</FeedSubmissionId>
              <CompletedProcessingDate>2015-03-28T18:33:15+00:00</CompletedProcessingDate>
              <FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType>
              <FeedProcessingStatus>_DONE_</FeedProcessingStatus>
              <SubmittedDate>2015-03-28T18:05:27+00:00</SubmittedDate>
              <StartedProcessingDate>2015-03-28T18:05:40+00:00</StartedProcessingDate>
            </FeedSubmissionInfo>
            <FeedSubmissionInfo>
              <FeedSubmissionId>75481016522</FeedSubmissionId>
              <CompletedPro[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A35Z&Version=2009-01-01&Signature=yF65DPC4M%2BTMbUDfRMe%2FFaervU%2FhD3XQAZuQ0XDFiFM%3D
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-q[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A36Z&Version=2009-01-01&Signature=UoCEEfu2cRhNw54stA%2BvuVRDqvZFr%2FBylO76%2FxAokn0%3D
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A36Z&Version=2009-01-01&Signature=6l1%2FfyX0ozG7QOUCqa9O9ix7oePVVSonxLRunAs0KT0%3D
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-re[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFeedSubmissionCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A36%3A37Z&Version=2009-01-01&Signature=jGbPw%2Byx5QjZJ9gt9PU139WRsKCKVC8U5gucZ6a3ahY%3D
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '61.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaFeedsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=3KtspVaYnPkX7YcMAB2nEnZdaBL+CTs7DQRzvA1ix80=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:36:37 GMT
      x-mws-request-id:
      - 2734ed97-6f31-47cb-89d6-11e05e1e9751
      x-mws-timestamp:
      - '2015-03-28T18:36:37.903Z'
      x-mws-response-context:
      - M7qRFFF54KMmY6PY8l1934rcTKYCMt4kU3PjRbBPCA71jmynQ8iltkP1qK7Kc40SzdM9Otluz6Y=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetFeedSubmissionCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetFeedSubmissionCountResult>
            <Count>12430</Count>
          </GetFeedSubmissionCountResult>
          <ResponseMetadata>
            <RequestId>2734ed97-6f31-47cb-89d6-11e05e1e9751</RequestId>
          </ResponseMetadata>
        </GetFeedSubmissionCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:36:38 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-12-26T15%3A35%3A47Z&Version=2009-01-01&Signature=mIG6a6b5GZWHfODa4orgbCM3eejZq6kbiBEdXQh6tI8%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-separated-values; charset=CP1252
      Content-MD5:
      - iUI5qlSDSrZOHRgvj4amUQ==
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '30.0'
      x-mws-quota-remaining:
      - '4.0'
      x-mws-quota-resetsOn:
      - '2015-12-26T16:03:00.000Z'
      x-mws-response-context:
      - 1L4Rux8cGKtiLBGAErVsKHQFfqqCSe+J8OYlqcLPuEjQK+ZH0lkjBgebH9n1YC3agXPVjBNeGp+A
        HnYOVLgmLhyYf+GZMh2A, ptFmstkON4wj3+ePjjSp/vRK5QHBGaLKMqbnSzaFRUG0HAzE2aX3b+q4N7tig0UTburTHp0jFehZ
        oDfpMWSG3g==
      x-amz-request-id:
      - 8ba643a4-fbc5-420c-ade7-ca661703d5ad
      x-mws-request-id:
      - 8ba643a4-fbc5-420c-ade7-ca661703d5ad
      x-mws-timestamp:
      - '2015-12-26T15:35:49.410Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>173056016795</FeedSubmissionId><FeedType>_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_</FeedType><SubmittedDate>2015-12-26T15:35:49+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>8ba643a4-fbc5-420c-ade7-ca661703d5ad</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Sat, 26 Dec 2015 15:35:49 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-12-26T15%3A35%3A50Z&Version=2009-01-01&Signature=aGMcpEw3N8uQRFG%2BzfJYQ4WGMeRNj0MVNFPJl%2Bf9L58%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-se[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-12-26T15%3A35%3A52Z&Version=2009-01-01&Signature=T5sv8u0S%2BHzqaCxSGrrfmXJoHPHdoxvU8tfg0AeYkS8%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-separate[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-12-26T15%3A35%3A55Z&Version=2009-01-01&Signature=Ow21bwg61GpY%2FfZnQ5h98AAIk0khmU6NKq8pMUkuHaw%3D
    body:
      encoding: UTF-8
      string: "sku\tprice\tquantity\nwidget\t\t0\n"
    headers:
      Content-Type:
      - text/tab-separat[...]
[...]
