---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A55Z&Version=2010-10-01&Signature=ZEeblTUtUphDbyLQawEUzzNnWzu0wodcKpUReSPQYL4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - eb331337-63db-481f-807d-7f7e7cb66c28
      x-mws-timestamp:
      - '2015-03-28T18:11:56.456Z'
      x-mws-response-context:
      - jN3pcuxvt7h19/C9JK4NTcv/mFlP0nnVb2GW2VsSCQzDACIJKDu2v9EsxBs703dCYNVFqWBPHcs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:56.456Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>eb331337-63db-481f-807d-7f7e7cb66c28</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:56 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A56Z&Version=2010-10-01&Signature=K9OdU2GmW8CVKJeTjZ2Af1F4LQHPGD1nwVwUaDTzevM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - f08a8ecf-a2ba-4478-b855-b5d85ec96091
      x-mws-timestamp:
      - '2015-03-28T18:11:56.862Z'
      x-mws-response-context:
      - vePSdQzYDswPcqfz9U6LocIPN8CN/Wcx0ss5E+WpPT/iUAurnd+SwYj4XExTrwGXZFVydEBE984=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:56.862Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f08a8ecf-a2ba-4478-b855-b5d85ec96091</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:56 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A56Z&Version=2010-10-01&Signature=2Z1QP%2BfUZCNqcOH5Sk5Ro%2B6X8jk9j9e1UsEqcBs690w%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - ae1985bc-e95e-49e8-a162-054fbd642fe7
      x-mws-timestamp:
      - '2015-03-28T18:11:57.812Z'
      x-mws-response-context:
      - zYnlvTYYcM6iCAUR6gh25ub5loyKA6SHCuecy5Ds40WoNkR124yr/J2KDhQNdtLnXfnFz5jBiIg=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:57.812Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>ae1985bc-e95e-49e8-a162-054fbd642fe7</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:57 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A57Z&Version=2010-10-01&Signature=YfhGEJO3yOp50lEAVyXl5yoKhmXULlG%2FZyz8hFjCqJw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 8dc7807a-426e-4401-b1b8-63affb69eb44
      x-mws-timestamp:
      - '2015-03-28T18:11:58.404Z'
      x-mws-response-context:
      - E6HShIVMHKl4c60Fze0uvV3LOecT05P5jMwH/Ihc9dt1fOuGJ5mVCp7EGwSkBFpck/iflQqdrzY=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:58.404Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>8dc7807a-426e-4401-b1b8-63affb69eb44</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:58 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2015-02-26&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A58Z&Version=2010-10-01&Signature=xR8K4uc9X%2FtmmaOQtVwpD7hx0V1y8NsP6BTBc6SOCaQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 7077489c-8c8b-4620-aefa-493b53aa39da
      x-mws-timestamp:
      - '2015-03-28T18:11:59.969Z'
      x-mws-response-context:
      - zUZgr49ZkZHhbGPzC5Fw7g87q0H59ZsMSZvYZMGCNE4CsUPi9ktQ8nuszPo4O+tH7SbdmC7zzQk=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>7077489c-8c8b-4620-aefa-493b53aa39da</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:00 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2015-02-26&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A00Z&Version=2010-10-01&Signature=BCA2lKnzA2DrX2IRRxB5AECutoXJnymfDVvaD%2BjXxTI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 0bce4c49-3217-4b86-9ad1-0295818b91fe
      x-mws-timestamp:
      - '2015-03-28T18:12:00.487Z'
      x-mws-response-context:
      - OOV0PyX91yGqMOtKpUPxzjgBIUWs55WU5BslN1vX/VRYX5MkzxCg8YfYnlOsbR2xrqEDqnGPjH0=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>0bce4c49-3217-4b86-9ad1-0295818b91fe</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:00 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2015-02-26&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A00Z&Version=2010-10-01&Signature=RYhDt494f712BdbRIl5mMnZcK7aQ%2FX9y1VH68fY1X0U%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - ac3c3c0a-2694-47dc-bf25-bd54de8e21f4
      x-mws-timestamp:
      - '2015-03-28T18:12:01.494Z'
      x-mws-response-context:
      - Z2qbV0CUpDTgxRx7/eBP4CHTsyt5SC6W/6FIiuQShdJPxChWMi8RXlZNLnnxirKobQbiD6XxeRw=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>ac3c3c0a-2694-47dc-bf25-bd54de8e21f4</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:01 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2015-02-26&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A01Z&Version=2010-10-01&Signature=nVknTgziJaUWs6bYX%2FRjykhYNvz3r6CQtOUajGBD3cc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 32c50063-f3b5-4aef-8d2a-eb8ad14b2fc7
      x-mws-timestamp:
      - '2015-03-28T18:12:02.497Z'
      x-mws-response-context:
      - c3vPpNAr0FIC6NN/sl0e025Ae3eu7Rzn3c8IgqVX7xGtDj65ZaOntpsP8DUOBUBOesZfk/Nqx8s=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>32c50063-f3b5-4aef-8d2a-eb8ad14b2fc7</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:02 GMT
recorded_with: VCR 2.9.3
