---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentOutboundShipment/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A46Z&Version=2010-10-01&Signature=kpZh1fL%2FRfGlQEia9Mg6OmFdAaM%2FLl8qXKmasoWtoSU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 141f0282-a779-498f-bb0e-a746e9d85190
      x-mws-timestamp:
      - '2015-03-28T18:11:46.998Z'
      x-mws-response-context:
      - 0D4KRKrub4KuI7wwbcvg1goFWhQkig5uKnmQ7W4fx7ljayZmByr/snzXKPWdsdywgFX8m2ToJfs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:46.998Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>141f0282-a779-498f-bb0e-a746e9d85190</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:47 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentOutboundShipment/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A47Z&Version=2010-10-01&Signature=zYyyFAnGX%2BiMBuwPWvsq5pmofa8y8J0rRYo7izfYGkI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 0466e1fc-0e19-46aa-8dfb-b12a596de7b2
      x-mws-timestamp:
      - '2015-03-28T18:11:47.414Z'
      x-mws-response-context:
      - CF+GtwDy69B0g2Qod8RjpcPsjQhPlzB93JCDx7jpbliSFBmSlvOfjcZ6X7UtBq78AAJRcOlauUY=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:47.414Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0466e1fc-0e19-46aa-8dfb-b12a596de7b2</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:47 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentOutboundShipment/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A47Z&Version=2010-10-01&Signature=L5McjX6atMUlV1IGaGiPlVIQv1swu24EqGUxQLBc2Io%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 3f760ab7-aa15-49cd-88c1-7f2ee7ec453b
      x-mws-timestamp:
      - '2015-03-28T18:11:48.372Z'
      x-mws-response-context:
      - 5xLjf9mEzic7M8os5ANkq3RpDV4PjDJg0KyBr4aK0UPGwBo7XpBEOafBnaPS5R3rzs2pP3yjGRw=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:48.372Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3f760ab7-aa15-49cd-88c1-7f2ee7ec453b</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:48 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentOutboundShipment/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A48Z&Version=2010-10-01&Signature=nQGnzGdg9IGAVLhF157ymp%2FyEtquBW9oqgPPFlkZSGg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 02834013-69f3-42e0-bead-f0ac194bf00e
      x-mws-timestamp:
      - '2015-03-28T18:11:48.960Z'
      x-mws-response-context:
      - 6PHtLT3aOC8YhSIaaVu1BujxMKXWlWQFluXLsInsmepJZZXGdi9JoBS2muqOi857fK4SX356+8s=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:48.960Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>02834013-69f3-42e0-bead-f0ac194bf00e</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:48 GMT
recorded_with: VCR 2.9.3
