---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentOutboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A46Z&Version=2010-10-01&Signature=kpZh1fL%2FRfGlQEia9Mg6OmFdAaM%2FLl8qXKmasoWtoSU%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 141f0282-a779-498f-bb0e-a746e9d85190
      x-mws-timestamp:
      - '2015-03-28T18:11:46.998Z'
      x-mws-response-context:
      - 0D4KRKrub4KuI7wwbcvg1goFWhQkig5uKnmQ7W4fx7ljayZmByr/snzXKPWdsdywgFX8m2ToJfs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:46.998Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>141f0282-a779-498f-bb0e-a746e9d85190</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:47 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentOutboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A47Z&Version=2010-10-01&Signature=zYyyFAnGX%2BiMBuwPWvsq5pmofa8y8J0rRYo7izfYGkI%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 0466e1fc-0e19-46aa-8dfb-b12a596de7b2
      x-mws-timestamp:
      - '2015-03-28T18:11:47.414Z'
      x-mws-response-context:
      - CF+GtwDy69B0g2Qod8RjpcPsjQhPlzB93JCDx7jpbliSFBmSlvOfjcZ6X7UtBq78AAJRcOlauUY=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:47.414Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0466e1fc-0e19-46aa-8dfb-b12a596de7b2</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:47 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentOutboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A47Z&Version=2010-10-01&Signature=L5McjX6atMUlV1IGaGiPlVIQv1swu24EqGUxQLBc2Io%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 3f760ab7-aa15-49cd-88c1-7f2ee7ec453b
      x-mws-timestamp:
      - '2015-03-28T18:11:48.372Z'
      x-mws-response-context:
      - 5xLjf9mEzic7M8os5ANkq3RpDV4PjDJg0KyBr4aK0UPGwBo7XpBEOafBnaPS5R3rzs2pP3yjGRw=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:48.372Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3f760ab7-aa15-49cd-88c1-7f2ee7ec453b</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:48 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/FulfillmentOutboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A56Z&Version=2010-10-01&Signature=VntRAzdvP%2BV%2FRsfxUw6FXooSLNi%2Bhw2%2BvbLRR8%2F75O4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - PE9FBGXYXQVVDESVA1ZG
      x-mws-request-id:
      - 70eab663-081d-4ada-985b-3bc41605ba55
      x-mws-timestamp:
      - '2020-10-12T11:32:56.786Z'
      x-mws-response-context:
      - N6luAgw4CZbGnNKATQfWrfLcansvA0D8pP7AgVsTprml3gG2lX+EX9eJ/R4odK3ETF+dNR1CxkY=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T11:32:56.786Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>70eab663-081d-4ada-985b-3bc41605ba55</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:56 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/FulfillmentOutboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A52%3A59Z&Version=2010-10-01&Signature=vYtXivACrH%2BxRCG6n8qH96vXFV5L%2F7l24iEfDf2oxto%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 2VQK9A3AXRRPTX81WRT5
      x-mws-request-id:
      - 0b56a431-e1d3-4de9-bef5-4b5fad5b6332
      x-mws-timestamp:
      - '2020-10-13T10:52:59.550Z'
      x-mws-response-context:
      - 6vmb7ILWtdQZuG1WhbrP2OolC8v5C294aT0uePOsM2fC8bnXJZKTV4bs1S8xTsYgHBq0hDzbXDc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentOutboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:52:59.550Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0b56a431-e1d3-4de9-bef5-4b5fad5b6332</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:52:59 GMT
recorded_with: VCR 6.0.0
