---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2014-07-13&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A22Z&Signature=82XgOEmrt7K0o1zAPZ5oU82ANp2kgXMXXKI1iDOX1eA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 88ce4c09-4cff-4eb2-af2e-f6618a991519
      x-mws-timestamp:
      - '2014-08-12T11:38:22.477Z'
      x-mws-response-context:
      - TqDlEpX1OlxiUcOkWWfGI93E4gFTfk7VkL8kzvGEwjV6KLqtpS2R7LMh4DDVfX55Yg1WndwYaXw=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>88ce4c09-4cff-4eb2-af2e-f6618a991519</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:22 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2014-07-13&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A22Z&Signature=ZStp6dHEEcbBJImpRqSeyqS9HwLkTYRPsZGoyYlG0OM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - dc9a9e9a-2e1a-4b53-8d4e-956b8adb62e7
      x-mws-timestamp:
      - '2014-08-12T11:38:22.812Z'
      x-mws-response-context:
      - Rmm7ClBv953kBIBwfKABSFuaTfZLDDgg06oZcPgN2h8BAbdfTm92C6lKJnRZ5JKKA5qZAuGyg1g=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>dc9a9e9a-2e1a-4b53-8d4e-956b8adb62e7</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:22 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2014-07-13&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A22Z&Signature=At%2FQYh1HQr8wWvGZQM%2BqC0NlVFkd0bjAY3k5jMOkvDg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 613a7ff5-d8bc-4e6d-9bf1-4d9eb7755f65
      x-mws-timestamp:
      - '2014-08-12T11:38:23.878Z'
      x-mws-response-context:
      - grinWJZ+gqmffEONtTs6MpKeWV4SVURykkMp98d7Goi32Jwe7mau9+Yu8F08tM3sdyWFtBMkDRYR
        3ogm+NNf8Q==
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>613a7ff5-d8bc-4e6d-9bf1-4d9eb7755f65</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:24 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2014-07-13&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A24Z&Signature=ZQWEJPjzcByKgLy2EutwjKTxYcv8TjMw1jL4i%2FhVXjQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - b5044c44-4863-4ff8-9349-beb9020230a2
      x-mws-timestamp:
      - '2014-08-12T11:38:24.445Z'
      x-mws-response-context:
      - WwEz1ITAGrRAy0o6d3TnYKpMYH1ajleB5NTJUnEmL5Jjmb1EnK6gX4zzWPuYb6LuHuHco3Of2MMg
        7VvDQoWsGA==
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>b5044c44-4863-4ff8-9349-beb9020230a2</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:24 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A24Z&Signature=Tl5YTmGeI1vCraz7YEVWN9wlFNWeBQ5dzdNWWM2IB2g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 3a2add5c-4aa0-4eda-b928-11882cd87697
      x-mws-timestamp:
      - '2014-08-12T11:38:24.999Z'
      x-mws-response-context:
      - mGkYzbY7ZcjhlDyBDvYL2aIpUx2zWQLlM7LoUts7Uqf2yg3PCGdJSrormGPFAW39NAnaLto4moKt
        JWbFMf/ctQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:38:24.999Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3a2add5c-4aa0-4eda-b928-11882cd87697</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:25 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A25Z&Signature=b0dkTkYUWe9raKEbDulJk7r1EpMPYWz6kXGpS2ChaIY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 0adea8df-54d4-4845-b671-6cb0133302c1
      x-mws-timestamp:
      - '2014-08-12T11:38:25.199Z'
      x-mws-response-context:
      - LJhnKnPyN0ywLPPeUaUB2RLtFl5dKBtO2kNWLkMtl7PsnBnGjapIwF4Py5Mur+YM7meFQ0/rN6E=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:38:25.199Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0adea8df-54d4-4845-b671-6cb0133302c1</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:25 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A25Z&Signature=tjSME2PidyH%2B6V6%2BQSVSNuVTg8vj6cXx7nUvPvx2TLI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 27b1a5fb-2b8f-43e8-9a59-ee4847b07b84
      x-mws-timestamp:
      - '2014-08-12T11:38:25.874Z'
      x-mws-response-context:
      - 9fDrh4jjbjcXcRZ4FYHlhtPoNP37J+LFt8b/uGylofE5RibOEt/FugsVm9tw23Ac1/E3W2ujg5ke
        dyefFmQ0Qw==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:38:25.874Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>27b1a5fb-2b8f-43e8-9a59-ee4847b07b84</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:25 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A38%3A25Z&Signature=sFzK7yrajs5FBPijQREf6DKPVcql3Y68AWxHKxsq2a8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 6e666276-bef8-4c54-a374-27dc7de29566
      x-mws-timestamp:
      - '2014-08-12T11:38:26.340Z'
      x-mws-response-context:
      - f63pRWoNgdZiz8K3DxVkwt6qM2kzQv3m9DsqszIR391hjbbleXf5VayK4ky/QbkLJ0GykKcBigI=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:38:26.340Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>6e666276-bef8-4c54-a374-27dc7de29566</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:38:26 GMT
recorded_with: VCR 2.9.2
