---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A55Z&Version=2010-10-01&Signature=ZEeblTUtUphDbyLQawEUzzNnWzu0wodcKpUReSPQYL4%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - eb331337-63db-481f-807d-7f7e7cb66c28
      x-mws-timestamp:
      - '2015-03-28T18:11:56.456Z'
      x-mws-response-context:
      - jN3pcuxvt7h19/C9JK4NTcv/mFlP0nnVb2GW2VsSCQzDACIJKDu2v9EsxBs703dCYNVFqWBPHcs=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:56.456Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>eb331337-63db-481f-807d-7f7e7cb66c28</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:56 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A56Z&Version=2010-10-01&Signature=K9OdU2GmW8CVKJeTjZ2Af1F4LQHPGD1nwVwUaDTzevM%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - f08a8ecf-a2ba-4478-b855-b5d85ec96091
      x-mws-timestamp:
      - '2015-03-28T18:11:56.862Z'
      x-mws-response-context:
      - vePSdQzYDswPcqfz9U6LocIPN8CN/Wcx0ss5E+WpPT/iUAurnd+SwYj4XExTrwGXZFVydEBE984=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:56.862Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f08a8ecf-a2ba-4478-b855-b5d85ec96091</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:56 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInventory/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A56Z&Version=2010-10-01&Signature=2Z1QP%2BfUZCNqcOH5Sk5Ro%2B6X8jk9j9e1UsEqcBs690w%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - ae1985bc-e95e-49e8-a162-054fbd642fe7
      x-mws-timestamp:
      - '2015-03-28T18:11:57.812Z'
      x-mws-response-context:
      - zYnlvTYYcM6iCAUR6gh25ub5loyKA6SHCuecy5Ds40WoNkR124yr/J2KDhQNdtLnXfnFz5jBiIg=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:57.812Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>ae1985bc-e95e-49e8-a162-054fbd642fe7</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:57 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2015-02-26&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A58Z&Version=2010-10-01&Signature=xR8K4uc9X%2FtmmaOQtVwpD7hx0V1y8NsP6BTBc6SOCaQ%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 7077489c-8c8b-4620-aefa-493b53aa39da
      x-mws-timestamp:
      - '2015-03-28T18:11:59.969Z'
      x-mws-response-context:
      - zUZgr49ZkZHhbGPzC5Fw7g87q0H59ZsMSZvYZMGCNE4CsUPi9ktQ8nuszPo4O+tH7SbdmC7zzQk=
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>7077489c-8c8b-4620-aefa-493b53aa39da</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:00 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2016-04-23&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A51%3A35Z&Version=2010-10-01&Signature=vjmwf9iTZGLGg3N7CeixY%2FTAEPVM1FlmAO4UH9jNa%2F8%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      x-mws-request-id:
      - 9554073a-bc1a-485a-a6f0-40a6b4f0b83c
      x-mws-timestamp:
      - '2016-05-23T12:51:35.621Z'
      x-mws-response-context:
      - 0xHIFGh6DwgR6zcwcLD1kTKHPljs24Hb/kK4tT+u0nALOYrwzD5uXfut6ULfHj/IL6QbIS2rs/V/
        2bvCm908ig==
    body:
      encoding: UTF-8
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <MarketplaceId>A1AM78C64UM0Y8</MarketplaceId>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>9554073a-bc1a-485a-a6f0-40a6b4f0b83c</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Mon, 23 May 2016 12:51:35 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/FulfillmentInventory/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A56Z&Version=2010-10-01&Signature=c5UEX9qQmg3%2BOoi8yKZwr6iJKKwpyhUMlqhXigvio%2B0%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - MMTKCWVP4MZD9EM7J0CX
      x-mws-request-id:
      - fefcc5c1-99e4-4b0a-80f9-7e925754947a
      x-mws-timestamp:
      - '2020-10-12T11:32:57.489Z'
      x-mws-response-context:
      - JKw1izbDCcNm8QOm2mkggfbAbrhKLnh5GO9ngB8LvGKdwcJTwfcVecp6C1oJSRhIRrLB4evYDzE=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T11:32:57.489Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>fefcc5c1-99e4-4b0a-80f9-7e925754947a</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:57 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A57%3A57Z&Version=2010-10-01&Signature=y5xbpjgbc5B%2FufOHps%2FDIuLam5L1ubmuiainJRzGjvk%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 77CGA5X20NWD1MWBTD3B
      x-mws-request-id:
      - 39e30373-ffad-42b9-8248-4abccd6cb491
      x-mws-timestamp:
      - '2020-10-13T10:57:58.412Z'
      x-mws-response-context:
      - cY/gHuW0sgb0s3BR3oPVprNwHHIPafb8U5tOPgWs1fQjZSHpq92PtJwK1untP2pl1e5CmN+3+kM=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:57:58.412Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>39e30373-ffad-42b9-8248-4abccd6cb491</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:57:58 GMT
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/FulfillmentInventory/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListInventorySupply&QueryStartDateTime=2020-09-13&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A57%3A58Z&Version=2010-10-01&Signature=XgbMk4gKdKwdaOczEoJK1T5FUfU2WBYhGcn9znugxPw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      x-amz-rid:
      - GM75D0NKPW21QMH9TD4K
      x-mws-request-id:
      - 0f50fe50-a15f-4430-961f-0037c055868a
      x-mws-timestamp:
      - '2020-10-13T10:57:59.032Z'
      x-mws-response-context:
      - xgdsrgLO1wGOsjmO5dz5pyZgjb47HogPlK0B8WjNhmtQHv5JC1qFHhgqWjTdtmOGNdpwB8v9Xec=
    body:
      encoding: ASCII-8BIT
      string: |
        <ListInventorySupplyResponse xmlns="http://mws.amazonaws.com/FulfillmentInventory/2010-10-01/">
          <ListInventorySupplyResult>
            <MarketplaceId>A19VAU5U5O7RUS</MarketplaceId>
            <InventorySupplyList/>
          </ListInventorySupplyResult>
          <ResponseMetadata>
            <RequestId>0f50fe50-a15f-4430-961f-0037c055868a</RequestId>
          </ResponseMetadata>
        </ListInventorySupplyResponse>
  recorded_at: Tue, 13 Oct 2020 10:57:59 GMT
recorded_with: VCR 6.0.0
