---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T12%3A13%3A35Z&Version=2010-10-01&Signature=eHNcyZbxWCPRkFhPLX8hww%2BDo3y7Crsl5mhB34r%2FBoQ%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 7EN7HKZ32JTQ19GHCD99
      x-mws-request-id:
      - ff5a0f09-8831-4822-896c-8d79e635f587
      x-mws-timestamp:
      - '2020-10-12T12:13:35.299Z'
      x-mws-response-context:
      - "/muoVMeJPidTCO0YU0QGN9AZbzq1WqKqEvPrYF+l095TRJ6TqVSYocvWkCPDT9OYL2hMrPKJyWA="
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T12:13:35.299Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>ff5a0f09-8831-4822-896c-8d79e635f587</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 12:13:35 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T12%3A13%3A35Z&Version=2010-10-01&Signature=d1bXIaGb9iqDaKd5Y23vX10FPgcTsZ7g2fKCnx6MQoU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - D0YC051BPS3BZ91H0D91
      x-mws-request-id:
      - cf9f08f7-dc01-4300-84d9-9aa8089f3ce7
      x-mws-timestamp:
      - '2020-10-12T12:13:35.668Z'
      x-mws-response-context:
      - 6agK2cDEz/a9HwX+Nv+8lEFv0VoodpDF4yTg61rOquK3z1XOLDvP9bS8lj2WXuo2W60Vc6Fccas=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T12:13:35.668Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>cf9f08f7-dc01-4300-84d9-9aa8089f3ce7</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 12:13:35 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T12%3A13%3A35Z&Version=2010-10-01&Signature=UcqC1hunxZVImuZmEg%2FgHj7%2Bswab65wQUNr%2FQkLEo90%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - M8YMWV6NJBE5CXESWCGP
      x-mws-request-id:
      - bd4a93dd-8a91-431b-9259-51ac25d3ee82
      x-mws-timestamp:
      - '2020-10-12T12:13:36.372Z'
      x-mws-response-context:
      - xgdsrgLO1wGOsjmO5dz5pyZgjb47HogPlK0B8WjNhmtQHv5JC1qFHhgqWjTdtmOGNdpwB8v9Xec=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T12:13:36.372Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>bd4a93dd-8a91-431b-9259-51ac25d3ee82</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 12:13:36 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T12%3A13%3A36Z&Version=2010-10-01&Signature=f3LL3MmtlW9ZvMh3naQPMtT1rkcSoX9s43NlWNWqdKw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 06QTTGJSW27GE9678QZ9
      x-mws-request-id:
      - dc3141bf-3456-4b2b-aee0-1d5e7a35c1bd
      x-mws-timestamp:
      - '2020-10-12T12:13:37.024Z'
      x-mws-response-context:
      - qv3qy6/kpwR+pdNyw2ekKV8SsBSFqxo8dRF/i3Yu2lSb5qCmEc/Q9noRcNwYmcawLcV04Mgrjbc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T12:13:37.024Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>dc3141bf-3456-4b2b-aee0-1d5e7a35c1bd</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 12:13:37 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A57%3A59Z&Version=2010-10-01&Signature=AOJ4WhqbtZszd%2F2Y26osGVsxlRNv%2FeL2h1NETNGpcaw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - X0P0MH6DY7J03KYXDND5
      x-mws-request-id:
      - 57638ce8-baa6-445e-a27c-8e2b17dd52a4
      x-mws-timestamp:
      - '2020-10-13T10:57:59.708Z'
      x-mws-response-context:
      - 3y0q7SLQJm5VsFtGNvKn5SOy6Qie3zd1pI1Ui4lC6csMPh19zMy/sbjIzAKpbF0k2VAp7G/Y13I=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:57:59.708Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>57638ce8-baa6-445e-a27c-8e2b17dd52a4</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:57:59 GMT
recorded_with: VCR 6.0.0
