---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=CreateInboundShipmentPlan&InboundShipmentPlanRequestItems.member.1.Quantity=1&InboundShipmentPlanRequestItems.member.1.SellerSKU=123&SellerId=MERCHANT_ID&ShipFromAddress.AddressLine1=1%20Main%20St&ShipFromAddress.City=New%20York&ShipFromAddress.CountryCode=US&ShipFromAddress.Name=John&ShipFromAddress.PostalCode=10001&ShipFromAddress.StateOrProvinceCode=NY&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T17%3A57%3A11Z&Version=2010-10-01&Signature=HTahqK%2F34j2%2Bwf2v8WKG%2BtrZDyjt8%2BxbunzOyPgLDLY%3D'
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FBAInboundServiceMWS.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=pT7xwpu6WctYKsTIO4luDvcrW/ltDjciVEUTPrjPmvk=,
        Algorithm=HmacSHA256
      X-Amz-Date:
      - Sat, 28 Mar 2015 17:57:13 GMT
      x-mws-request-id:
      - de487c2f-4526-4e71-b7be-017d31d3e0fe
      x-mws-timestamp:
      - '2015-03-28T17:57:12.406Z'
      x-mws-response-context:
      - 2hWxqzUcaXDGC4YOjP3uif9AKpJg+kQQvcNcFab+tkR2c/AX0Dqck/K757lRslJU++WNkKTVZGQ=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateInboundShipmentPlanResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <CreateInboundShipmentPlanResult>
            <InboundShipmentPlans>
              <member>
                <LabelPrepType>SELLER_LABEL</LabelPrepType>
                <DestinationFulfillmentCenterId>IND1</DestinationFulfillmentCenterId>
                <ShipToAddress>
                  <City>Whitestown</City>
                  <CountryCode>US</CountryCode>
                  <PostalCode>46075</PostalCode>
                  <Name>Amazon.com</Name>
                  <AddressLine1>4255 Anson Blvd</AddressLine1>
                  <StateOrProvinceCode>IN</StateOrProvinceCode>
                </ShipToAddress>
                <Items>
                  <member>
                    <FulfillmentNetworkSKU>X000R2R7FX</FulfillmentNetworkSKU>
                    <Quantity>1</Quantity>
                    <SellerSKU>123</SellerSKU>
                  </member>
                </Items>
                <ShipmentId>FBA2KCQ9RK</ShipmentId>
              </member>
            </InboundShipmentPlans>
          </CreateInboundShipmentPlanResult>
          <ResponseMetadata>
            <RequestId>de487c2f-4526-4e71-b7be-017d31d3e0fe</RequestId>
          </ResponseMetadata>
        </CreateInboundShipmentPlanResponse>
  recorded_at: Sat, 28 Mar 2015 17:57:13 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=CreateInboundShipmentPlan&InboundShipmentPlanRequestItems.member.1.Quantity=1&InboundShipmentPlanRequestItems.member.1.SellerSKU=123&SellerId=MERCHANT_ID&ShipFromAddress.AddressLine1=1%20Main%20St&ShipFromAddress.City=New%20York&ShipFromAddress.CountryCode=US&ShipFromAddress.Name=John&ShipFromAddress.Pos[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=CreateInboundShipmentPlan&InboundShipmentPlanRequestItems.member.1.Quantity=1&InboundShipmentPlanRequestItems.member.1.SellerSKU=123&SellerId=MERCHANT_ID&ShipFromAddress.AddressLine1=1%20Main%20St&ShipFromAddress.City=New%20York&ShipFromAddress.CountryCode=US&ShipFromAddress.Name=John&ShipFromAddress.Pos[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=CreateInboundShipmentPlan&InboundShipmentPlanRequestItems.member.1.Quantity=1&InboundShipmentPlanRequestItems.member.1.SellerSKU=123&SellerId=MERCHANT_ID&ShipFromAddress.AddressLine1=1%20Main%20St&ShipFromAddress.City=New%20York&ShipFromAddress.CountryCode=US&ShipFromAddress.Name=John&ShipFromAddress[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/FulfillmentInboundShipment/2010-10-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A06%3A10Z&Version=2010-10-01&Signature=yXqzxtpxPdx4UaVGOJSqcUrMeQBn5PDqeOWAaWf54lo%3D'
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 1fb5ff67-8fef-46aa-80e6-faa88acccf55
      x-mws-timestamp:
      - '2015-03-28T18:06:11.752Z'
      x-mws-response-context:
      - 1lFuAyNXriBG+Vi+1BZYIxBrGFcDTQ41JYDdgiWPx9mTqB39FEhOGdkAMKhdKDRJQQ+2jSot9NU=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonaws.com/FulfillmentInboundShipment/2010-10-01/">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:06:11.752Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>1fb5ff67-8fef-46aa-80e6-faa88acccf55</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:06:11 GMT
[...]
