---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/MerchantFulfillment/2015-06-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-01-21T10%3A37%3A15Z&Version=2015-06-01&Signature=ogf%2BN3zCHCvfU6iuxGkAryEUyTZ5PZ5tk3tWD%2BRofGo%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 457f82d1-fe08-40bd-b09c-39921bbb5cc3
      x-mws-timestamp:
      - '2016-01-21T10:37:14.656Z'
      x-mws-response-context:
      - j+0FAF/zxgqRKnLUYJy2VhhPw0c0r5dnDWisyxii4zmvs3nnQwieX8uBd+jtIAxlk5Wi5aMVLlCg
        6QHwUsEQNg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/MerchantFulfillment/2015-06-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-01-21T10:37:14.656Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>457f82d1-fe08-40bd-b09c-39921bbb5cc3</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Thu, 21 Jan 2016 10:37:16 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/MerchantFulfillment/2015-06-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-01-21T10%3A37%3A16Z&Version=2015-06-01&Signature=lbrYDZnuZpvcIe4ySQyrLqIdO10mVr%2BN98zcatWDYpA%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 81cc1a31-831d-433b-9b2f-7691c0ec0662
      x-mws-timestamp:
      - '2016-01-21T10:37:15.010Z'
      x-mws-response-context:
      - Ijc2LbM4WEcJ++tUag5ULgbOgtC5ap89gx9tdikrk38gW1ygrdt7vI9tqfQFL6lh8LENi6/DtNzy
        VPv/bfnS4w==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/MerchantFulfillment/2015-06-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-01-21T10:37:15.010Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>81cc1a31-831d-433b-9b2f-7691c0ec0662</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Thu, 21 Jan 2016 10:37:16 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/MerchantFulfillment/2015-06-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-01-21T10%3A37%3A16Z&Version=2015-06-01&Signature=l4rtSokNzOIb1H2PtnWSCpwjDLKJacXn6TztIhoLqXs%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - b64e9590-a8be-456e-bcae-b91a4721bafe
      x-mws-timestamp:
      - '2016-01-21T10:37:15.904Z'
      x-mws-response-context:
      - 2Di+DJEizSAsrPryR5gfGRkdCDxrBNz0sGmDOjogolecJzRAfOZwRhRg0n8xX83socz3299J2IAs
        305nzNFGeg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/MerchantFulfillment/2015-06-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-01-21T10:37:15.904Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>b64e9590-a8be-456e-bcae-b91a4721bafe</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Thu, 21 Jan 2016 10:37:17 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/MerchantFulfillment/2015-06-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T12%3A53%3A58Z&Version=2015-06-01&Signature=yZhS%2B9eIpmKXLEDd89TyUNjf7mTWW25VaiGo%2BXXwuQs%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 60e6043e-ae58-4948-ae58-4fdec0b32c0f
      x-mws-timestamp:
      - '2016-05-23T12:53:58.779Z'
      x-mws-response-context:
      - mW2/FWnNTcBrgNB/+3IXzXr1w8vX2RE8BEAWH2Y1s+LleDsF4lP1t67c9bW2Pgiw27tL3vqmNroQ
        Z9zxOJJESQ==
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/MerchantFulfillment/2015-06-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-05-23T12:53:58.779Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>60e6043e-ae58-4948-ae58-4fdec0b32c0f</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 23 May 2016 12:53:58 GMT
recorded_with: VCR 3.0.1
