---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Products/2011-10-01
    body:
      encoding: UTF-8
      string: ASIN=1780935374&AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetLowestPricedOffersForASIN&ItemCondition=New&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-01-29T23%3A55%3A25Z&Version=2011-10-01&Signature=H7X%2BMTLCIcVYxR0WamedUEDgxfNqL9llzZQlFSLxGVE%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/xml
      x-mws-quota-max:
      - '200.0'
      x-mws-quota-remaining:
      - '200.0'
      x-mws-quota-resetsOn:
      - '2017-01-30T00:03:00.000Z'
      x-mws-request-id:
      - 408ccd3b-7fe0-4a9d-a998-af75cb2a396e
      x-mws-timestamp:
      - '2017-01-29T23:55:25.356Z'
      x-mws-response-context:
      - SaHAU/jW5vZVmM0RSfRb6Ez6EHjAzHKKyHCiQISPEtJS/Ftnv5EE2mxzsi4bi7z3862KmU4Cex79
        PE0mhthtVA==
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?><GetLowestPricedOffersForASINResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01">
            <GetLowestPricedOffersForASINResult MarketplaceID="A2EUQ1WTGCTBG2" ItemCondition="New" ASIN="1780935374" status="Success">
                <Identifier>
                    <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>
                    <ASIN>1780935374</ASIN>
                    <ItemCondition>New</ItemCondition>
                    <TimeOfOfferChange>2017-01-29T23:40:45.695Z</TimeOfOfferChange>
                </Identifier>
                <Summary>
                    <TotalOfferCount>10</TotalOfferCount>
                    <NumberOfOffers>
                        <OfferCount condition="used" fulfillmentChannel="Merchant">3</OfferCount>
                        <OfferCount condition="new" fulfillmentChannel="Merchant">7</OfferCount>
                    </NumberOfOffers>
                    <LowestPrices>
                        <LowestPrice condition="used" fulfillmentChannel="Merchant">
                            <LandedPrice>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </LandedPrice>
                            <ListingPrice>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </ListingPrice>
                            <Shipping>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </Shipping>
                        </LowestPrice>
                        <LowestPrice condition="new" fulfillmentChannel="Merchant">
                            <LandedPrice>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </LandedPrice>
                            <ListingPrice>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </ListingPrice>
                            <Shipping>
                                <CurrencyCode>CAD</CurrencyCode>
                                <Amount>FILTERED</Amount>
                            </Shipping>
                        </LowestPrice>
                    </LowestPrices>
                    <BuyBoxEligibleOffers>
                        <OfferCount condition="used" fulfillmentChannel="Merchant">2</OfferCount>
                        <OfferCount condition="new" fulfillmentChannel="Merchant">1</OfferCount>
                    </BuyBoxEligibleOffers>
                </Summary>
                <Offers>
                    <Offer>
                        <SubCondition>new</SubCondition>
                        <SellerFeedbackRating>
                            <SellerPositiveFeedbackRating>0.0</SellerPositiveFeedbackRating>
                            <FeedbackCount>0</FeedbackCount>
                        </SellerFeedbackRating>
                        <ShippingTime minimumHours="24" maximumHours="48" availabilityType="NOW"/>
                        <ListingPrice>
                            <CurrencyCode>CAD</CurrencyCode>
                            <Amount>FILTERED</Amount>
                        </ListingPrice>
                        <Shipping>
                            <CurrencyCode>CAD</CurrencyCode>
                            <Amount>FILTERED</Amount>
                        </Shipping>
                        <ShipsFrom>
                            <Country>IN</Country>
                        </ShipsFrom>
                        <IsFulfilledByAmazon>false</IsFulfilledByAmazon>
                        <IsFeaturedMerchant>false</IsFeaturedMerchant>
                    </Offer>
                    <Offer>
                        <SubCondition>new</SubCondition>
                        <SellerFeedbackRating>
                            <SellerPositiveFeedbackRating>95.0</SellerPositiveFeedbackRating>
                            <FeedbackCount>3255</FeedbackCount>
                        </SellerFeedbackRating>
                        <ShippingTime minimumHours="24" maximumHours="48" availabilityType="NOW"/>
       [...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01
    body:
      encoding: UTF-8
      string: ASIN=1780935374&AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetLowestPricedOffersForASIN&ItemCondition=New&MarketplaceId=A13V1IB3VIYZZH&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-01-29T23%3A55%3A26Z&Version=2011-10-01&Signature=2X6DAb8dBXo4tik0R2rC6ETsB135RLpUfjxESnHvJBo%3D
    headers:
      Content-Type:
      - application/[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Products/2011-10-01
    body:
      encoding: UTF-8
      string: ASIN=1780935374&AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetLowestPricedOffersForASIN&ItemCondition=New&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-01-29T23%3A55%3A27Z&Version=2011-10-01&Signature=UaahepgMwkrScQBAurjnn8M9N2VKiIgqNoz18PGW6cQ%3D
    headers:
      Content-Type:
      - application/x-ww[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Products/2011-10-01
    body:
      encoding: UTF-8
      string: ASIN=1780935374&AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetLowestPricedOffersForASIN&ItemCondition=New&MarketplaceId=A39IBJ37TRP1C6&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A45Z&Version=2011-10-01&Signature=vdICPhdMxh5IQAy15XxfduEc06s4Huh4zrjL8g8i2ZM%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/xml
      x-amz-rid:
      - BZ1WY7ABA3QRB43GX57H
      x-mws-quota-max:
      - '200.0'
      x-mws-quota-remaining:
      - '200.0'
      x-mws-quota-resetsOn:
      - '2020-10-12T11:36:00.000Z'
      x-mws-request-id:
      - 507fa892-8301-4f29-879f-38b3946c66ee
      x-mws-timestamp:
      - '2020-10-12T11:32:46.434Z'
      x-mws-response-context:
      - ImBYerQcUvxnIqUDdKPmRJZJ5taGqdHtqef8x9wVNtvo8JCvI46n94D4BbJWCpJNbnpdKRV0Pho=
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"[...]
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Products/2011-10-01
    body:
      encoding: UTF-8
      string: ASIN=1780935374&AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetLowestPricedOffersForASIN&ItemCondition=New&MarketplaceId=A19VAU5U5O7RUS&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A57%3A55Z&Version=2011-10-01&Signature=FYZW0mD9MUakyM%2BXUrXZIj5Zj2zvm08vbeCqJQaeTKk%3D
    headers:
      Content-Type:
      - applicatio[...]
