---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/OffAmazonPayments/2013-01-01/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A34Z&Version=2013-01-01&Signature=VOsp%2B9IZ1fds4E0fxMfTX59t8uA63RWXzaCS%2BuOGv1g%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 96b43217-fc56-4e70-8abb-9318d95283cc
      x-mws-timestamp:
      - '2015-03-28T18:11:35.857Z'
      x-mws-response-context:
      - IfHZkTemDry1pdqCKhKHAGedqxkSEu7bP1SX8OKdxpFx3BgZwhIaGtXzlTKPnWzaN9bIIfm1vtI=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/OffAmazonPayments/2013-01-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:35.857Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>96b43217-fc56-4e70-8abb-9318d95283cc</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:35 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/OffAmazonPayments/2013-01-01/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A35Z&Version=2013-01-01&Signature=B23ntCYK6rHZeTrAggaOesQRaDSFuGtPYP1vtIWpxj0%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 35af6489-20f0-4569-87bc-a88ca0c62f6e
      x-mws-timestamp:
      - '2015-03-28T18:11:36.370Z'
      x-mws-response-context:
      - GE4TxDbZlnLfbWhDIr+kGBHXcCPgCEAmsgBlaH1Tl93a+tlErlf3pZXtm9KX1iM7nI65Y4QKGN4=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/OffAmazonPayments/2013-01-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:36.370Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>35af6489-20f0-4569-87bc-a88ca0c62f6e</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:36 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/OffAmazonPayments/2013-01-01/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A36Z&Version=2013-01-01&Signature=0XbVnePFYNs4o0LUvEHUwaxiFdRRi2qhAKMPCtKXOq0%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 285360ac-ea7c-4dad-9e04-184be52da5de
      x-mws-timestamp:
      - '2015-03-28T18:11:37.363Z'
      x-mws-response-context:
      - dOCWy8fi/C8Ir/m32bWG0cz1rdfdoP+/Cj4I3lq+DsVXpGAzvYhrZgaUP3Ww7rH5ZUlRXaIy0yE=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/OffAmazonPayments/2013-01-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:37.363Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>285360ac-ea7c-4dad-9e04-184be52da5de</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:37 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/OffAmazonPayments/2013-01-01/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A11%3A37Z&Version=2013-01-01&Signature=8Ih4lU34LqA6T%2BFIJtrCodFRWLyHTo3iNwTLMfPv1Yw%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 4775e39c-1d01-4fc1-9617-ee75b5610224
      x-mws-timestamp:
      - '2015-03-28T18:11:38.092Z'
      x-mws-response-context:
      - H9KvM3Yujub1/Odr8fD9HOaSNvqOF74a62K0LTEQ8biVOLfx5iTGTspxGnwUN8+gUxM8EqUrin8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/OffAmazonPayments/2013-01-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:11:38.092Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>4775e39c-1d01-4fc1-9617-ee75b5610224</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:11:38 GMT
recorded_with: VCR 2.9.3
