---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Orders/2013-09-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A08Z&Version=2013-09-01&Signature=vz7mmqg2RnsQJ%2BrwBiwg75g%2BOF12oMAdEIDNKXHtZgE%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 3a783ba0-7600-4de0-91ca-e31a6d630d52
      x-mws-timestamp:
      - '2015-03-28T18:12:09.407Z'
      x-mws-response-context:
      - 6PHtLT3aOC8YhSIaaVu1BujxMKXWlWQFluXLsInsmepJZZXGdi9JoBS2muqOi857fK4SX356+8s=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:12:09.407Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3a783ba0-7600-4de0-91ca-e31a6d630d52</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:09 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Orders/2013-09-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A09Z&Version=2013-09-01&Signature=WN6LYVU2IDTJ9oS91GDDvMfipVM6e1P%2F2%2BAe1AmJt9s%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 0c6b9dc7-6d1c-470e-a7ae-6eef493fbc75
      x-mws-timestamp:
      - '2015-03-28T18:12:09.860Z'
      x-mws-response-context:
      - 45uIbHkrLW659z2/hBJvmqcGXc1NIis4BhXz/8n6XEuCa1rqL5Du7XOX92mCbqnS2gdPvnZuSWA=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:12:09.860Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0c6b9dc7-6d1c-470e-a7ae-6eef493fbc75</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:09 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Orders/2013-09-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A09Z&Version=2013-09-01&Signature=B6aZYqLZrR1rAs90PZrFQCg1WgvbUhFc3f9XTbK0iD4%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 3b914504-aa00-49fd-b620-1d963937cb1c
      x-mws-timestamp:
      - '2015-03-28T18:12:10.574Z'
      x-mws-response-context:
      - b9KRp0tCuykMA1HNc7tlEv3ULmJxxyIlbw85q+zv+DqRUKSSS0j6I395/GVaHems8/hN5FzAlwU=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:12:10.574Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>3b914504-aa00-49fd-b620-1d963937cb1c</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:10 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Orders/2013-09-01
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A12%3A10Z&Version=2013-09-01&Signature=6p7KAhV7pStJH%2BgqAuYHpxMQN8lK43r%2Bc1MDGrjBJhM%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 7d7f978c-1893-4a2d-ba7a-dd057664ecae
      x-mws-timestamp:
      - '2015-03-28T18:12:11.407Z'
      x-mws-response-context:
      - 6PHtLT3aOC8YhSIaaVu1BujxMKXWlWQFluXLsInsmepJZZXGdi9JoBS2muqOi857fK4SX356+8s=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Orders/2013-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:12:11.407Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>7d7f978c-1893-4a2d-ba7a-dd057664ecae</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:12:11 GMT
recorded_with: VCR 2.9.3
