---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRecommendations&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A44%3A59Z&Signature=C8cDp3iMoVZWYyaYuCKp%2Fu1tjai4NRhrKeM8CHw48n4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.17476ff9-2216-11e4-9aa9-0a59cee40000.0..Li8Uc@
      x-mws-request-id:
      - 5d095875-a33d-479f-9108-3b0700dfcd15
      x-mws-timestamp:
      - '2014-08-12T11:45:00.264Z'
      x-mws-response-context:
      - mxnFl/zLzBpNUSBJynyANYGDxA44uC254u0EN9sPRvGUvbYmafH/Hk9X+nzTbwLsTVlXxXfd44k=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRecommendationsResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <ListRecommendationsResult>
            <SelectionRecommendations>
              <member>
                <SalesRank>28471</SalesRank>
                <RecommendationReason>Popular out of stock products</RecommendationReason>
                <ItemName>Business Adventures</ItemName>
                <ProductCategory>Books</ProductCategory>
                <LastUpdated>2014-08-10T00:00:00Z</LastUpdated>
                <RecommendationId>Selection-Popular out of stock products-0575003499---Business Adventures</RecommendationId>
                <NumberOfOffers>1</NumberOfOffers>
                <NumberOfCustomerReviews>0</NumberOfCustomerReviews>
                <AverageCustomerReview>0.0</AverageCustomerReview>
                <BrandName/>
                <ItemIdentifier>
                  <Asin>0575003499</Asin>
                  <Sku/>
                  <Upc/>
                </ItemIdentifier>
              </member>
              <member>
                <SalesRank>7</SalesRank>
                <BuyboxPrice>
                  <Amount>14.5</Amount>
                  <CurrencyCode>CAD</CurrencyCode>
                </BuyboxPrice>
                <RecommendationReason>High demand products similar to your listings</RecommendationReason>
                <ItemName>The Oh She Glows Cookbook: Vegan Recipes to Glow from the Inside Out</ItemName>
                <ProductCategory>Books</ProductCategory>
                <LastUpdated>2014-08-10T00:00:00Z</LastUpdated>
                <RecommendationId>Selection-High demand products similar to your listings-0143187228---The Oh She Gl[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRecommendations&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A01Z&Signature=ibGJ02QBz7xB8d6K28HgzdL%2BzAPK5apDI%2BT9U%2FLAGV8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-A[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRecommendations&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A02Z&Signature=y7Q51Ll0L8cktkN0ktdg30ED9DOQDdEjE7TzHTieEEI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRecommendations&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A06Z&Signature=SEDNOuLuCwO8yTIB8OpKdhjpcoN%2F51Sk1DWVkbtJ2%2FI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionT[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A07Z&Signature=T1vl9jjBBGFl73qn%2B9bv1ckA5ZHHKxc9FkkED8cC3fs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 324de69a-8e5c-4e69-bdce-a1311808053e
      x-mws-timestamp:
      - '2014-08-12T11:45:08.319Z'
      x-mws-response-context:
      - DPBKVhFLKT2sdxiiMIxJhpQcXRgbWaKmgZavnut1zOcaE/wc7HvzA7qmeRCYC5wcXzh1itTwfAk=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:45:08.319Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>324de69a-8e5c-4e69-bdce-a1311808053e</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:45:08 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A08Z&Signature=0SKgLdL97U4kxY4rTVS2JFj%2FS3Oth6jlT7KMMoNpepY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - f8efba46-5339-41cf-abcc-7aaa8fa54a11
      x-mws-timestamp:
      - '2014-08-12T11:45:08.509Z'
      x-mws-response-context:
      - GUveY9LUD0+kcHF4K6SmyaEbThc4BedPnEAS4svPXz2OHH/lxBsau0zR02f3zAP/T6o3nqwjKF4=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:45:08.509Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f8efba46-5339-41cf-abcc-7aaa8fa54a11</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:45:08 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A08Z&Signature=wxu72BiSTyUkBi5Gat8FmIniG9NTalAPqW5onnNfmv0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 1d093f77-f358-4856-875f-829b87a93102
      x-mws-timestamp:
      - '2014-08-12T11:45:09.209Z'
      x-mws-response-context:
      - NaX6UF/vixW1VzA0TCd7xGruWmaDE+F31ZUFhYJNVFKfX3+zI1g9Iw0y7gnNDk5iQXxJGxuoj1CJ
        ZRO4GPWDpQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:45:09.209Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>1d093f77-f358-4856-875f-829b87a93102</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:45:09 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Recommendations/2013-04-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A09Z&Signature=VLrj4b1P6VOy%2FXOuMRPfEufg%2BIa%2BFr6hAjPTR8MjJYY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 16f5527d-2abc-4e43-9781-adf394ad8670
      x-mws-timestamp:
      - '2014-08-12T11:45:09.647Z'
      x-mws-response-context:
      - t0QQ2M5dlVkzQcC92nl4LjB7iilUzwPWfLLcj26nipjs/6SlACs9PicTCQWeqk2USZmVnN9NL2k=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Recommendations/2013-04-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:45:09.647Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>16f5527d-2abc-4e43-9781-adf394ad8670</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:45:09 GMT
recorded_with: VCR 2.9.2
