---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A49%3A58Z&Version=2009-01-01&Signature=92V68GFwbHs9Ga%2BZM2hz5MMIpA9Rdc88LC8TykuTOoE%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:49:58 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=H2C5IA9C0La75HqZxssDQnRDvrRWpoUKhGVwyPISwYE=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 4a8a7f2a-9d6a-44da-a63f-985a191597b4
      x-mws-timestamp:
      - '2018-04-27T14:49:58.365Z'
      x-mws-response-context:
      - 3txtJ3q+NciLf48oGETVqvHYuKN64a48XZmAiZy9o/kHg670BmGT/T2+oPMMLfM2H4bS5aogpgg=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportCountResult>
            <Count>8162</Count>
          </GetReportCountResult>
          <ResponseMetadata>
            <RequestId>4a8a7f2a-9d6a-44da-a63f-985a191597b4</RequestId>
          </ResponseMetadata>
        </GetReportCountResponse>
  recorded_at: Fri, 27 Apr 2018 14:49:58 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A49%3A59Z&Version=2009-01-01&Signature=0wzN0rEH1dPLu6Xnvqr7x%2FyTFD0KxfJfYk9uCW3titY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
  [...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A49%3A59Z&Version=2009-01-01&Signature=sIK%2FjNX7%2BAhxEf55DsclH6ISiJRrLACGFV2xB%2FWwYTg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200[...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A01Z&Version=2009-01-01&Signature=w10CZH6iiluBXsgJ2FeI8AJo6yRlURXCx3g5i1EeBgo%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:50:01 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=WnramXKxHxCBjNCMRZbhipSuZXGQh9DXLOvc7iuTVsA=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 6e0c5473-eeda-4102-b04d-ca8354eab4fc
      x-mws-timestamp:
      - '2018-04-27T14:50:01.550Z'
      x-mws-response-context:
      - pmLKuL3+K4Dkr8GOPsJ1V1ztGn0ESKUJBZWuXM4dftfm5xv0WgnOn+OFFHuTpKfLp9vaLCotUkQ=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestCountResult>
            <Count>1062</Count>
          </GetReportRequestCountResult>
          <ResponseMetadata>
            <RequestId>6e0c5473-eeda-4102-b04d-ca8354eab4fc</RequestId>
          </ResponseMetadata>
        </GetReportRequestCountResponse>
  recorded_at: Fri, 27 Apr 2018 14:50:01 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A04Z&Version=2009-01-01&Signature=ybM2WuO%2FqY4b2oWblNMx2m9Bd6%2FUaFbnxMLNxSRBwGQ%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:50:05 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=u5RzmWIgjJ0tubB6v8DaIgVMfxHMa6nQKmt27RuoeVc=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - d5844347-d522-4e8b-ba39-40f3ee839034
      x-mws-timestamp:
      - '2018-04-27T14:50:05.115Z'
      x-mws-response-context:
      - VEWTIX6RUnD+07k9fxiY2sXn9tXoCdyUUeAtNcyiS4qYdosDbqA2hJomzvxivtldAxnfdnl4A2g=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportRequestListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestListResult>
            <HasNext>true</HasNext>
            <ReportRequestInfo>
              <ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType>
              <ReportProcessingStatus>_DONE_NO_DATA_</ReportProcessingStatus>
              <EndDate>2018-04-27T13:05:00+00:00</EndDate>
              <Scheduled>false</Scheduled>
              <ReportRequestId>281596017648</ReportRequestId>
              <StartedProcessingDate>2018-04-27T13:05:05+00:00</StartedProcessingDate>
              <SubmittedDate>2018-04-27T13:05:00+00:00</SubmittedDate>
              <StartDate>2018-03-28T13:05:00+00:00</StartDate>
              <CompletedDate>2018-04-27T13:05:11+00:00</CompletedDate>
            </ReportRequestInfo>
            <ReportRequestInfo>
              <ReportType>_GET_V1_SELLER_PERFORMANCE_REPORT_</ReportType>
              <ReportProcessingStatus>_DONE_</ReportProcessingStatus>
              <EndDate>2018-04-27T12:00:43+00:00</EndDate>
              <Scheduled>false</Scheduled>
              <ReportRequestId>281592017648</ReportRequestId>
              <StartedProcessingDate>2018-04-27T12:00:59+00:00</StartedProcessingDate>
              <SubmittedDate>2018-04-27T12:00:43+00:00</SubmittedDate>
              <StartDate>2018-04-27T12:00:43+00:00</StartDate>
              <CompletedDate>2018-04-27T12:01:14+00:00</CompletedDate>
              <GeneratedReportId>10508858749017648</GeneratedReportId>
            </ReportRequestInfo>
            <ReportRequestInfo>
              <ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType>
              <ReportProcessingStatus>_DONE_NO_DATA_</ReportProcessingStatus>
              <EndDate>2018-04-27T10:04:59+00:00</EndDate>
              <Scheduled>false</Scheduled>
              <ReportRequestId>281584017648</ReportRequestId>
              <StartedProcessingDate>2018-04-27T10:05:05+00:00</StartedProcessingDate>
  [...]
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A08Z&Version=2009-01-01&Signature=zBVaN6mx2wMC4Ir%2Fh0vx2vtaiXn%2BKWCWCP%2Fekf2UZOk%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:50:08 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=QIXD+IaIJm7v6PAwrCNhYZaq4Dpb5W1t99E7xvohw2M=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 669408b2-081c-4cbf-8c76-aa024496147e
      x-mws-timestamp:
      - '2018-04-27T14:50:08.881Z'
      x-mws-response-context:
      - 5NslKSciYjIxp47iNqZ5v55c1AbMyQF28mO8c4uNShxLX/sEB/nxBpxqktan3g/aoXxiZnZUMCQ=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleCountResult>
            <Count>1</Count>
          </GetReportScheduleCountResult>
          <ResponseMetadata>
            <RequestId>669408b2-081c-4cbf-8c76-aa024496147e</RequestId>
          </ResponseMetadata>
        </GetReportScheduleCountResponse>
  recorded_at: Fri, 27 Apr 2018 14:50:08 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&MaxCount=1&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A12Z&Version=2009-01-01&Signature=DMKDvCI9IyRsA9Kn6SNoDwCJ9zYWFtCDuOxJI5pvoRw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:50:12 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=1MDd68eO0y2M3LnDoju0ozDPsVknxNH78/YaS54oXYQ=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - a100273d-3c31-45a7-9637-de58ca6dc06d
      x-mws-timestamp:
      - '2018-04-27T14:50:12.207Z'
      x-mws-response-context:
      - QhPecuXvQhnb/wWntsO4k9EquTPdgvZjtd8cIoIwTVlNMvu0C4uD/GhOdhJZj0R5eltNIJc8Pjg=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportListResult>
            <HasNext>true</HasNext>
            <NextToken>JuM7ZXHhdVj2jpZedg0wbepZIBgCTJgsS+FksejuIGGcJxxZ1yZGtPoQYIPfFtQnOR+0z2Xfr4VxrBy2GCH8weSPLuwOkWksBi2c8OyG5/PMAJXS3pfsd93m4vqvNTeNghWfya4GLbyLswCPwgzqdVXp7c3qDaniEsqGJJJsu89DjPVev4qIpssygbmzE6XBeRmqkTxWuHZeEKMyI6kvBR4dBBJER8F2gVYkkYP9LejsmDarIpxuW2ge8i+vZkaoxeMEh7/AhYbe+8OuSIAKJe3RdmZkWp3OuGyOPxh7quHBKilqmN/NLsAvWUpHqgpd2gBthVNPP+zOEeuZCMnOxYDwChTP86Zm+dzX3WEBMOpR90YnuQ/h9kK+ugW7+etbUlKyUbphOXA=</NextToken>
            <ReportInfo>
              <ReportType>FeedSummaryReport</ReportType>
              <Acknowledged>false</Acknowledged>
              <ReportId>10516502317017648</ReportId>
              <ReportRequestId>281605017648</ReportRequestId>
              <AvailableDate>2018-04-27T14:49:29+00:00</AvailableDate>
            </ReportInfo>
          </GetReportListResult>
          <ResponseMetadata>
            <RequestId>a100273d-3c31-45a7-9637-de58ca6dc06d</RequestId>
          </ResponseMetadata>
        </GetReportListResponse>
  recorded_at: Fri, 27 Apr 2018 14:50:12 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReport&ReportId=10516502317017648&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A12Z&Version=2009-01-01&Signature=yfbVL4y3PrWGvaaNRU36BQTxnXaontBuWQxwGV07PWg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/plain;charset=windows-1252
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      Content-MD5:
      - rkkx1Xv/k56/onrN0m7E/Q==
      x-mws-response-context:
      - jlh99cEy9meyGGGupO2i7Hyjvp8cJNaYjvNVS46lfMI7zTSx9Z+ddQuMBJ8fH0EQvH8cQ3pcUWw=,
        d2JRe7+zq8GKf7fur6Pk04bkvlm6MSCqxit4hz0+8qbqrLeTrpxMRAb/GiY92bDNRWA1a4nned4=
      x-amz-request-id:
      - b89a74ec-1c64-4dd7-a8c2-dbb6c166148e
      x-mws-request-id:
      - b89a74ec-1c64-4dd7-a8c2-dbb6c166148e
      x-mws-timestamp:
      - '2018-04-27T14:50:12.392Z'
    body:
      encoding: ASCII-8BIT
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t1\n\tNumber
        of records successful\t\t1\n\n"
  recorded_at: Fri, 27 Apr 2018 14:50:12 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2018-04-27T14%3A50%3A19Z&Version=2009-01-01&Signature=2xkDrzw9zUajKl8mZ7wl%2FK3iVqAd%2FsBsDiVsAU3OjSU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2018-04-27T14:54:00.000Z'
      X-Amz-Date:
      - Fri, 27 Apr 2018 14:50:19 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.lwigtwr3h4inoeknjer76q4tl4.Default/1,
        Signed=true, Encrypted=false, Signature=SUKn5RotqSa3bDDn/rsHWJFi5MH948Df+SR+8CuNCxc=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 564ee7cd-e4f2-40fb-9872-3bf3eb0bfdbd
      x-mws-timestamp:
      - '2018-04-27T14:50:19.284Z'
      x-mws-response-context:
      - sckPfnCcM6wzDMUikUgRwnLOYkyLiop1c+uGFFp5NoAP3+RKtJ8FoOcIE1fPy10XBnJ9yocb9PY=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleListResult>
            <HasNext>false</HasNext>
            <ReportSchedule>
              <ReportType>_GET_FLAT_FILE_ORDERS_DATA_</ReportType>
              <Schedule>_1_DAY_</Schedule>
              <ScheduledDate>2018-04-27T22:35:07+00:00</ScheduledDate>
            </ReportSchedule>
          </GetReportScheduleListResult>
          <ResponseMetadata>
            <RequestId>564ee7cd-e4f2-40fb-9872-3bf3eb0bfdbd</RequestId>
          </ResponseMetadata>
        </GetReportScheduleListResponse>
  recorded_at: Fri, 27 Apr 2018 14:50:19 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A33%3A13Z&Version=2009-01-01&Signature=uZDJo6Las%2FYF%2FGg5AVv9U16psA6wiJq57M6XRGP2nsU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 9VJ1FQKJM9BHD1Z70VRN
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2020-10-12T11:36:00.000Z'
      X-Amz-Date:
      - Mon, 12 Oct 2020 11:33:14 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.zd2w7nq4skwm34cwmcwnsku4xy.Default/1,
        Signed=true, Encrypted=false, Signature=Tyux5P4mPG85tmnRda56JsCKMqxE6Iee/ZQX7QnUL3s=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - da76c88c-2c14-474a-a08c-255c9ac9f993
      x-mws-timestamp:
      - '2020-10-12T11:33:14.013Z'
      x-mws-response-context:
      - f61GEDg9FRwqERpOJ4d31sibKAswhurFQdPrf7+xO8owQyyS6OfsiMVI/UMHzO6eGBjSZlVzMS4=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestCountResult>
            <Count>2</Count>
          </GetReportRequestCountResult>
          <ResponseMetadata>
            <RequestId>da76c88c-2c14-474a-a08c-255c9ac9f993</RequestId>
          </ResponseMetadata>
        </GetReportRequestCountResponse>
  recorded_at: Mon, 12 Oct 2020 11:33:14 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Reports/2009-01-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A53%3A03Z&Version=2009-01-01&Signature=QMO%2BXAE3VZPAkfwXq%2Few3aaxpzRHe3mgsTL4M08xlgI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      [...]
[...]
