---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A54Z&Signature=g23u3PiM3O43XJWEdwD6V4u6hT4RyivHOOm7ySleD8s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - ZK2dFfzW10BjumsOfh8njPTcyYqoD2nQNFXon+GDcHWP4tLaCLcCoTJZf/1vU9xNcFx5/hBJ7A3q
        /2vo5W1nQ3RWQJ9idgB+, NHfq4wR/IZHHRcKLGFa28iB9h4LBP/uRJx9e6iV2BcJuabvuuC2VU5gVNQ4ek6ZgYtIMx1tF4Dxo
        ClnqY2sWCw==
      x-amz-request-id:
      - 82ef694a-c7b4-45d3-9174-93dbc28ae32e
      x-mws-request-id:
      - 82ef694a-c7b4-45d3-9174-93dbc28ae32e
      x-mws-timestamp:
      - '2014-08-12T11:45:55.279Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>374</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>82ef694a-c7b4-45d3-9174-93dbc28ae32e</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:45:57 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A45%3A57Z&Signature=udH1ZQCkYNfvallMJyRUE2Fqwc0UcxVHIZxpb39bq5w%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:19:00.000Z'
      x-mws-response-context:
      - 7c/3NAvn2xIEeMNutfC/CtFnHF4QkjOl/TVdNJgQWhESkFwFsUNDOBlJTGOV/BtnSiu8uaDdnl4G
        0iJlUe4zE+KJlhSsZdrT, LJhnKnPyN0ywLPPeUaUB2RLtFl5dKBtO2kNWLkMtl7PsnBnGjapIwF4Py5Mur+YM7meFQ0/rN6E=
      x-amz-request-id:
      - fb77460d-91dd-45a4-9940-bc903b15aa62
      x-mws-request-id:
      - fb77460d-91dd-45a4-9940-bc903b15aa62
      x-mws-timestamp:
      - '2014-08-12T11:45:58.651Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>387</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>fb77460d-91dd-45a4-9940-bc903b15aa62</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:01 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A01Z&Signature=F536oS1Te0kLNsdBQ23IXdh3JaPU0FXizfDhvpFfUu0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T11:47:00.000Z'
      x-mws-response-context:
      - LwVH5A8aBXeJV3NEVn9kznm9dF8VPbEyKwVaBuqKhY5o50u24gm0/0MICJHKzhmT+3AzPryRZ6IC
        zbP7kjS9clB+O+T4gorq, opMB9lzpLWXPz9g+jwE1Qyp2uS+st3Ov0y+eO1SL9gqXidOsHtEYYZieMBNgCcjhpTqx+Jt4fQE=
      x-amz-request-id:
      - 218e5b48-9af7-48f0-a6f3-e8f09a8fba9d
      x-mws-request-id:
      - 218e5b48-9af7-48f0-a6f3-e8f09a8fba9d
      x-mws-timestamp:
      - '2014-08-12T11:46:01.785Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>471</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>218e5b48-9af7-48f0-a6f3-e8f09a8fba9d</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:04 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A04Z&Signature=7r00CyRqJCheTfqgsOk%2BmESOswa1xyGDh2X2HGypF4s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:20:00.000Z'
      x-mws-response-context:
      - 5+ZO2YeE24dkDJinIf2qHazaSH4T+6BRUAzJ0X7PbI4xeTqA+xyQpszWkLe5Ecae8m0ghtAz5+KT
        P+sM/YudLm5WxPvboDjR, SRc9DYlnOUUEsRRiqsRmwfhotEyv8slaUVv/d3pfV/t0fpRD1KXHiPok6jBdTvFf7meNprJ7CcE=
      x-amz-request-id:
      - 5f47ce6a-93bc-4a23-9aa3-e2c544813d9d
      x-mws-request-id:
      - 5f47ce6a-93bc-4a23-9aa3-e2c544813d9d
      x-mws-timestamp:
      - '2014-08-12T11:46:05.023Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>438</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>5f47ce6a-93bc-4a23-9aa3-e2c544813d9d</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:07 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A07Z&Signature=TmzFw6i9nh4ouFVd6ljiAteSAaPxRvpu5q%2FyIe93iL8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - dusJWUWFP6PbkKMMYZhL0/ayDYrQcivulbvBaK9uNh1qpE+23ix6L969VJrFzY/a6LaOOSIJGYH1
        xsP48P1pM0zxBW/u2HI6, RcUjeUgduKbN/e67VibXbjn6Nq1OjuSOfvXbqb41VD1zRRE7Cw9RgVVLHveGide/348AWbK+nJhd
        ipGHRQ6aKQ==
      x-amz-request-id:
      - 22f79ef5-26ae-4875-8a63-fd0b5b2eebb6
      x-mws-request-id:
      - 22f79ef5-26ae-4875-8a63-fd0b5b2eebb6
      x-mws-timestamp:
      - '2014-08-12T11:46:08.311Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportListResult><NextToken>6D1FC3dhXSAD2s1QD6a1Faatt7H+KoLIM48r5nOh7ZQ1q7+biy1IyF130dcAIezsKtggkW5lERV7B+2iZsfaG8AEIDnOc43qgOR7rwD3TdO9sEYx33nCROr6OQDEMHv57VDYX5hoZBL6wL21W7Gtx89mNOdUz8cZ</NextToken><HasNext>true</HasNext><ReportInfo><ReportId>18738184403</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>10790032718</ReportRequestId><AvailableDate>2014-08-12T11:43:07+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>18737962603</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>10789752558</ReportRequestId><AvailableDate>2014-08-12T11:27:41+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportInfo><ReportInfo><ReportId>18736996833</ReportId><ReportType>FeedSummaryReport</ReportType><ReportRequestId>10789621732</ReportRequestId><AvailableDate>2014-08-12T10:20:19+00:00</AvailableDate><Acknowledged>false</Acknowledged></ReportIn[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A09Z&Signature=IXf1A4iz6w0oJGcqj%2Biu3FQyYlVGQrmZhK5vE55dxq0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '59.[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A10Z&Signature=XyeYAmyXx4X5PPz%2Fd0KR3E5vHHxQpB0LNLsK9IO%2F6Tg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '57.0'[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A12Z&Signature=%2BbgQ6T4wGqvmj3DFEYheItxSkCxSSGJCWmc41v4%2F46k%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A13Z&Signature=qgt4Lwe4r0I%2Bx7sh%2BHNTF4j5swQvCrn58HqH6g8gbYM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - bIN7OaWffTkbgyIDqFYNAef4/Mwn11ubAxjB80sa+6+iFPcOL1/KsfX/Acw728iqqtUpQedEqUHg
        ja0jIp4caPjcg4yREZTi, Q4cRG8kcY+4tjUoX8idS528OYFH/cexnI15YqH51GQkg/9d5bY6MYN+GpZ4MJSSV4ytNoYfbhxtz
        3jv4twTstg==
      x-amz-request-id:
      - c6478c01-51b3-4a47-a299-ff9bca41dd39
      x-mws-request-id:
      - c6478c01-51b3-4a47-a299-ff9bca41dd39
      x-mws-timestamp:
      - '2014-08-12T11:46:14.126Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>c6478c01-51b3-4a47-a299-ff9bca41dd39</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:14 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A14Z&Signature=YPscRizLvMwzfw2ldZ%2BxdJPFW9wRDXAxRcxUxgRJV%2FE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:19:00.000Z'
      x-mws-response-context:
      - SXtzrbaxRmrAz+bpEQ258aPBjcMIdNF1j/ghanod+EN8CdSh+jPdwUR4S2wtTZ8xoyZ5lYilDk5N
        bKxbwuQbqF/mDSBnqM6S, YN9/LWg6hvziW84XOfW8eDuFoWj/EAwEeec2mHhioKXQtu+Uz8YqNwQs5HtpxyQZaFekdK2bcins
        yVxerU58jg==
      x-amz-request-id:
      - 610d59e3-500d-4fdc-a72e-ceb659524b90
      x-mws-request-id:
      - 610d59e3-500d-4fdc-a72e-ceb659524b90
      x-mws-timestamp:
      - '2014-08-12T11:46:14.405Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>610d59e3-500d-4fdc-a72e-ceb659524b90</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:14 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A14Z&Signature=nLLJCT%2Blzir%2FlmNnB2Y5FbgeTal%2FX9RlF3k89d7kK1c%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T11:47:00.000Z'
      x-mws-response-context:
      - 9aDAzT6CGPZk5DhpZDYqcS3iieE34qwl8NtIHl6jR04yK1qoMqHzsxcJgeJgziwyvHv1TrQEvGzZ
        Hx0HRCjvcNgnnNw4t5G1, h2Jr4rECwPRxoyUHGx3dYejIzsU1qUVRJKqlfdzX1cdHe07P2A7BzPx+flNbGOrwRvYsLn3oOlI=
      x-amz-request-id:
      - 001773c7-3efa-4e29-b873-49a0be2697b9
      x-mws-request-id:
      - 001773c7-3efa-4e29-b873-49a0be2697b9
      x-mws-timestamp:
      - '2014-08-12T11:46:15.198Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>1</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>001773c7-3efa-4e29-b873-49a0be2697b9</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:15 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A15Z&Signature=hupC%2Bz3j1ACTTdhWJCOHHmLGXNqlgchc1fyLYtitKZg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:20:00.000Z'
      x-mws-response-context:
      - Pgkzcbn1rJRAP+39x3fQ2pJmEk1EpmPGEHvcVL0pMkQJhBY8Dyt47Bv7zd+wPS6EGxriJWihhEY6
        J6J/S0oBRp8sr4WVV+Vm, UE1v4fCyqJA6JZ/ooT0RnJ4FCy7tt7cNzI6wu+LqZjFdU7QrctCp/eKpn7W2cH1hjKB5t7zDro0=
      x-amz-request-id:
      - b3ffd2a3-29c9-4127-bb1d-091d27dd0ef1
      x-mws-request-id:
      - b3ffd2a3-29c9-4127-bb1d-091d27dd0ef1
      x-mws-timestamp:
      - '2014-08-12T11:46:16.105Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleCountResult><Count>0</Count></GetReportScheduleCountResult><ResponseMetadata><RequestId>b3ffd2a3-29c9-4127-bb1d-091d27dd0ef1</RequestId></ResponseMetadata></GetReportScheduleCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:16 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A16Z&Signature=F32dR243b%2FCGWmGlf1I%2BNa2VRMokqwkdUvOw8OUJPq0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - egwIUvofa8g25APTF09fZDK0AacVsyXnPRSG6EKkewKKn0IsZX3sAkmpH63sLDsg6KaDd2M4J9Ke
        6fKTZtPIG1OgMlP0u3mn, iFVAYZsZPgTZrdBHwiXuh+0E5UOmQhY1gRCi4WXd7KHR98IKCcBuqESgm7wqpDK9misOG8TGGU9H
        cfMv27zjoQ==
      x-amz-request-id:
      - 16cfe4b7-0619-4ba2-bfd2-fc19f5e85f95
      x-mws-request-id:
      - 16cfe4b7-0619-4ba2-bfd2-fc19f5e85f95
      x-mws-timestamp:
      - '2014-08-12T11:46:16.673Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>16cfe4b7-0619-4ba2-bfd2-fc19f5e85f95</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:16 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A16Z&Signature=iqcDQC9b0ekuAiqa77QavZC%2FgaYMt9bsfRif2o%2BiGrs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:19:00.000Z'
      x-mws-response-context:
      - g9/onxF15wZLmT4d/tMrDBOHVTqu4mNuaFO96a7pqhVgpYmOUd+pAtLU0PBSPoDDGpdtLjxs7lKI
        tIEdHIlOUzkf5A+kHYEU, jyjCdwtXzWGJrBRrJ1YqKmKGhGL/DKFN7M5T8sgaRzwnFccxMQSCjYxAqQaDrBX6DBdGlT/SSuM=
      x-amz-request-id:
      - 5841da13-126d-4705-9bd9-fc65fb3162de
      x-mws-request-id:
      - 5841da13-126d-4705-9bd9-fc65fb3162de
      x-mws-timestamp:
      - '2014-08-12T11:46:16.916Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>5841da13-126d-4705-9bd9-fc65fb3162de</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:16 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A16Z&Signature=8qVpTBZml0kFqNwR%2BqOzRhltLk6xB8CCdvEOjeTDNIw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T11:47:00.000Z'
      x-mws-response-context:
      - kQuwg7wGM/RCw5nzKnSsGWse0jH8Xik3LFSi2/Sv27ZbZFa8+uvy7edJ9RNn9mcucDlLPA06ILFx
        efs5i1wJch1MjTfuh+7Q, EG4eV8SktP8ATlVskk7rJ4ir+1fss4UybC+l7zKqUbL4HbYHLlHK2u5HWAYDEt4fEMrPFCADguZO
        avVCsNmy1w==
      x-amz-request-id:
      - 6e59c292-017c-455a-bddc-4527b83231f7
      x-mws-request-id:
      - 6e59c292-017c-455a-bddc-4527b83231f7
      x-mws-timestamp:
      - '2014-08-12T11:46:17.881Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext><ReportSchedule><ReportType>_GET_FLAT_FILE_ORDERS_DATA_</ReportType><Schedule>_1_DAY_</Schedule><ScheduledDate>2014-08-12T22:18:44+00:00</ScheduledDate></ReportSchedule></GetReportScheduleListResult><ResponseMetadata><RequestId>6e59c292-017c-455a-bddc-4527b83231f7</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:18 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A18Z&Signature=LCjdLOQm1OhqDScI%2F0TO5BvekNAapbMbptyklaATYxc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:20:00.000Z'
      x-mws-response-context:
      - Ug5gVbuC3DnrIXvVQkSg4d6w48CrLHmw3GvgyrgjJHW4GR2kHK0tGujYaSauPMTWNRv3gcJHVnIC
        imNV0mP8Yh93QcL1yEsp, N9V88MjlNLzMLoLGl2CumBrBrxayZ9zTxGOWPGF1FQEf39mKOmVFT5QVCSMDOOvYZE6poIuw5pQ=
      x-amz-request-id:
      - f6040338-edd1-4803-9efa-eb4c43912121
      x-mws-request-id:
      - f6040338-edd1-4803-9efa-eb4c43912121
      x-mws-timestamp:
      - '2014-08-12T11:46:18.575Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportScheduleListResult><NextToken></NextToken><HasNext>false</HasNext></GetReportScheduleListResult><ResponseMetadata><RequestId>f6040338-edd1-4803-9efa-eb4c43912121</RequestId></ResponseMetadata></GetReportScheduleListResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:18 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A18Z&Signature=zGRaeCrAheAkVJlhUfkvzCpCHcbpNbLsSanTBMTWlMY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - CMoknPIdab8T8Oiv7SB+gMzkEC+YeIcJogXQknm0do4Ajmvx5EQxUWThKAS2P19IlfyUjJhaW4CN
        2f9vOOSM+0e8PjSFrMTd, K2qWXAZDKn8QgbAA4gaRsVK+x7kLYgwILLVXuEJZdWgXmQU4akGKLWMSXnRySpHGJFmu3/FuTBM=
      x-amz-request-id:
      - 1a562690-0c38-4138-8d2d-5f0f21e604c8
      x-mws-request-id:
      - 1a562690-0c38-4138-8d2d-5f0f21e604c8
      x-mws-timestamp:
      - '2014-08-12T11:46:19.128Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestListResult><NextToken>kGosEYW9pVpmmFQFVAtP1Ygyll0Bti6tLwZxLuNJPUcKFKzEDcAnvtOM1t6iCQ6jI7roc0h5KkPR6W7TgSRZ4ytzcQExk4h4/F3sakH4wA0eDa2Q5LZzbby+vJAE/4+JHuSaTGx3CQ2ycJ/IO/jxp0wuPLxFSWjw4KHkpvqz4XOwgC8ckBG1U3iwDZXFBBhQTbK8+eN5L+aWEl2JEUxbDs5fPT7VsK5u0wfus6cNQksnOe6t5s/G/HaJXmzg7+Ocf6muahHzo943H1RfaIT8ywm48+ixA1Ky+5vCarQdVQAoScr4r39Zp+10zxS1703xAPumZqILfWpHubh1h46e3Ghrew4nT/456REAF68FK9chs1VcqI5EDl7Q48NOuaikBsNUiXrVGfAWw5IGjyW34WDXuUOlSm69Sq7bkxmplIzHz3R26I0eIP7w9sYBr9NEluHOboVq3IjpovhapIl+1htq3lG5cR2B1ZvYbK2x0uzy/NfsyZQQLjBWNGLShTI7DS5kORaN6VA=</NextToken><HasNext>true</HasNext><ReportRequestInfo><ReportRequestId>10788153968</ReportRequestId><ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType><StartDate>2014-07-13T06:01:36+00:00</StartDate><EndDate>2014-08-12T06:01:37+00:00</EndDate><Scheduled>false</Scheduled><SubmittedDate>2014-08-12T06:01:37+00:00</SubmittedDate><ReportProcessingStatus>_DONE_</ReportProcessingStatus><GeneratedReportId>18733013613</GeneratedReportId><StartedProcessingDate>2014-08-12T06:01:58+00:00</StartedProcessingDate><CompletedDate>2014-08-12T06:02:06+00:00</CompletedDate></ReportRequestInfo><ReportRequestInfo><ReportRequestId>10785526996</ReportRequestId><ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType><StartDate>2014-07-13T00:02:53+00:00</StartDate><EndDate>2014-08-12T00:02:53+00:00</EndDate><Scheduled>false</Scheduled><SubmittedDate>2014-08-12T00:02:53+00:00</SubmittedDate><ReportProcessingStatus>_DONE_</ReportProcessingStatus><GeneratedReportId>18726739903</GeneratedReportId><StartedProcessingDate>2014-08-12T00:03:40[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A19Z&Signature=GQEZ3Cz6VNPuJsJllY3TVZ3fxmXNKDXmgzJNB5OCZVA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      -[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A19Z&Signature=ujAnS96Zy58bsWhY5mE2zLT%2FpFOodLKgCKDkf%2BOjhIw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      -[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A20Z&Signature=kws2%2FWg7kkxwZmZn%2FsB0RSiLTmuVD0WCr17gMuq6mkg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      [...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A47%3A40Z&Signature=P8V5TzWajQyhiO6e%2BhqitIUcx%2FPXi4NkNkSjQvtyU2Q%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:03:00.000Z'
      x-mws-response-context:
      - ZK2dFfzW10BjumsOfh8njPTcyYqoD2nQNFXon+GDcHWP4tLaCLcCoTJZf/1vU9xNcFx5/hBJ7A3q
        /2vo5W1nQ3RWQJ9idgB+, b6ka19D9+Gs6/8kF8GQbI6HYmXifeH7wVHtnh5ORggzsNIuAnnWuvWsuWwzT2MNGxM7EyhNIjXS1
        pH/tk04UwA==
      x-amz-request-id:
      - 082495fb-3055-441d-892a-92f802d8a3fa
      x-mws-request-id:
      - 082495fb-3055-441d-892a-92f802d8a3fa
      x-mws-timestamp:
      - '2014-08-12T11:47:41.489Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>3841</Count></GetReportCountResult><ResponseMetadata><RequestId>082495fb-3055-441d-892a-92f802d8a3fa</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:47:42 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A47%3A42Z&Signature=qFFkSE4zqhyZi1AMUc6%2FsUV7P9hNR6h%2F8Qn4IE5NLoA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:19:00.000Z'
      x-mws-response-context:
      - QpCeFBbpz2jJq4iQGwe4uGnmChpHIQQjr3GB+OxopP6OuZOIV5Av2IwHoegsQ3qsdsBhyQ9P1yBc
        VXAoD+ts7N6qHShg+SLa, jWz/3EP8QFQAjc5N3oGP/4BFbQQk39A5e+9ACTS2iWG+bQbVBuB8P/7ag+V6raEM6cikMLPqmRM=
      x-amz-request-id:
      - ca8d5679-374a-4c0c-98ab-c39b9a359f84
      x-mws-request-id:
      - ca8d5679-374a-4c0c-98ab-c39b9a359f84
      x-mws-timestamp:
      - '2014-08-12T11:47:43.053Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>3110</Count></GetReportCountResult><ResponseMetadata><RequestId>ca8d5679-374a-4c0c-98ab-c39b9a359f84</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:47:58 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A47%3A58Z&Signature=wX6m07VFNAqHaDe9At9dMzj3KVZoOXSrNflrAIkWyZI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2014-08-12T12:47:00.000Z'
      x-mws-response-context:
      - LwVH5A8aBXeJV3NEVn9kznm9dF8VPbEyKwVaBuqKhY5o50u24gm0/0MICJHKzhmT+3AzPryRZ6IC
        zbP7kjS9clB+O+T4gorq, tU26esXjstlGxMX6GQzzRtidtkR02dYB+4oxDUfeaNhh7jZiLRHGbxhdBBc6VOFDYGlhYeuc/w0u
        nB78OAwm7A==
      x-amz-request-id:
      - 7b251062-fcb7-4019-8b92-e6d348ec384b
      x-mws-request-id:
      - 7b251062-fcb7-4019-8b92-e6d348ec384b
      x-mws-timestamp:
      - '2014-08-12T11:47:58.727Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportCountResult><Count>5241</Count></GetReportCountResult><ResponseMetadata><RequestId>7b251062-fcb7-4019-8b92-e6d348ec384b</RequestId></ResponseMetadata></GetReportCountResponse>
  recorded_at: Tue, 12 Aug 2014 11:48:00 GMT
- request:
[...]
