---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A41Z&Version=2009-01-01&Signature=kHIcbGPHmTzzULUvm8xqib1JzrwQ126aTkq%2F5yfNl18%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=MGJlvHEhk4wZjJfLlnPMCpptsSeDZG2Pbdeh/hS3OsA=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:37:42 GMT
      x-mws-request-id:
      - 518ce2d2-5e78-4841-9f57-13ce9775d839
      x-mws-timestamp:
      - '2015-03-28T18:37:42.270Z'
      x-mws-response-context:
      - 2hWxqzUcaXDGC4YOjP3uif9AKpJg+kQQvcNcFab+tkR2c/AX0Dqck/K757lRslJU++WNkKTVZGQ=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleListResult>
            <HasNext>false</HasNext>
          </GetReportScheduleListResult>
          <ResponseMetadata>
            <RequestId>518ce2d2-5e78-4841-9f57-13ce9775d839</RequestId>
          </ResponseMetadata>
        </GetReportScheduleListResponse>
  recorded_at: Sat, 28 Mar 2015 18:37:42 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A42Z&Version=2009-01-01&Signature=cT%2FX%2BZh8SVDMuc0QHaNJBLIFDpfudRBJVFxI%2Bo%2BC2mM%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-m[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A42Z&Version=2009-01-01&Signature=Z%2F7fW9rOqjMxUK2MbqUL%2BTJlRAlC9BrI7NBrDbqCSiU%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T18:47:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.zd2w7nq4skwm34cwmcwnsku4xy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=ZZWoO9jlnohRGf/hdBMRSSKsBjG7/r1H2e0dh1w+ZnQ=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:37:43 GMT
      x-mws-request-id:
      - 5e63989f-d06e-49e5-a159-f495e6e35eb4
      x-mws-timestamp:
      - '2015-03-28T18:37:43.650Z'
      x-mws-response-context:
      - IQUaf4MMX+s+xJUJ3ZGnWPI7tABJYCx+5c8pq8Gh7V+alMOFS70nxkAB3IJpjrzQ8z7psFvs6GM=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleListResult>
            <HasNext>false</HasNext>
            <ReportSchedule>
              <ScheduledDate>2015-03-28T22:29:24+00:00</ScheduledDate>
              <Schedule>_1_DAY_</Schedule>
              <ReportType>_GET_FLAT_FILE_ORDERS_DATA_</ReportType>
            </ReportSchedule>
          </GetReportScheduleListResult>
          <ResponseMetadata>
            <RequestId>5e63989f-d06e-49e5-a159-f495e6e35eb4</RequestId>
          </ResponseMetadata>
        </GetReportScheduleListResponse>
  recorded_at: Sat, 28 Mar 2015 18:37:43 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A43Z&Version=2009-01-01&Signature=XJMc8Cf5OSEl869ON0Dfe6q1JyMgcNHWIZR9n1N3hS4%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-re[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportScheduleCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A44Z&Version=2009-01-01&Signature=jEOFGX4BxwarQvG50NrCAuyWpjnFA5d4gXYs1HAoVQI%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=/wpcoOtw7Kwoppz52zUfVJm2qCg9UVCG+DbLGoQdy78=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:37:44 GMT
      x-mws-request-id:
      - 52efcd0a-61c5-44cd-b30b-faf4c032a71f
      x-mws-timestamp:
      - '2015-03-28T18:37:44.754Z'
      x-mws-response-context:
      - eIBtVusGU21bjEbuBk7IfXkCMYSz1E+2enIgRFOSzphsdqvAK8MfpEiVVdfpRlYh0PEXEDsRHJI=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleCountResult>
            <Count>0</Count>
          </GetReportScheduleCountResult>
          <ResponseMetadata>
            <RequestId>52efcd0a-61c5-44cd-b30b-faf4c032a71f</RequestId>
          </ResponseMetadata>
        </GetReportScheduleCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:37:44 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A46Z&Version=2009-01-01&Signature=I2gq9xrmeLzUIwAVskuSlT5v%2Fgg2iPM1GDwnf82Okdg%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=IXZkzwLyb9zXlcdscCuUop7DctVtrRlnNOIV6CUaeCE=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:37:46 GMT
      x-mws-request-id:
      - c86c165b-d03e-4f89-a45c-5f059fff30a4
      x-mws-timestamp:
      - '2015-03-28T18:37:46.867Z'
      x-mws-response-context:
      - c3vPpNAr0FIC6NN/sl0e025Ae3eu7Rzn3c8IgqVX7xGtDj65ZaOntpsP8DUOBUBOesZfk/Nqx8s=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportRequestListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestListResult>
            <ReportRequestInfo>
              <StartDate>2015-02-26T18:00:37+00:00</StartDate>
              <CompletedDate>2015-03-28T18:00:54+00:00</CompletedDate>
              <Scheduled>false</Scheduled>
              <ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType>
              <GeneratedReportId>55232199873</GeneratedReportId>
              <ReportProcessingStatus>_DONE_</ReportProcessingStatus>
              <SubmittedDate>2015-03-28T18:00:38+00:00</SubmittedDate>
              <EndDate>2015-03-28T18:00:38+00:00</EndDate>
              <StartedProcessingDate>2015-03-28T18:00:51+00:00</StartedProcessingDate>
              <ReportRequestId>75482016522</ReportRequestId>
            </ReportRequestInfo>
            <ReportRequestInfo>
              <StartDate>2015-02-26T12:00:11+00:00</StartDate>
              <CompletedDate>2015-03-28T12:00:36+00:00</CompletedDate>
              <Scheduled>false</Scheduled>
              <ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType>
              <GeneratedReportId>55217167473</GeneratedReportId>
              <ReportProcessingStatus>_DONE_</ReportProcessingStatus>
              <SubmittedDat[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A37%3A48Z&Version=2009-01-01&Signature=feQhTsNnKwDGaemrazepDHyxiFukGXDe6%2Fyr%2BjQ4MPs%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '78.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=zQZZ9s9TZJLmQNFbtiObE3FTcVQTYHNlrGT2GVN1Ypo=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:37:51 GMT
      x-mws-request-id:
      - 98b9082d-5200-4a83-9aa9-c9124f0b7d0c
      x-mws-timestamp:
      - '2015-03-28T18:37:49.149Z'
      x-mws-response-context:
      - 9q6jlDaYFOgsql4nv654pXWtv8i4AnvxOYb+cKFzG4wmrURIPpxylPagGX2vlnNh3qfUNhE2IDw=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportCountResult>
            <Count>12807</Count>
          </GetReportCountResult>
          <ResponseMetadata>
            <RequestId>98b9082d-5200-4a83-9aa9-c9124f0b7d0c</RequestId>
          </ResponseMetadata>
        </GetReportCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:37:51 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportList&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A38%3A23Z&Version=2009-01-01&Signature=oyWxc5mGmlp8I94g3ehwEYUKMqt9CE19tSMx6%2FCjxtc%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '54.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=09XjKGFP6lUxaH6Tc9Xz6AA5dz87I3Vhs6nktHDcnOs=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:38:24 GMT
      x-mws-request-id:
      - c203c7fa-7158-4829-95f1-62e3a019ee61
      x-mws-timestamp:
      - '2015-03-28T18:38:24.273Z'
      x-mws-response-context:
      - 2TpLM86wz3i+Vl3wAaEtJYBVe0HRWTw5Wt/tWk3yUileBZL0Ubdx9RGZEIIp+5dRfTyWceFxiV4=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportListResult>
            <HasNext>true</HasNext>
            <NextToken>EBRmoK+9qWv2jpZedg0wbVuY6vtoszFEBZG8sdXkcOCBSaSHdvT5x8QvuSc2kMJu4FDLL3Zbk3zSp3q1q6zTClZIoHEPgcitEGBCzBTqicKaauGzeKtPeeNJcrsumSvxTrj7I7A9teWH+rgAr5RYCT7/s0cJtY8frIo9RYzq+plaYoYGDb2Hqp3kYWgPgvHe17WmyEmFIK1EGM7dL7smO8pEKkKH6igxo0H//BEEfTVb7Rul5nQQAnGBE1Z2D7BbGqGCCKwvWiHL+KaVAguMARF0d5WYftrUZ+xyeq2QBYwd9MEFzPjPkhjKyTuPFCo6V7vdMNOH9TE9s+TZ9d1GDDN2q/LxNguZF9qcvrxHms7c3yrDR3L0/9EyW2TvBvHbC6YWj139zGSDSOU7i7rvgJEbpAxYDhLTnvOGry+XETR3iA7j+IhgQN5BDh/EJAOOjqrvXaGafZPJUZkrnu14dCVtoKnZqnKN0/GABywtHvJxmlGPicClBcZROudBsMav5gCVG61v3x/YCwtmbmqaHz3iacO+m+sZ+/PiI7Io3Ur9SojiCGq0zMQ2pT3y5CNSASJqS8T6LeIh55UvQhRolsSwWDcIdjgM85CcUXDGG+w2oLKkBFmF/eV8G0SEQYgOUx9DgBwan6T4uo4cSbfA/HNWMkgOgYi4aIOe+Q15Fd0SInuFbChFhZfqI2TABB4tGXijoyKNtvaah2ZW84cKAGFuLTfoE3AkPxXRyyWz74iScVJKLcNk43fZ0f3a6Ocqf9bXIMhNzVYInV8vBxX1Zh39JDsiCSqjZYORbET2lEfaGrlyuXKmdK80bbsvSIBPBPsNwoEDq7EPPNqQiiy8DTxZ5F/8spTE4E3OPJFkNvWd/PTKBEDlY7sFPpbqf+/pZe0kYBDO2uJApKOVKRiUV2dEDPxG9uHqq1L3Ijwh/MHRahj5RLedU89mNOdUz8cZ</NextToken>
            <ReportInfo>
              <AvailableDate>2015-03-28T18:33:13+00:00</AvailableDate>
              <ReportType>FeedSummaryReport</ReportType>
              <Acknowledged>false</Acknowledged>
              <ReportId>55233593993</ReportId>
              <ReportRequestId>75483016522</ReportRequestId>
            </ReportInfo>
            <ReportInfo>
              <AvailableDate>2015-03-28T18:29:50+00:00</AvailableDate>
              <ReportType>FeedSummaryReport</ReportType>
              <Acknowledged>false</Acknowledged>
              <ReportId>55233453863</ReportId>
              <ReportRequestId>75481016522</ReportRequestId>
            </ReportInfo>
            <ReportInfo>
              <AvailableDate>[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/
    body:
      encoding: US-ASCII
      string: 'AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetReportRequestCount&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A38%3A26Z&Version=2009-01-01&Signature=ifpDDcW1QxuZ6xM2oLdmSQeS5RrabB4vsDSwcRKE59k%3D'
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2015-03-28T19:03:00.000Z'
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Encrypted=false, SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true,
        Signature=0so1RWuFTI6FoA+w5hMckfCZHbGuUz31Ks+vQXsWghU=
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:38:26 GMT
      x-mws-request-id:
      - 35c2c626-8989-45e8-bcfa-425795418953
      x-mws-timestamp:
      - '2015-03-28T18:38:26.801Z'
      x-mws-response-context:
      - wzJFlTru/kuqUTK7AAi6ArG5P/YjF+SgkublKinpHKVstY7PZWvpBhGItDi007Pp7/khxU/cbo8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestCountResult>
            <Count>378</Count>
          </GetReportRequestCountResult>
          <ResponseMetadata>
            <RequestId>35c2c626-8989-45e8-bcfa-425795418953</RequestId>
          </ResponseMetadata>
        </GetReportRequestCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:38:27 GMT
[...]
