---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportRequestCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A16Z&Version=2009-01-01&Signature=OANGMQYZHGCbdYqXgjE01VtaZQ1ePoGBy3k8ghLbah4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T19:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:00:18 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=hqZ0MFCT7/3nJBrRcn33POfXOtKsCXBed2P0HX4qjeU=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 62be79b2-19cb-46ed-a64b-08bdde64a8da
      x-mws-timestamp:
      - '2017-05-07T19:00:18.756Z'
      x-mws-response-context:
      - teR7586mHXHMh6ulhS+Pji+mKMdDpPCX/quC4FFISxotAnfV62itpTmEJQVBxu8A1FRC35OYsvA=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestCountResult>
            <Count>668</Count>
          </GetReportRequestCountResult>
          <ResponseMetadata>
            <RequestId>62be79b2-19cb-46ed-a64b-08bdde64a8da</RequestId>
          </ResponseMetadata>
        </GetReportRequestCountResponse>
  recorded_at: Sun, 07 May 2017 19:00:18 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportRequestCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A20Z&Version=2009-01-01&Signature=tn9ftqN8kfEgEC3xnYrwgEPilrve%2FJPMLD4L01nhOvI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    hea[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportRequestCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A23Z&Version=2009-01-01&Signature=Ht6Zssp9A5D18s9NG%2BRQ0z%2B4%2FkIpRUg3F3ABkfQBQNM%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    hea[...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportScheduleList&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A28Z&Version=2009-01-01&Signature=j5XCIoGBhlWg%2BInTwsn8upb%2F4ndb0b1hi%2BetDkrIylE%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T19:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:00:29 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=Cq7Ir+OAAyXs2SlIS9Xi87xXAT+zxW4eMuXwyZ+LOiY=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - d90748ed-a73f-47c2-8d53-92695c8de8e1
      x-mws-timestamp:
      - '2017-05-07T19:00:29.733Z'
      x-mws-response-context:
      - Hxtkkzqk9jbfLxUwjfy4HGSU2jhbcYZOhYZDFoK7+5qF1X/saJ/56RvJrm6t+z6LUPJI3JjoAtc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleListResult>
            <HasNext>false</HasNext>
          </GetReportScheduleListResult>
          <ResponseMetadata>
            <RequestId>d90748ed-a73f-47c2-8d53-92695c8de8e1</RequestId>
          </ResponseMetadata>
        </GetReportScheduleListResponse>
  recorded_at: Sun, 07 May 2017 19:00:30 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A39Z&Version=2009-01-01&Signature=6fZpXmE7TJLB69KBzbMoLdswBC430zLtiyg317bY6V4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T19:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:00:40 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=aNjRPWMvpCr578wDG6xx6skKvYHl6olD/uE8Cy1TcfU=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - adfb40d6-80b8-4c00-bbd9-496450d361ab
      x-mws-timestamp:
      - '2017-05-07T19:00:40.905Z'
      x-mws-response-context:
      - Hh5WYYAqw0aOi+x3AeKlcE8h2prY91y+p+yFQTMRLWZTPX6YHs8bCu0KSfsMa6T3PNlP1duwJKs=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportCountResult>
            <Count>94406</Count>
          </GetReportCountResult>
          <ResponseMetadata>
            <RequestId>adfb40d6-80b8-4c00-bbd9-496450d361ab</RequestId>
          </ResponseMetadata>
        </GetReportCountResponse>
  recorded_at: Sun, 07 May 2017 19:00:41 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportScheduleCount&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A48Z&Version=2009-01-01&Signature=kDATAWWjpNAypWvbDuWqDZXIWluiydXGke4j5%2FlF%2FAI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T19:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:00:50 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=Rx7d+rzcHxkqhEtyy15F1SLN6xBxcE9oHmt8SlX0zc4=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 0c562ac7-4508-4af6-beeb-711e2c040f71
      x-mws-timestamp:
      - '2017-05-07T19:00:49.951Z'
      x-mws-response-context:
      - s7/+4VAZmK3QvRuZFASRyAMAAxcfBRC8u+T3xO3h+By4WiwjrmTuU9SHZLQI0+3sGuH7KofcS+I=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportScheduleCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportScheduleCountResult>
            <Count>0</Count>
          </GetReportScheduleCountResult>
          <ResponseMetadata>
            <RequestId>0c562ac7-4508-4af6-beeb-711e2c040f71</RequestId>
          </ResponseMetadata>
        </GetReportScheduleCountResponse>
  recorded_at: Sun, 07 May 2017 19:00:50 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportRequestList&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A00%3A57Z&Version=2009-01-01&Signature=tlD4tnpO4K4b%2ByTljUTRx4rkfKaQx2SfWt8tM%2FL6LuU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T19:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:00:58 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=nyKBCpjssNaXBTJ2wc4/CmrwCemgCPvBDNRKUvFyPXU=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 8d73d28a-df73-4940-9ac7-7fe2ee7b3e02
      x-mws-timestamp:
      - '2017-05-07T19:00:58.610Z'
      x-mws-response-context:
      - o655h87he83skFOBZgMXi8tzH3ZHGPOqd0XDbmZ06/MSJ/y/D3SgIbTXMyweYukNdoXYxW/JeSg=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportRequestListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportRequestListResult>
            <HasNext>true</HasNext>
            <ReportRequestInfo>
              <ReportType>_GET_SELLER_FEEDBACK_DATA_</ReportType>
              <ReportProcessingStatus>_DONE_</ReportProcessingStatus>
              <EndDate>2017-05-07T18:01:07+00:00</EndDate>
              <Scheduled>false</Scheduled>
              <ReportRequestId>476966017293</ReportRequestId>
              <StartedProcessingDate>2017-05-07T18:01:17+00:00</StartedProcessingDate>
              <SubmittedDate>2017-05-07T18:01:07+00:00</SubmittedDate>
              <StartDate>2017-04-07T18:01:06+00:00</StartDate>
              <CompletedDate>2017-05-07T18:01:34+00:00</CompletedDate>
              <GeneratedReportId>5045879478017293</GeneratedReportId>
            </ReportRequestInfo>
            <ReportRequestInfo>
              <ReportType>_GET_V1_SELLER_PERFORMANCE_REPORT_</ReportType>
              <ReportProcessingStatus>_DONE_</ReportProcessingStatus>
              <EndDate>2017-05-07T18:00:56+00:00</EndDate>
              <Scheduled>false</Scheduled>
              <ReportRequestId>476965017293</ReportRequestId>
              <StartedProcessingDate>2017-05-07T18:01:08+00:00</StartedProcessingDate>
   [...]
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReportList&MaxCount=1&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A03%3A00Z&Version=2009-01-01&Signature=LjQ5OnvH1SnGwnPHfcjL47zVm2m9GZ5hYInt4k0HeTY%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T20:03:00.000Z'
      X-Amz-Date:
      - Sun, 07 May 2017 19:03:02 GMT
      x-amzn-Authorization:
      - AAA SignedHeaders=X-Amz-Date, identity=com.amazon.aaa.FrpAndromedaReportsPlugin.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Signed=true, Encrypted=false, Signature=/alZJ3UkXkbW99AQZqvBoGC1NBQFauR7dOSwun3xzPE=,
        Algorithm=HmacSHA256
      x-mws-request-id:
      - 4a72045f-7bc9-4aba-9864-7fc79c15dedd
      x-mws-timestamp:
      - '2017-05-07T19:03:02.109Z'
      x-mws-response-context:
      - Hxtkkzqk9jbfLxUwjfy4HGSU2jhbcYZOhYZDFoK7+5qF1X/saJ/56RvJrm6t+z6LUPJI3JjoAtc=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetReportListResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <GetReportListResult>
            <HasNext>true</HasNext>
            <NextToken>GkyV4XFztOX2jpZedg0wbepZIBgCTJgs+O2DAujqA4S2unctNDqIqrVsGHGWojVHofL4Nf3l8PpxrBy2GCH8wcpzVN2FC/oJrcxQlZzHMkAyyIy7ZG54agRil9CDALMgTGrR53Ixb6ckiZfqzWcIs/E/CBn2T0C9PMG4jNqghnnjqr69Gld8Ma/8MKFZNzPPpyEvTTIbWgn5CxRAxRv5sSfDhecfk9+oI7DC7b2BOEYlIyQN8z5HO0KHfIApKuB8N416rQy1T/K6zvkgallD+jC6HThQHVQyuGyOPxh7quG2YUJIJdEjr3YOJo7ZM2ev1UFDqdMVdYGxtdZBtk2WnWrZn/YrfDh2+dzX3WEBMOpR90YnuQ/h9kK42ffLHnpMUlKyUbphOXA=</NextToken>
            <ReportInfo>
              <ReportType>FeedSummaryReport</ReportType>
              <Acknowledged>false</Acknowledged>
              <ReportId>5051232139017293</ReportId>
              <ReportRequestId>476999017293</ReportRequestId>
              <AvailableDate>2017-05-07T18:42:53+00:00</AvailableDate>
            </ReportInfo>
          </GetReportListResult>
          <ResponseMetadata>
            <RequestId>4a72045f-7bc9-4aba-9864-7fc79c15dedd</RequestId>
          </ResponseMetadata>
        </GetReportListResponse>
  recorded_at: Sun, 07 May 2017 19:03:02 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReport&ReportId=5051232139017293&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A03%3A02Z&Version=2009-01-01&Signature=0WTps2Vd0CnFiiNWrquyNnDyHEhy1uLWDHpx0X7%2FqE0%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/plain;charset=windows-1252
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '60.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T20:03:00.000Z'
      Content-MD5:
      - 4/cbw+J9uKEjk6JT30sQFA==
      x-mws-response-context:
      - UnLhqXJk/PfB1eosh+IFna7SESXD33zV/yqRL/SRdNmSu4fk7LrrDGFF94SaTFjg2Hvatqf2ffc=,
        SCpioW3SjZr1KPJlPOsVfwqjGoyw0/Hkp8ioF3jSD88L1tWwTsJ36VR+z/t4GmHzmx3PM/fcw5o=
      x-amz-request-id:
      - ebefdc49-b327-4533-90ac-075b265e2147
      x-mws-request-id:
      - ebefdc49-b327-4533-90ac-075b265e2147
      x-mws-timestamp:
      - '2017-05-07T19:03:03.283Z'
    body:
      encoding: ASCII-8BIT
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t32\n\tNumber
        of records successful\t\t32\n\n"
  recorded_at: Sun, 07 May 2017 19:03:03 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=FILTERED&Action=GetReport&ReportId=6060170014017293&SellerId=FILTERED&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-05-07T19%3A21%3A58Z&Version=2009-01-01&Signature=ixp%2BGsS1AjyLUOjUbeGr68qVCCChh%2FGttvpg%2BqS2SH4%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/plain;charset=windows-1252
      x-mws-quota-max:
      - '60.0'
      x-mws-quota-remaining:
      - '37.0'
      x-mws-quota-resetsOn:
      - '2017-05-07T20:11:00.000Z'
      Content-MD5:
      - goZzV4ptvOUDfls1w+0czQ==
      x-mws-response-context:
      - KAvOrOX2I+RBD7erkrEWzIvQT8psYdXFnFQ+72CBxmPzbrm9ieXFhNLh2W3p8b5J090U4KtKqTM=,
        /kpLfhMAbpWn75Lgpcba0hOpTQAorbT3nBoa227Hsx1/KH6T/kTJbNqlGsUwz0JlInuHv97r4nI=
      x-amz-request-id:
      - fbda5702-1589-4786-8626-f01911355775
      x-mws-request-id:
      - fbda5702-1589-4786-8626-f01911355775
      x-mws-timestamp:
      - '2017-05-07T19:21:59.048Z'
    body:
      encoding: ASCII-8BIT
      string: "Feed Processing Summary:\n\tNumber of records processed\t\t137\n\tNumber
        of records successful\t\t137\n\n"
  recorded_at: Sun, 07 May 2017 19:21:59 GMT
recorded_with: VCR 3.0.3
