---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A57Z&Version=2011-07-01&Signature=Gdxv8jDoYOJ1GDoNkxiVe5EIgECrTrTkUaEBg%2FqE%2BXI%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - f411b1c5-b93d-4b4c-8100-7be17c46c019
      x-mws-timestamp:
      - '2015-03-28T18:13:58.055Z'
      x-mws-response-context:
      - uW/sxLaSyw9rn4GReMWu0c2zluHCX+1rPgXrw0WHAyYYBEERuwmxvb46a/cPJvBI5gAFvNT5qZ8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:58.055Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f411b1c5-b93d-4b4c-8100-7be17c46c019</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:58 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A58Z&Version=2011-07-01&Signature=OALSBasa%2F6bABOyBCAUvnWH%2Be14TZRIJTSdedYZbpR8%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 833c2568-5881-4d47-b67d-9914ffa9d4b7
      x-mws-timestamp:
      - '2015-03-28T18:13:58.618Z'
      x-mws-response-context:
      - y+2LP/GJlwRMo2GBfVakxwaJsTn9I9vTztFm36bC/O/m44FfrSFSjddTIopva3P+NPGRp7SHh+Q=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:58.618Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>833c2568-5881-4d47-b67d-9914ffa9d4b7</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:58 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A58Z&Version=2011-07-01&Signature=L45DmGqP13WqNiI711L9V8ko3bLbO6XCE3ChNrI1%2FeY%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 43baca03-7ebc-45c6-8412-93f46e6d2897
      x-mws-timestamp:
      - '2015-03-28T18:13:59.609Z'
      x-mws-response-context:
      - ixFM4BhKB6JwNNslJEtkUi7JUdapk26n1JZhopSVkzQn57ywSONH2AS0/8cAIiTOEyIoyJBqlRg=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:59.609Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>43baca03-7ebc-45c6-8412-93f46e6d2897</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:59 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-05-23T13%3A12%3A45Z&Version=2011-07-01&Signature=rmqM%2FmhQKhRnsLkFKqqLhauwfbxLVdwzP6ZH%2Fx2RFxU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - ad86e223-80c1-4f56-bec6-14a26c164a58
      x-mws-timestamp:
      - '2016-05-23T13:12:45.268Z'
      x-mws-response-context:
      - "/Dmb0rR7lKYk+I/r/l3H9BQeVzoxfN/yKUdEH1Iqt62zlXEXhYlT2my3p4JqwMyZ6gjp30mjCzKv
        kbfCWY6Rpg=="
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2016-05-23T13:12:45.268Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>ad86e223-80c1-4f56-bec6-14a26c164a58</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 23 May 2016 13:12:45 GMT
recorded_with: VCR 3.0.1
