---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A57Z&Version=2011-07-01&Signature=Gdxv8jDoYOJ1GDoNkxiVe5EIgECrTrTkUaEBg%2FqE%2BXI%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - f411b1c5-b93d-4b4c-8100-7be17c46c019
      x-mws-timestamp:
      - '2015-03-28T18:13:58.055Z'
      x-mws-response-context:
      - uW/sxLaSyw9rn4GReMWu0c2zluHCX+1rPgXrw0WHAyYYBEERuwmxvb46a/cPJvBI5gAFvNT5qZ8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:58.055Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f411b1c5-b93d-4b4c-8100-7be17c46c019</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:58 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A58Z&Version=2011-07-01&Signature=OALSBasa%2F6bABOyBCAUvnWH%2Be14TZRIJTSdedYZbpR8%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 833c2568-5881-4d47-b67d-9914ffa9d4b7
      x-mws-timestamp:
      - '2015-03-28T18:13:58.618Z'
      x-mws-response-context:
      - y+2LP/GJlwRMo2GBfVakxwaJsTn9I9vTztFm36bC/O/m44FfrSFSjddTIopva3P+NPGRp7SHh+Q=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:58.618Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>833c2568-5881-4d47-b67d-9914ffa9d4b7</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:58 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Sellers/2011-07-01
    body:
      encoding: US-ASCII
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A13%3A58Z&Version=2011-07-01&Signature=L45DmGqP13WqNiI711L9V8ko3bLbO6XCE3ChNrI1%2FeY%3D
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-request-id:
      - 43baca03-7ebc-45c6-8412-93f46e6d2897
      x-mws-timestamp:
      - '2015-03-28T18:13:59.609Z'
      x-mws-response-context:
      - ixFM4BhKB6JwNNslJEtkUi7JUdapk26n1JZhopSVkzQn57ywSONH2AS0/8cAIiTOEyIoyJBqlRg=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:13:59.609Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>43baca03-7ebc-45c6-8412-93f46e6d2897</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:13:59 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/Sellers/2011-07-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A45Z&Version=2011-07-01&Signature=qk7w2c7T79FEMaONYrFTLSaxy6aUH1KrE4rxhf%2ByncE%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 8HJ7BBSK7Z899BNGDAGT
      x-mws-request-id:
      - 44545af7-e4f2-4be1-8b0e-b8134ea3b686
      x-mws-timestamp:
      - '2020-10-12T11:32:45.732Z'
      x-mws-response-context:
      - Ko6uP6CA6mW/X6ehjrcw012Q1uX6HdSid/wlkhFWy4QmiO0gHCFX2LOirWoV0pv90NH5WL8pY/M=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-12T11:32:45.732Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>44545af7-e4f2-4be1-8b0e-b8134ea3b686</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:45 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A58%3A14Z&Version=2011-07-01&Signature=gerk9WAJ96KE7hpvGCsS7jhKEAMWgomNB%2FEGitqwyzI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - RZHW7P0C5J5WHTK0ZT6C
      x-mws-request-id:
      - 181a6518-4302-4260-bee1-56b84b3e89d6
      x-mws-timestamp:
      - '2020-10-13T10:58:15.358Z'
      x-mws-response-context:
      - sBsh7VCvv8L28S7PMNhr5du1fJaO2FleeeprUbuL+E+9zT54nCTl9AmpiYlALNkBeqgwlLG1vpo=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:58:15.358Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>181a6518-4302-4260-bee1-56b84b3e89d6</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:58:15 GMT
recorded_with: VCR 6.0.0
