---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-13T14%3A44%3A01Z&Version=2018-09-01&Signature=WWashDWStI32Um2wSl75hc5nHuze3k5W1C2JK6PF%2FQg%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 0e2f4fa6-a3a7-4244-ab6d-9b10b7c12103
      x-mws-timestamp:
      - '2019-11-13T14:44:01.911Z'
      x-mws-response-context:
      - qpYe9t/9tv9VtXImRuDMqnjO0H1lMPlBXqWicDNSQDuvD0oS4a5w0vWkwYB9BlbvIbRRL+E8tow=
      x-amz-rid:
      - B21P8AGR0AFAF58WDPSR
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-13T14:44:01.911Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>0e2f4fa6-a3a7-4244-ab6d-9b10b7c12103</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Wed, 13 Nov 2019 14:44:01 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-13T14%3A44%3A02Z&Version=2018-09-01&Signature=c3k158cq2%2BZGVNLkZ8iFQQOabAtGmNgCK%2BQY8Cq797c%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 2e055194-420c-470a-b6d5-2e8083f8fc51
      x-mws-timestamp:
      - '2019-11-13T14:44:02.562Z'
      x-mws-response-context:
      - qWt0hkNpwY8AJ95nHudMptwEO19AP4/w3/HS/YPCZWhUtNoYQIQifqWa7ziYrY5JV1NezD9yoJk=
      x-amz-rid:
      - ZG6HZ14NM5A1WC12QZHE
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-13T14:44:02.562Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>2e055194-420c-470a-b6d5-2e8083f8fc51</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Wed, 13 Nov 2019 14:44:02 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-13T14%3A44%3A02Z&Version=2018-09-01&Signature=Xtb9gGhhMPI%2FHgURM0uX09ScVImWlTe9MTG00HMhuDw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - de79ec31-75f3-4904-857d-a1da23232914
      x-mws-timestamp:
      - '2019-11-13T14:44:03.195Z'
      x-mws-response-context:
      - 57lKE4Xgm8omXoDNffMJ0TlgDNWk2GQYAqbr8123zNsuBDk0XV9L8thgJpUsST5IF/r5vlV/Zx8=
      x-amz-rid:
      - EM1ZJBMC3MJZGZ1YWNXW
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2019-11-13T14:44:03.195Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>de79ec31-75f3-4904-857d-a1da23232914</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Wed, 13 Nov 2019 14:44:03 GMT
[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFBAOutboundShipmentDetail&AmazonShipmentId=456&MarketplaceId=A2Q3Y263D00KWC&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-15T14%3A41%3A07Z&Version=2018-09-01&Signature=mtfuhFsPYtSaQIkQxNQo2kQJ9KvCsrsAg0Qepk%2BlWqI%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - text/xml
      x-mws-request-id:
      - 8e8d74ed-e87f-4210-8236-b20ce9fd6afc
      x-mws-timestamp:
      - '2019-11-15T14:41:07.900Z'
      x-mws-response-context:
      - CoVJGgpRo6LTB9KlCVLKYOMbHMwJZQTX6P2SIoC4VfLkFBD8vith0guJpHepkugji+Hqg3nLWfc=
      x-amz-rid:
      - KARYJYQVR8MEWTV3Q9YC
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAddress</Code>
            <Message>Operation GetFBAOutboundShipmentDetail is not available for section ShipmentInvoicing/2018-09-01</Message>
          </Error>
          <RequestID>8e8d74ed-e87f-4210-8236-b20ce9fd6afc</RequestID>
        </ErrorResponse>
  recorded_at: Fri, 15 Nov 2019 14:41:07 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFBAOutboundShipmentDetail&AmazonShipmentId=456&MarketplaceId=A2Q3Y263D00KWC&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2019-11-15T14%3A43%3A53Z&Version=2018-09-01&Signature=22O4DC8OyfZOznp3rEfYJI%2Fagvg57cyfcGdaJ4BRQps%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - text/xml
      X-Amz-Date:
      - Fri, 15 Nov 2019 14:43:54 GMT
      nnCoection:
      - close
      x-amzn-Authorization:
      - AAA identity=com.amazon.aaa.MerchantInvoiceService.AndromedaControlService.amzn1.aaa.id.qhz3ylg755gkejyk5sh44qm3wy.Default/1,
        Operation=GetFBAOutboundShipmentDetail, Service=MerchantInvoiceService, Encrypted=true,
        SignedHeaders=X-Amz-Date, Algorithm=HmacSHA256, Signed=true, Signature=YRWYGgxRIFcQEjQqQRVmGvOkpor1gFpHdFaj0ZV/hKc=,RelationshipVersion=0
      x-mws-request-id:
      - a12de213-20d4-4edd-b336-570aad907cc5
      x-mws-timestamp:
      - '2019-11-15T14:43:54.277Z'
      x-mws-response-context:
      - PCKAYpgqw1uW9Pu9/BNSlsELRqgm1Xtlr8MJecpdQ2N/VIaGTpqntvMGol/LYN3wEryXuqetHn8=
      x-amz-rid:
      - MNA850Y5PEBEPJAP3FF7
    body:
      encoding: ASCII-8BIT
      string: |
        <ErrorResponse xmlns="http://mws.amazonservices.com/schema/ShipmentInvoicing/2018-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>ShipmentNotFoundException</Code>
          </Error>
          <RequestId>a12de213-20d4-4edd-b336-570aad907cc5</RequestId>
        </ErrorResponse>
  recorded_at: Fri, 15 Nov 2019 14:43:54 GMT
[...]
- request:
    method: post
    uri: https://mws.amazonservices.com.au/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFBAOutboundShipmentDetail&AmazonShipmentId=456&MarketplaceId=A2Q3Y263D00KWC&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-12T11%3A32%3A49Z&Version=2018-09-01&Signature=AyzrzXc%2Bmu1UOg8rfziGezGW2EZtgUvdpePMKl90Ykw%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 74HRNCMJ5V62R9573K18
      x-mws-request-id:
      - 5507d57d-0b0b-417d-9f79-6269248276b4
      x-mws-timestamp:
      - '2020-10-12T11:32:49.609Z'
      x-mws-response-context:
      - f9zNohK5ByGUe+8uj7PTxG3wN1vzTt/iWM+ZEJoBlTBPQy9PWXSnxmIE64IOaRLGvDFvkw8Zu9k=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAddress</Code>
            <Message>Operation GetFBAOutboundShipmentDetail is not available for section ShipmentInvoicing/2018-09-01</Message>
          </Error>
          <RequestID>5507d57d-0b0b-417d-9f79-6269248276b4</RequestID>
        </ErrorResponse>
  recorded_at: Mon, 12 Oct 2020 11:32:49 GMT
[...]
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetFBAOutboundShipmentDetail&AmazonShipmentId=456&MarketplaceId=A2Q3Y263D00KWC&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A58%3A02Z&Version=2018-09-01&Signature=OcOdA3T7ntbNVoSJNIcWU4gWgKod4WfqeOcDCMU713g%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - 1TA117A07GYMX13381KY
      x-mws-request-id:
      - ba154d0e-9f67-4ff3-8a8b-785b94761afe
      x-mws-timestamp:
      - '2020-10-13T10:58:03.277Z'
      x-mws-response-context:
      - YXSkmnH2KsfOF2xvHTGbhFyAyuTTW885/i6SrPUHFb4Vxsw87JLxexaU8QR2HLQdhGF9zpkyL9Y=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAddress</Code>
            <Message>Operation GetFBAOutboundShipmentDetail is not available for section ShipmentInvoicing/2018-09-01</Message>
          </Error>
          <RequestID>ba154d0e-9f67-4ff3-8a8b-785b94761afe</RequestID>
        </ErrorResponse>
  recorded_at: Tue, 13 Oct 2020 10:58:03 GMT
- request:
    method: post
    uri: https://mws-fe.amazonservices.com/ShipmentInvoicing/2018-09-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2020-10-13T10%3A58%3A03Z&Version=2018-09-01&Signature=l%2F84a4%2BbJltkzNcX90wgIkgkLhp%2F2Hno2OfuByoJViU%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - text/xml
      x-amz-rid:
      - V9TVKQ7FCG3SA83EPJ5M
      x-mws-request-id:
      - 809c963b-599a-4213-ad59-871ccc19f9d6
      x-mws-timestamp:
      - '2020-10-13T10:58:03.938Z'
      x-mws-response-context:
      - dq8F3sE4FevCc4wyN0S01IUgc37nkgcM4sqc+k6krgmHn7xFaQpr/vaSY/bxgB5eVH4VmOPRN2s=
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/ShipmentInvoicing/2018-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2020-10-13T10:58:03.938Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>809c963b-599a-4213-ad59-871ccc19f9d6</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 13 Oct 2020 10:58:04 GMT
recorded_with: VCR 6.0.0
