---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A45Z&Signature=jb54AjrpLpE%2BuTgQBB4VL%2BHn9QI5IC7e2JQ0GQQUrCc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.562779a7-2216-11e4-9aa6-0a5a6ef40000.0..PisWmw
      x-mws-request-id:
      - 6b348414-97bf-403a-a699-ff8cdb03551a
      x-mws-timestamp:
      - '2014-08-12T11:46:45.719Z'
      x-mws-response-context:
      - 4nn2BShp1spRWVJWoE21t43irXtcofGhPBlvZDe+7688dMzCDlearkaXK4mDkywAvrrriqVvlQ8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListSubscriptionsResult>
            <SubscriptionList>
              <member>
                <NotificationType>AnyOfferChanged</NotificationType>
                <IsEnabled>true</IsEnabled>
                <Destination>
                  <DeliveryChannel>SQS</DeliveryChannel>
                  <AttributeList>
                    <member>
                      <Value>https://sqs.us-east-1.amazonaws.com/337281144291/bezos</Value>
                      <Key>sqsQueueUrl</Key>
                    </member>
                  </AttributeList>
                </Destination>
              </member>
            </SubscriptionList>
          </ListSubscriptionsResult>
          <ResponseMetadata>
            <RequestId>6b348414-97bf-403a-a699-ff8cdb03551a</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:45 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A45Z&Signature=%2BtaS643qGsJ8oUxiWFEcOcQGGRK3P0K7%2FnYCoJCac5g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionT[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A46Z&Signature=B6Km90znbmq15Wfrn%2BkomgJEPHh3nYE9QZK%2BStRP9Yc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A47Z&Signature=hhEoCJChvFMZxL9%2FTw42msrHiBIKDTRilv%2F96iA4oBw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A47Z&Signature=ALv2acDKzKMMjC5jyNl35B5GWvEwS%2BnJIf0PmwSMNaI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.577110b0-2216-11e4-9aa6-0a5a6ef40000.0..yKwFpS
      x-mws-request-id:
      - 53fd06b6-0025-4ccb-a45f-c402c9da5c7b
      x-mws-timestamp:
      - '2014-08-12T11:46:47.897Z'
      x-mws-response-context:
      - JCLN5tciB00vto7da9f0ucKVU7SWvlFPhQgwevbxz3A7K4JwcPfd2gVXfG09zOLiWdLj8QutwxY=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList>
              <member>
                <DeliveryChannel>SQS</DeliveryChannel>
                <AttributeList>
                  <member>
                    <Value>https://sqs.us-east-1.amazonaws.com/337281144291/bezos</Value>
                    <Key>sqsQueueUrl</Key>
                  </member>
                </AttributeList>
              </member>
              <member>
                <DeliveryChannel>SQS</DeliveryChannel>
                <AttributeList>
                  <member>
                    <Value>https://sqs.us-east-1.amazonaws.com/337281144291/Test</Value>
                    <Key>sqsQueueUrl</Key>
                  </member>
                </AttributeList>
              </member>
            </DestinationList>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>53fd06b6-0025-4ccb-a45f-c402c9da5c7b</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:48 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A48Z&Signature=LKA%2FwNbWAA%2F4QPOY8v7pQGtxee7q4z42SN17zwMlcz4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amz[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A48Z&Signature=8acjAxMU%2FZUAMBlquLt9DX2B9%2B4scRGsiNZHZulAAkU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-Ac[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A49Z&Signature=OrgHmjrIEXXBUM2mYumOugKzbT%2FutjMXZQAAi6oOfiY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-Acti[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A49Z&Signature=DWGx0HvbcfBHqU%2BF21ZBil2LDVmSB%2BZ12YA4IbOPXfQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 5fe445ad-b6fb-486f-85aa-83f66055c3f6
      x-mws-timestamp:
      - '2014-08-12T11:46:49.914Z'
      x-mws-response-context:
      - "+riP/YaH/4HRRY0ywfzzabh/42fPvVj73ETPDXRuD+ns+ooEGVktOO5jIJ6NXAy9B5Q56hWHxhfD
        30flRB0AIg=="
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:46:49.914Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>5fe445ad-b6fb-486f-85aa-83f66055c3f6</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:49 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A49Z&Signature=LkifAfAmEMeGypUhrYWf2rqX1tpI%2BP96IXHBS5nRlao%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 9590f203-40db-4cd3-a766-401faa0c7e08
      x-mws-timestamp:
      - '2014-08-12T11:46:50.106Z'
      x-mws-response-context:
      - hfhWG4pKt8/shgzGRiysDrc4/EaRCQImQtGfULi/w0ekWCNoPCD68AlnhhxgiAMpKjfgWtL1zPA=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:46:50.106Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>9590f203-40db-4cd3-a766-401faa0c7e08</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:50 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A50Z&Signature=Q%2Fh2Qxjn78pOC0WqBHA1spb4Efy49ntuh2smnG8xQDQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 50bb6396-0daf-4ecc-a2ff-f9446287595f
      x-mws-timestamp:
      - '2014-08-12T11:46:50.826Z'
      x-mws-response-context:
      - NOdHHaufbZUl//df+Tg3Els/yDH7Qa7guv07Mf5HnKP9eD4FYaln+MLkL4ONJnpnYyNXR1CPXsc=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:46:50.826Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>50bb6396-0daf-4ecc-a2ff-f9446287595f</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:50 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-08-12T11%3A46%3A50Z&Signature=m9ORD%2Fbjak2SnVjkvgqxr9tP8WEmaq05nd1%2Bdi1r3GQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - e37122c2-f7d3-4014-b75f-a1a7b879e21f
      x-mws-timestamp:
      - '2014-08-12T11:46:51.305Z'
      x-mws-response-context:
      - aAYveHNiP2xuHKJ65qscU1w7adwOvwgc08YtC19YFkQ/QAi3QHtom3iHDYhflIY3rSDL2wI13MXE
        RD3D4VhLXQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-08-12T11:46:51.305Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>e37122c2-f7d3-4014-b75f-a1a7b879e21f</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Tue, 12 Aug 2014 11:46:51 GMT
recorded_with: VCR 2.9.2
