---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A07Z&Version=2013-07-01&Signature=vvZcvEm0PTDdYYR2TisqLQWDBmXalEfRjSE6TVHFKrU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - f682fe2e-803c-4a33-a60a-1cc987939035
      x-mws-timestamp:
      - '2015-03-28T18:14:07.909Z'
      x-mws-response-context:
      - oZ4PTfnpxoK81Doj3eRqAkjUxWN5RqqJlPaZzpQh0vOivX2PGyHzSwoDmjl8xi98ANy44dcdPXk=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:14:07.909Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>f682fe2e-803c-4a33-a60a-1cc987939035</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:07 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A07Z&Version=2013-07-01&Signature=jffcpJV8YHCyiBmKzi2v1sK5ZEF%2BaMyOjEPHdMsSMVo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 9860138e-6d7d-4dad-bf69-e4a0350ea07d
      x-mws-timestamp:
      - '2015-03-28T18:14:08.392Z'
      x-mws-response-context:
      - Xrqt0dPCGk5LJsXgsBJqQ0yHUOoAf5HKvN4MYYaX4EcQCrNmkROkwCBNLN6DqFsTQxJeQGtVljU=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:14:08.392Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>9860138e-6d7d-4dad-bf69-e4a0350ea07d</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:08 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A08Z&Version=2013-07-01&Signature=FmlbZNlvY0cyVVWCSDFxDdnW%2B3iQJbmI1tz1bmd%2FLLw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 6ecd42f7-889b-4df1-a630-81d96981ef09
      x-mws-timestamp:
      - '2015-03-28T18:14:09.403Z'
      x-mws-response-context:
      - dOCWy8fi/C8Ir/m32bWG0cz1rdfdoP+/Cj4I3lq+DsVXpGAzvYhrZgaUP3Ww7rH5ZUlRXaIy0yE=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:14:09.403Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>6ecd42f7-889b-4df1-a630-81d96981ef09</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:09 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A09Z&Version=2013-07-01&Signature=FScfA68fSrpMA4nucgftNCowj2bsqm8vmY6pfq6JPdI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 41e4eb29-5010-4242-88e5-b7ab2ec07bee
      x-mws-timestamp:
      - '2015-03-28T18:14:10.088Z'
      x-mws-response-context:
      - h7ZwZEkNJU7cqKZHe/LFDjA3ZhvFH2kdnUhNw2gbsozbHiVuzr75/0Cump/Ea2LxnOmv/dJf+lU=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:14:10.088Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>41e4eb29-5010-4242-88e5-b7ab2ec07bee</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:10 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A10Z&Version=2013-07-01&Signature=DgZsF%2Bau%2FqZaiBKaoXBh%2Frt4YRJb2s2E3LJKCCuzL7w%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 4d01dc9f-37d9-4fc9-b720-762ddf7bc853
      x-mws-timestamp:
      - '2015-03-28T18:14:11.046Z'
      x-mws-response-context:
      - QkvUcxpsefjlWnMexveJLzAEcdWIwPgtvNcDzEtPBJOOERec6dpEh4zzrK0yoQVJfBzfCe7q3B8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList>
              <member>
                <DeliveryChannel>SQS</DeliveryChannel>
                <AttributeList>
                  <member>
                    <Value>https://sqs.us-east-1.amazonaws.com/337281144291/bezos</Value>
                    <Key>sqsQueueUrl</Key>
                  </member>
                </AttributeList>
              </member>
              <member>
                <DeliveryChannel>SQS</DeliveryChannel>
                <AttributeList>
                  <member>
                    <Value>https://sqs.us-east-1.amazonaws.com/337281144291/Test</Value>
                    <Key>sqsQueueUrl</Key>
                  </member>
                </AttributeList>
              </member>
            </DestinationList>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>4d01dc9f-37d9-4fc9-b720-762ddf7bc853</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:11 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A11Z&Version=2013-07-01&Signature=3yo1lXwE%2F6SPyz6wjQjyMf1aoAKLqbl%2FNL4STp4%2FTm0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.3bee2fa7-d576-11e4-a60b-0a5128e20000.0..Ao5DA$
      x-mws-request-id:
      - b282d3e3-7297-4be3-910d-f165d13901f1
      x-mws-timestamp:
      - '2015-03-28T18:14:11.578Z'
      x-mws-response-context:
      - xcmaMMZeD+DpvtAYNa1n/6QmM4gT5Bx+UJos4kOeXqP6a0gq3fBDYyCSbl2Zy1ZJQkqz0o+DtDo=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-0[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A11Z&Version=2013-07-01&Signature=pnmuV1wK1nOZ%2FeXXBshHmtR5IQeUcGTqM4tF52NsoPQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListRegisteredDestinations&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A12Z&Version=2013-07-01&Signature=Wkxwo3snjReQjs1BzVJFAj4V7PSTXYml4nfM0%2FJc48k%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers[...]
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A13Z&Version=2013-07-01&Signature=p6iUYbNG0iquQmXE3yPOGFF7t1sozWRLG%2FeZgtBkjJ4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - f59a0e06-154f-4d6f-8817-eac31f706a4d
      x-mws-timestamp:
      - '2015-03-28T18:14:14.083Z'
      x-mws-response-context:
      - 9q6jlDaYFOgsql4nv654pXWtv8i4AnvxOYb+cKFzG4wmrURIPpxylPagGX2vlnNh3qfUNhE2IDw=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListSubscriptionsResult>
            <SubscriptionList>
              <member>
                <NotificationType>AnyOfferChanged</NotificationType>
                <IsEnabled>true</IsEnabled>
                <Destination>
                  <DeliveryChannel>SQS</DeliveryChannel>
                  <AttributeList>
                    <member>
                      <Value>https://sqs.us-east-1.amazonaws.com/337281144291/bezos</Value>
                      <Key>sqsQueueUrl</Key>
                    </member>
                  </AttributeList>
                </Destination>
              </member>
            </SubscriptionList>
          </ListSubscriptionsResult>
          <ResponseMetadata>
            <RequestId>f59a0e06-154f-4d6f-8817-eac31f706a4d</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsResponse>
  recorded_at: Sat, 28 Mar 2015 18:14:14 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A14Z&Version=2013-07-01&Signature=YET%2FJIw9oFxMM2BxNwkGnSIwAAdAKeg56T0t3%2FYsZ6Y%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
 [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A14Z&Version=2013-07-01&Signature=u1ch7TiNOhfLV80M%2BLvTZqHzjF8ADY71RD8HyvIsZOY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptions&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A14%3A15Z&Version=2013-07-01&Signature=6VZo212iJrS2SDYWYv%2B%2FGrItg2DuV9RtnEJ1Fk6RFVU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
     [...]
