---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A15%3A04Z&Version=2014-09-01&Signature=iLmOdGnbfW0kE%2Bf9K0XPpoEHVfi78I3hTpFIpKoMpeg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 7ec1c8ed-ea0d-4cf6-a7e9-12ede5468924
      x-mws-timestamp:
      - '2015-03-28T18:15:04.938Z'
      x-mws-response-context:
      - Azql3Rd9RSuycILcauW2gXRnXHlD5BFO9mBsMSSqjmDq1NvYEowXek6Jw5Mf6u8EqzZ7hBxJQQ8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/webstore/2014-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:15:04.938Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>7ec1c8ed-ea0d-4cf6-a7e9-12ede5468924</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:15:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A15%3A05Z&Version=2014-09-01&Signature=IBFNdtHOt6vsBcHsKZYyyD%2FezntQzCRaJTKTXLkJGKw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 4d8ea1c4-06e4-4262-9b5e-b38cb4fa988e
      x-mws-timestamp:
      - '2015-03-28T18:15:05.579Z'
      x-mws-response-context:
      - mddgIVXfH8b+kAQfyfWkmPWBxE/KiMBsEyLoVsly+9lwrcS+xnvL5BMeTMsTifN1WUD9f3x7Oqk=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/webstore/2014-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:15:05.579Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>4d8ea1c4-06e4-4262-9b5e-b38cb4fa988e</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:15:05 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A15%3A05Z&Version=2014-09-01&Signature=rUPQLaoLXJ8NDT2PKkm13QBL1CdtWUehmUXsmJUvTqQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 9c745775-dfdf-4bf1-b244-a92f1b5f1b6d
      x-mws-timestamp:
      - '2015-03-28T18:15:06.736Z'
      x-mws-response-context:
      - Lc56lufURzelSn/dvPPnD7v8TMC7Udk/d4QqVOsj7XV4eYcrR8XQJxAvil1BJx8aN+pZVIwI8dM=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/webstore/2014-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:15:06.736Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>9c745775-dfdf-4bf1-b244-a92f1b5f1b6d</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:15:06 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=GetServiceStatus&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-03-28T18%3A15%3A06Z&Version=2014-09-01&Signature=bUxt48w4UvcY7WplcctMI1pjOoXI8cJwHtSW2NdyNRQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 597dbcff-034f-406f-b150-0470b85b04fe
      x-mws-timestamp:
      - '2015-03-28T18:15:07.556Z'
      x-mws-response-context:
      - NxFxnIl/sLIRxil7jxOLq/C/2A30Un96MY5zLQafXGQz1qSt4FQVKOWUE+9X7UGl7FDyVmMznE8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="http://mws.amazonservices.com/webstore/2014-09-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2015-03-28T18:15:07.556Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>597dbcff-034f-406f-b150-0470b85b04fe</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Sat, 28 Mar 2015 18:15:07 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptionsCount&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&SubscriptionState=Subscribed&Timestamp=2015-03-28T18%3A15%3A07Z&Version=2014-09-01&Signature=l5d7JUgYHHwFXqCz8JSjWGtpaFS6njeSIflrrKBQu8o%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      X-Amz-Date:
      - Sat, 28 Mar 2015 18:15:08 GMT
      x-mws-request-id:
      - 25c190ce-ee58-4eab-a2c3-b9d12498c270
      x-mws-timestamp:
      - '2015-03-28T18:15:08.189Z'
      x-mws-response-context:
      - XtO15sAegeYG+F2s02NR9ePArgU6VjXe4cOAY0CTucj4zh8QYGW3xPnTin8jZYs5CbZpXgMvlIc=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsCountResponse xmlns="http://mws.amazonservices.com/schema/Webstore/2014-09-01">
          <ListSubscriptionsCountResult>
            <MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId>
            <SellerId>MERCHANT_ID</SellerId>
            <EndDate>2015-03-28T18:15:08.422Z</EndDate>
            <SubscriptionList/>
            <NextToken/>
            <StartDate>2014-07-01T18:15:08.409Z</StartDate>
          </ListSubscriptionsCountResult>
          <ResponseMetadata>
            <RequestId>25c190ce-ee58-4eab-a2c3-b9d12498c270</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsCountResponse>
  recorded_at: Sat, 28 Mar 2015 18:15:08 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptionsCount&MarketplaceId=A1PA6795UKMFR9&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&SubscriptionState=Subscribed&Timestamp=2015-03-28T18%3A15%3A07Z&Version=2014-09-01&Signature=l5d7JUgYHHwFXqCz8JSjWGtpaFS6njeSIflrrKBQu8o%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
    [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptionsCount&MarketplaceId=A1VC38T7YXB528&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&SubscriptionState=Subscribed&Timestamp=2015-03-28T18%3A15%3A07Z&Version=2014-09-01&Signature=l5d7JUgYHHwFXqCz8JSjWGtpaFS6njeSIflrrKBQu8o%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      me[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Webstore/2014-09-01/?AWSAccessKeyId=AWS_ACCESS_KEY_ID&Action=ListSubscriptionsCount&MarketplaceId=ATVPDKIKX0DER&SellerId=MERCHANT_ID&SignatureMethod=HmacSHA256&SignatureVersion=2&SubscriptionState=Subscribed&Timestamp=2015-03-28T18%3A19%3A53Z&Version=2014-09-01&Signature=d1MP%2BO0iNPQfTwhfrXsRv9jWj2f7cHLs1LJQht9a2ro%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      [...]
