---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - H95CKRPCAFCRG4JH1MZE
        X-Amzn-Requestid:
          - b85e9344-20b9-4847-a66c-4b10bd658f07
        X-Amz-Date:
          - Fri, 13 Sep 2024 14:38:16 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Fri, 13 Sep 2024 14:38:12 GMT
  - request:
      method: get
      uri: https://sellingpartnerapi-eu.amazon.com/catalog/2022-04-01/items?identifiers=188864544X&identifiersType=ASIN&includedData=summaries&marketplaceIds=A1F83G8C2ARO7P&pageSize=10
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240913T143812Z
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - X4EM5SRK6GNXY3PMJPTS
        X-Amzn-Ratelimit-Limit:
          - "2.0"
        X-Amzn-Requestid:
          - e8459b72-6c48-4ff7-a9d5-871aedf81970
        X-Amz-Apigw-Id:
          - OPFe8459b726c48
      body:
        encoding: UTF-8
        string:
          '{"numberOfResults":1,"items":[{"asin":"188864544X","summaries":[{"marketplaceId":"A1F83G8C2ARO7P","adultProduct":false,"autographed":false,"browseClassification":{"displayName":"Fashion","classificationId":"267854"},"contributors":[{"role":{"displayName":"Creator","value":"creator"},"value":"Visionaire
          Publishing"}],"itemClassification":"BASE_PRODUCT","itemName":"Dreams: No.
          43 (Visionaire S.)","manufacturer":"Visionaire Publishing,U.S.","memorabilia":false,"releaseDate":"2004-09-02","tradeInEligible":false,"websiteDisplayGroup":"book_display_on_website","websiteDisplayGroupName":"Book"}]}]}'
    recorded_at: Fri, 13 Sep 2024 14:38:12 GMT
recorded_with: VCR 6.3.1
