---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - ES5GVKHR2EY594AWXZKN
      X-Amzn-Requestid:
      - 2b3faa48-1d32-456d-9f8c-bde1d5c481ad
      X-Amz-Date:
      - Thu, 05 Sep 2024 12:26:03 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 05 Sep 2024 12:25:59 GMT
recorded_with: VCR 6.3.1
