---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&scope=sellingpartnerapi%3A%3Anotifications&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - ANFBJ8YDPS33T1KVBS35
      X-Amzn-Requestid:
      - 40dca92b-df29-4ba7-96f7-40650a869f14
      X-Amz-Date:
      - Thu, 05 Sep 2024 12:26:02 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","scope":"sellingpartnerapi::notifications","token_type":"bearer","expires_in":3600}'
  recorded_at: Thu, 05 Sep 2024 12:25:58 GMT
recorded_with: VCR 6.3.1
