---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A47Z&Signature=ecaJtKNApGR3yII9fA9CH%2BCDD7gO88eTGRpLPBKqesk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - 85rav7EGOxz8rbCFI9nXbtyeMAWmyM4u0/vnz8GbiVTT8nWwI2tjoDYPvsl8quktXMn9L5ylW0df
        1ZGsxBj6tQ==, PtwdBoDWW0AGXCbuYQ4uw+ytlMLpjYZZ+bI7rOh743CBKCCSp7wf+9xHRBVmM1P4KkhnLs2cG0o=
      x-amz-request-id:
      - 1d9b1fc7-4841-4858-a0d1-df98750919d3
      x-mws-request-id:
      - 1d9b1fc7-4841-4858-a0d1-df98750919d3
      x-mws-timestamp:
      - '2014-02-04T11:17:48.132Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListMarketplaceParticipationsResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01"><ListMarketplaceParticipationsResult><ListParticipations><Participation><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><SellerId>seller_id</SellerId><HasSellerSuspendedListings>No</HasSellerSuspendedListings></Participation></ListParticipations><ListMarketplaces><Marketplace><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><Name>Amazon.ca</Name><DefaultCountryCode>CA</DefaultCountryCode><DefaultCurrencyCode>CAD</DefaultCurrencyCode><DefaultLanguageCode>en_CA</DefaultLanguageCode><DomainName>www.amazon.ca</DomainName></Marketplace></ListMarketplaces></ListMarketplaceParticipationsResult><ResponseMetadata><RequestId>1d9b1fc7-4841-4858-a0d1-df98750919d3</RequestId></ResponseMetadata></ListMarketplaceParticipationsResponse>
  recorded_at: Tue, 04 Feb 2014 11:17:48 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A48Z&Signature=Vn7ci48qGKFyi4%2BSzE%2FlsEf8y2XVrb3FE7czVlgHoXo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - oTN8Sbb[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A48Z&Signature=eCRY6J4VjO7CfkN1DSkpEbLC0BxaKvpbodWlPsVgxIA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - h67PZJRvxJm[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A49Z&Signature=B6dkVZAvZQxjAQ65gGm8j%2BMKUBzP9t4UrOILZz%2Fyx%2BY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - 93DXC[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A49Z&Signature=p261BngdDcj0s682mHw0kJLUZHfCzUqIbnmNZ6zYx40%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - WutnKu4Pw5H[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A49Z&Signature=eLnrknHrcvtfKCJeL5BYJRfNWZrm%2BCOY86R0liiGShk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - E8xCCw+Hn[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A50Z&Signature=2YkwhXqm8tuurKnnRbgcix8vj3vjcgFpOgXF6zKtEYs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - FJ5O1TnffJidKvM[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListMarketplaceParticipations&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A51Z&Signature=2bxQBhMGGoLUsqUz%2FR9bgbA1zhX%2B4NQjZ4YRK2ANISg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - 5miLpgdIMH[...]
