---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportRequestCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A13Z&Signature=XcxjdjIKsTvu%2FMpWEpD8anCCapBQh5ITImSZ2pubHMI%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:20:00 UTC
      x-mws-response-context:
      - xNt4vqurtXpX4RH2EP6g1U/0FuvOc4H071e5TjSmN6dEESYIvC49+QxiBBATZAN3FTUMLvhEgxHu
        D4TnFkFN0Hf3J1tB0jmo, qoX2vdihJFlDXzQdDaEetVjobUpoUn2hWXkOKO1TTAq63O7nuO6YrsUgH+dZyKMMXb8idsjByGdT
        BMVJ4GyKkA==
      x-amz-request-id:
      - f242bca2-bbe0-413b-a67e-2d7fda73a3d6
      x-mws-request-id:
      - f242bca2-bbe0-413b-a67e-2d7fda73a3d6
      x-mws-timestamp:
      - '2014-01-20T13:57:13.678Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>855</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>f242bca2-bbe0-413b-a67e-2d7fda73a3d6</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:18 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=***REMOVED***&Action=GetReportRequestCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A18Z&Signature=ktL%2FHwmsHKbf%2BIN6fye6Ia1L3oog4gQ9L2PPPgnudHA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '79.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:07:00 UTC
      x-mws-response-context:
      - 05zr2coTFLMhroyEp0rSuSeBGaGSv/dIm6pioMRfZGArU6gbNoHhnIFjpiIf2aR/ZUFC+DmYAUqG
        vCG36qxgC2sYH9ABDKkd, KoUPKqMu3e7N8Xd7VZwSH4hzzOc9yEbe8Hu6EHeiwzwx1AKaTux3aMC+Y7Q2jQJdsKIklWXTPzUj
        4n+t2Fezjg==
      x-amz-request-id:
      - 9ffd502b-50a7-4c3c-9a4f-ac30c1d51d2a
      x-mws-request-id:
      - 9ffd502b-50a7-4c3c-9a4f-ac30c1d51d2a
      x-mws-timestamp:
      - '2014-01-20T13:57:20.601Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>738</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>9ffd502b-50a7-4c3c-9a4f-ac30c1d51d2a</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:25 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/?AWSAccessKeyId=***REMOVED***&Action=GetReportRequestCount&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A57%3A25Z&Signature=I%2BJ3z%2BX9Oz8Rxf%2Fbiititfgji4ebWM1c7fuZcWPE5jg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '80.0'
      x-mws-quota-remaining:
      - '80.0'
      x-mws-quota-resetsOn:
      - Mon,20 Jan 2014 14:47:00 UTC
      x-mws-response-context:
      - rvv0IllGH7oHpG92KuEzeMv14pWVkczpcSVpOXvR7otp+Ztg0S9MdqwrmIVQjKCnLqzuJspqNSop
        mkTAaaRomHt+qeFdRtqn, wTUEN9KG9rEqPrqSXz7qaOZ+U7kozim010txeLzsCoyQM+wJSdGxXrtKZfQ92QlRryJJE8HZToEg
        lkJcXVH+Uw==
      x-amz-request-id:
      - 1776bcf2-0d5b-4bec-a679-568c09100cf3
      x-mws-request-id:
      - 1776bcf2-0d5b-4bec-a679-568c09100cf3
      x-mws-timestamp:
      - '2014-01-20T13:57:26.026Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetReportRequestCountResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><GetReportRequestCountResult><Count>735</Count></GetReportRequestCountResult><ResponseMetadata><RequestId>1776bcf2-0d5b-4bec-a679-568c09100cf3</RequestId></ResponseMetadata></GetReportRequestCountResponse>
  recorded_at: Mon, 20 Jan 2014 13:57:30 GMT
recorded_with: VCR 2.8.0
