---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A55Z&Signature=fU8eQ3MN183ZoAHCS%2Bi8yTYsdFU8RHTFilp7KxAqS6k%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '288000.0'
      x-mws-quota-remaining:
      - '262460.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - 5Ud2WVtBoB5iw7uL2mKv0moLiH6gvfls2EwV5R6R56LvMJpW3xpfWp1mKF6RarB3i69d6l4Jl0bb
        mhPymQBR3Q==, MqRhgLOMLbU2NbkvAdoSyugFMWIRJUZ9hkQp/GsZF/etmnxawpD5S4gtOqmTEPVx/b7R7bhKig0=
      x-amz-request-id:
      - 568ee8c7-985c-4543-b0ca-10633acc080e
      x-mws-request-id:
      - 568ee8c7-985c-4543-b0ca-10633acc080e
      x-mws-timestamp:
      - '2014-02-04T11:17:55.566Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetLowestOfferListingsForASINResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><GetLowestOfferListingsForASINResult ASIN="1780935374" status="Success"><AllOfferListingsConsidered>true</AllOfferListingsConsidered><Product xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01" xmlns:ns2="http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd"><Identifiers><MarketplaceASIN><MarketplaceId>A2EUQ1WTGCTBG2</MarketplaceId><ASIN>1780935374</ASIN></MarketplaceASIN></Identifiers><LowestOfferListings><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>Mint</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>False</ShipsDomestically><ShippingTime><Max>0-2 days</Max></ShippingTime><SellerPositiveFeedbackRating>80-89%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>1</NumberOfOfferListingsConsidered><SellerFeedbackCount>11990</SellerFeedbackCount><Price><LandedPrice><CurrencyCode>CAD</CurrencyCode><Amount>37.46</Amount></LandedPrice><ListingPrice><CurrencyCode>CAD</CurrencyCode><Amount>30.97</Amount></ListingPrice><Shipping><CurrencyCode>CAD</CurrencyCode><Amount>6.49</Amount></Shipping></Price><MultipleOffersAtLowestPrice>False</MultipleOffersAtLowestPrice></LowestOfferListing><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>Mint</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>False</ShipsDomestically><ShippingTime><Max>14 or more days</Max></ShippingTime><SellerPositiveFeedbackRating>95-97%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>1</NumberOfOfferListingsConsidered><SellerFeedbackCount>1000</SellerFeedbac[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A55Z&Signature=4Zbe34YJkx4sVWKZ9qMwP%2FcHEHfy6aoMJrBVlOG0zS8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
   [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A29Z&Signature=PGfKMvhiQqPvoA0u6jjDZOjqERvcckfcoyMjU5jupbk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    h[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A29Z&Signature=uE6ST2erUnHquFxwSIBtACOfdnp5wEtnnUSjGGhy5HU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    heade[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=ATVPDKIKX0DER&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A31Z&Signature=MsFmk%2B3ZKJiz9gV4tjO8bkZjmmPj3n7YnJ56C%2FsCrFY%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    h[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A37Z&Signature=OhmyROjCMvkwyZevztLfnIbX7xRmchm%2BTaeJcn%2BqwNs%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
  [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A40Z&Signature=pJkEzZfBtnpwNZ4A2ULt%2BcNOpvfjmToB%2BxXddy1UEfU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?ASINList.ASIN.1=1780935374&AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForASIN&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A27%3A54Z&Signature=DEtUfKx82hFlAty1SiqfXqGASZs%2FUgyhyf1On90IKnU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
   [...]
