---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A57Z&Signature=w7qX1w1fssRqKKwsjnvkCv8W8PicUJ%2BxMHpQj7ItOUE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-quota-max:
      - '288000.0'
      x-mws-quota-remaining:
      - '262460.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:03:00 UTC
      x-mws-response-context:
      - 57kjwmE7piWKWzynSnOcTMszc4kaqQbMJ6VSHQw4QAXSslaNpBNwpyEC5y+YttLfM/6OSBbxQBgq
        Va73esOtjg==, FKYYYCGUmK3UC6OwcosZeihWNLZWxmriu7I+KqnGgmUaHAI8qLZr8c5AhfOEIXq3+cHaFe1e2k/X
        xof5BYRYcw==
      x-amz-request-id:
      - 2e60f47a-a713-4d41-968f-2ac02915779e
      x-mws-request-id:
      - 2e60f47a-a713-4d41-968f-2ac02915779e
      x-mws-timestamp:
      - '2014-02-04T11:17:58.021Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetLowestOfferListingsForSKUResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><GetLowestOfferListingsForSKUResult SellerSKU="123" status="ClientError"><Error><Type>Sender</Type><Code>InvalidParameterValue</Code><Message>123 is an invalid SellerSKU for marketplace A2EUQ1WTGCTBG2</Message></Error></GetLowestOfferListingsForSKUResult><ResponseMetadata><RequestId>2e60f47a-a713-4d41-968f-2ac02915779e</RequestId></ResponseMetadata></GetLowestOfferListingsForSKUResponse>
  recorded_at: Tue, 04 Feb 2014 11:17:58 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A17%3A58Z&Signature=ALUexTEH2JL%2BwrtV%2FfTj72QhxF3jSplCdWPvdik1I8A%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A20%3A33Z&Signature=cI0oCIDYkeMRdz8sRrAb9rvSgJfqqFwRjvuBxhs%2Bogw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
  [...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A20%3A33Z&Signature=Usrcq94cwZunq3o0rfLcaaymklc1lFMWabyiKicXaZ0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    hea[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=ATVPDKIKX0DER&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A20%3A34Z&Signature=54Hdtp%2BTEh%2FhPz3aJ8c98HqMMbIR1ZyhMVwaQvrFci8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
   [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A22%3A56Z&Signature=if6EIKpmoxOArMz5lBNJv5ceDgFfQ6y3IKYJp%2BYGgQo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A00Z&Signature=2Dci8KgTqgG6HCXhcYVnsCriaggClrawwMdQFL5usbw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
   [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=aws_access_key_id&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SellerSKUList.SellerSKU.1=123&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-04T11%3A23%3A27Z&Signature=WH1kiZK181nclWao7pITpp5uj%2FwgvSp%2Bxfmsdyov09M%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: 
    headers:
      x-mws-quota-max:
      - '144000.0'
      x-mws-quota-remaining:
      - '141719.0'
      x-mws-quota-resetsOn:
      - Tue,04 Feb 2014 12:11:00 UTC
      x-mws-response-context:
      - cXnxtLdvj9HXz9cAES7lLQ+fkg+zIASnuJCX6/CaouU6gQBfZ2VvUajjFJ4dje1PCby8j1PtbKIy
        d5UmrQ2SzfTMZhZEN2Ks, cj5KXSxtfoakRDq1L+iGcUM//juKNIEZZAl6dXKaBQtuSCigr85/1cTTtj7laHLp3rmeGHn1zrDk
        dJbIhteG/A==
      Cneonction:
      - close
      x-mws-request-id:
      - 9b0604fb-0b92-43b9-acb7-9e39f46c16a7
      x-mws-timestamp:
      - '2014-02-04T11:23:28.529Z'
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><Error><Type>Sender</Type><Code>RequestThrottled</Code><Message>Request is throttled</Message><Detail/></Error><RequestID>9b0604fb-0b92-43b9-acb7-9e39f46c16a7</RequestID></ErrorResponse>
  recorded_at: Tue, 04 Feb 2014 11:23:28 GMT
[...]
