---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=GetServiceStatus&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A52%3A38Z&Signature=F2sBSeK5KBVmuBuXs1uWL252x%2BmDtOZN6GGm0OAmToo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - 2d703c04-9353-4350-a2eb-bf5d06ec207d
      x-mws-timestamp:
      - '2014-01-20T13:52:39.397Z'
      x-mws-response-context:
      - FToIwVX5SHLkAhmp55NvKgTQhlH/XYPHx+PxoUo2iol6NEmrZmtwueaMtlCqxTtM/INCi3SmUec=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-01-20T13:52:39.397Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>2d703c04-9353-4350-a2eb-bf5d06ec207d</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 20 Jan 2014 13:52:39 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=GetServiceStatus&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A52%3A39Z&Signature=9VVpdcuaH9OUWj%2FzgtLb2BayjbzvKf%2F0EhRHSgbjd54%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - cdc43daa-a1d4-480d-b0f8-3a3ea658754d
      x-mws-timestamp:
      - '2014-01-20T13:52:40.283Z'
      x-mws-response-context:
      - nD8xsId9fV+u3zJRFV6tkHuzV2JLRXjyxZZUC5gSEDc1bpbQ94FjNqk6zpc/CNmxd0dWkv5Xcbhm
        DKGZnq4i5A==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-01-20T13:52:40.283Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>cdc43daa-a1d4-480d-b0f8-3a3ea658754d</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 20 Jan 2014 13:52:40 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=GetServiceStatus&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A52%3A40Z&Signature=CfkCFdvipwBpFvBIfftYt084efHepvQtLj%2FH4SFbtMc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-request-id:
      - e14b1bc1-695f-4781-bef5-fe211ef3ccfa
      x-mws-timestamp:
      - '2014-01-20T13:52:41.133Z'
      x-mws-response-context:
      - wTUEN9KG9rEqPrqSXz7qaOZ+U7kozim010txeLzsCoyQM+wJSdGxXrtKZfQ92QlRryJJE8HZToEg
        lkJcXVH+Uw==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <GetServiceStatusResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <GetServiceStatusResult>
            <Status>GREEN</Status>
            <Timestamp>2014-01-20T13:52:41.133Z</Timestamp>
          </GetServiceStatusResult>
          <ResponseMetadata>
            <RequestId>e14b1bc1-695f-4781-bef5-fe211ef3ccfa</RequestId>
          </ResponseMetadata>
        </GetServiceStatusResponse>
  recorded_at: Mon, 20 Jan 2014 13:52:41 GMT
recorded_with: VCR 2.8.0
