---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=ListMarketplaceParticipations&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A59%3A08Z&Signature=oKC3idWm2w%2Fi%2BVaZ%2BIu1R9phbFf5yOnjQJH6mboyPsE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - It6kuT9g004yX/iW0Q3VAYF6PgmI001lCrVfdT68t6tt6MDUI6cvkCdqnVo9TWwY0dseEBGDcZO8
        q2kTM6yhHA==, FToIwVX5SHLkAhmp55NvKgTQhlH/XYPHx+PxoUo2iol6NEmrZmtwueaMtlCqxTtM/INCi3SmUec=
      x-amz-request-id:
      - b520d44e-9861-4e27-aa50-feced9525ae6
      x-mws-request-id:
      - b520d44e-9861-4e27-aa50-feced9525ae6
      x-mws-timestamp:
      - '2014-01-20T13:59:09.317Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ListMarketplaceParticipationsResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01"><ListMarketplaceParticipationsResult><ListParticipations><Participation><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><SellerId>***REMOVED***</SellerId><HasSellerSuspendedListings>No</HasSellerSuspendedListings></Participation><Participation><MarketplaceId>A2ZV50J4W1RKNI</MarketplaceId><SellerId>***REMOVED***</SellerId><HasSellerSuspendedListings>No</HasSellerSuspendedListings></Participation></ListParticipations><ListMarketplaces><Marketplace><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><Name>Amazon.com</Name><DefaultCountryCode>US</DefaultCountryCode><DefaultCurrencyCode>USD</DefaultCurrencyCode><DefaultLanguageCode>en_US</DefaultLanguageCode><DomainName>www.amazon.com</DomainName></Marketplace><Marketplace><MarketplaceId>A2ZV50J4W1RKNI</MarketplaceId><Name>Non-Amazon</Name><DefaultCountryCode>US</DefaultCountryCode><DefaultCurrencyCode>USD</DefaultCurrencyCode><DefaultLanguageCode>en_US</DefaultLanguageCode><DomainName>sim1.stores.amazon.com</DomainName></Marketplace></ListMarketplaces></ListMarketplaceParticipationsResult><ResponseMetadata><RequestId>b520d44e-9861-4e27-aa50-feced9525ae6</RequestId></ResponseMetadata></ListMarketplaceParticipationsResponse>
  recorded_at: Mon, 20 Jan 2014 13:59:09 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=ListMarketplaceParticipations&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A59%3A09Z&Signature=hUcFapFe4QnlOKZEwLS5bTvc9Slni9KAOLwoop%2B4Twg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - 5CbwrPdRj[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Sellers/2011-07-01?AWSAccessKeyId=***REMOVED***&Action=ListMarketplaceParticipations&SellerId=***REMOVED***&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-20T13%3A59%3A10Z&Signature=7oZ02z%2FmGTL7OCbHMDMGBRQ4uJepZWCk7mWDCkJ06TA%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mws-response-context:
      - k1SUvkaMLLehF[...]
