---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - 1ERE83ZQ4K9VZZ5ECWJS
        X-Amzn-Requestid:
          - 5260fd81-9b05-477c-a9ef-2d14540cee94
        X-Amz-Date:
          - Fri, 13 Sep 2024 18:15:07 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Fri, 13 Sep 2024 18:15:07 GMT
  - request:
      method: get
      uri: https://sellingpartnerapi-eu.amazon.com/definitions/2020-09-01/productTypes/PRODUCT?locale=DEFAULT&marketplaceIds=A1F83G8C2ARO7P&productTypeVersion=LATEST&requirements=LISTING_OFFER_ONLY&requirementsEnforced=ENFORCED
      body:
        encoding: ASCII-8BIT
        string: ""
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240913T181507Z
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - X8QKKHNJAG1A2Q70DA52
        X-Amzn-Ratelimit-Limit:
          - "5.0"
        X-Amzn-Requestid:
          - 6d3966bf-a21c-4099-ba41-03bf6de079f6
        X-Amz-Apigw-Id:
          - OPF6d3966bfa21c
      body:
        encoding: UTF-8
        string: |2

          {"metaSchema":{"link":{"resource":"https://selling-partner-definitions-prod-dub.s3.eu-west-1.amazonaws.com/schema/amazon-product-type-definition-meta-schema-v1.json/rZ%252F2Yep0np022S38ZdEiNQ%253D%253D?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJr%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQD2bFpgBzk6mpuGuL%2BEYe5eoHN5d0keeuRVr3aVEz%2FZiwIhAKcB1v8ewE%2BcSEQeuz7SMO5tX04%2Fz1t3xEl7mnln2UZqKtIECML%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQAxoMNTM1Nzg5ODIzODA4IgzB9nD0SakkGB1kbIMqpgTfp65mJrHOBhJvqoboVyitR9BBOXPrUouHI9PQaGlwvI1bdhHkkQJ51ub[...]
  - request:
      method: get
      uri: https://selling-partner-definitions-prod-dub.s3.eu-west-1.amazonaws.com/schema/PRODUCT.json/WvIsJwSkxhFEi3ZMEH0ukQ%253D%253D?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAXZP4P45AKIPFCLKW/20240913/eu-west-1/s3/aws4_request&X-Amz-Date=20240913T181507Z&X-Amz-Expires=604800&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJr//////////wEaCWV1LXdlc3QtMSJIMEYCIQD2bFpgBzk6mpuGuL%2BEYe5eoHN5d0keeuRVr3aVEz/ZiwIhAKcB1v8ewE%2BcSEQeuz7SMO5tX04/z1t3xEl7mnln2UZqKtIECML//[...]
