---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=AKIAJOD3NLXHOMANRNQQ&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1F83G8C2ARO7P&SellerId=A2JYSO6W6KEP83&SellerSKUList.SellerSKU.1=1A-092S-KNJX&SellerSKUList.SellerSKU.2=JE-SQGJ-SMBV&SellerSKUList.SellerSKU.3=RZ-H2GC-6MT9&SellerSKUList.SellerSKU.4=TC-0CM4-T9UZ&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-21T14%3A00%3A39Z&Signature=P7SRnZIWLpUlhK6rHKkGFAkwgdd9Cvh3mnjkKqe650M%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      x-mws-quota-max:
      - '36000.0'
      x-mws-quota-remaining:
      - '36000.0'
      x-mws-quota-resetsOn:
      - Tue,21 Jan 2014 14:57:00 UTC
      x-mws-response-context:
      - "+5O4kejxzFBuSKZ5CSVXtmftOZujMzT1oZy/lEN8kh1zuyCk6rWbmKLONvMbdbFX1/uJI3x27fAU
        EbOgSRVRrg==, 6koDcxWgU1zYq9STbp56lhsGAVWzya96wUNJaCDpPa/38g6udjTFJ0DDSinvZPDa5nrQiao/kXil
        KGbA/nfhWg=="
      x-amz-request-id:
      - 51b0d521-f169-4a03-a7e4-8adfab8dd7c8
      x-mws-request-id:
      - 51b0d521-f169-4a03-a7e4-8adfab8dd7c8
      x-mws-timestamp:
      - '2014-01-21T14:00:40.453Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <GetLowestOfferListingsForSKUResponse xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01"><GetLowestOfferListingsForSKUResult SellerSKU="1A-092S-KNJX" status="Success"><AllOfferListingsConsidered>false</AllOfferListingsConsidered><Product xmlns="http://mws.amazonservices.com/schema/Products/2011-10-01" xmlns:ns2="http://mws.amazonservices.com/schema/Products/2011-10-01/default.xsd"><Identifiers><MarketplaceASIN><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><ASIN>0816614024</ASIN></MarketplaceASIN><SKUIdentifier><MarketplaceId>ATVPDKIKX0DER</MarketplaceId><SellerId>A2JYSO6W6KEP83</SellerId><SellerSKU>1A-092S-KNJX</SellerSKU></SKUIdentifier></Identifiers><LowestOfferListings><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>VeryGood</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>True</ShipsDomestically><ShippingTime><Max>0-2 days</Max></ShippingTime><SellerPositiveFeedbackRating>98-100%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>5</NumberOfOfferListingsConsidered><SellerFeedbackCount>6343</SellerFeedbackCount><Price><LandedPrice><CurrencyCode>USD</CurrencyCode><Amount>20.89</Amount></LandedPrice><ListingPrice><CurrencyCode>USD</CurrencyCode><Amount>16.90</Amount></ListingPrice><Shipping><CurrencyCode>USD</CurrencyCode><Amount>3.99</Amount></Shipping></Price><MultipleOffersAtLowestPrice>False</MultipleOffersAtLowestPrice></LowestOfferListing><LowestOfferListing><Qualifiers><ItemCondition>Used</ItemCondition><ItemSubcondition>Good</ItemSubcondition><FulfillmentChannel>Merchant</FulfillmentChannel><ShipsDomestically>True</ShipsDomestically><ShippingTime><Max>0-2 days</Max></ShippingTime><SellerPositiveFeedbackRating>98-100%</SellerPositiveFeedbackRating></Qualifiers><NumberOfOfferListingsConsidered>1</NumberOfOfferListingsConsidered><SellerFeedbackCount>855</SellerFeedbackCount><[...]
- request:
    method: post
    uri: https://mws.amazonservices.jp/Products/2011-10-01?AWSAccessKeyId=AKIAJOD3NLXHOMANRNQQ&Action=GetLowestOfferListingsForSKU&MarketplaceId=A1VC38T7YXB528&SellerId=A2JYSO6W6KEP83&SellerSKUList.SellerSKU.1=1A-092S-KNJX&SellerSKUList.SellerSKU.2=JE-SQGJ-SMBV&SellerSKUList.SellerSKU.3=RZ-H2GC-6MT9&SellerSKUList.SellerSKU.4=TC-0CM4-T9UZ&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-21T14%3A00%3A41Z&Signature=TlX7L95j39CPWNls2PjUg9D4lX2oeaPO2ZXivkqgP[...]
- request:
    method: post
    uri: https://mws.amazonservices.com/Products/2011-10-01?AWSAccessKeyId=AKIAJOD3NLXHOMANRNQQ&Action=GetLowestOfferListingsForSKU&MarketplaceId=ATVPDKIKX0DER&SellerId=A2JYSO6W6KEP83&SellerSKUList.SellerSKU.1=1A-092S-KNJX&SellerSKUList.SellerSKU.2=JE-SQGJ-SMBV&SellerSKUList.SellerSKU.3=RZ-H2GC-6MT9&SellerSKUList.SellerSKU.4=TC-0CM4-T9UZ&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-01-21T14%3A00%3A42Z&Signature=3F8Bp3RF88WIdoFv9MhTIknMhH%2B1unf2mU7wAm1[...]
