---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - S97SE0KZ3S8Y7BFZ2X8S
      X-Amzn-Requestid:
      - ecfbcc48-4bc1-4527-a6b8-da993b91a4b1
      X-Amz-Date:
      - Sat, 14 Sep 2024 13:32:18 GMT
    body:
      encoding: UTF-8
      string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
  recorded_at: Sat, 14 Sep 2024 13:32:14 GMT
- request:
    method: post
    uri: https://sellingpartnerapi-eu.amazon.com/feeds/2021-06-30/documents
    body:
      encoding: UTF-8
      string: '{"contentType":"application/json; charset=UTF-8"}'
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240914T133214Z
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Amz-Rid:
      - PDXSCQ4GTQJ3334DK6WD
      X-Amzn-Ratelimit-Limit:
      - '0.5'
      X-Amzn-Requestid:
      - 878a2bbc-5d91-4858-bec4-b54bfa57f53e
      X-Amz-Apigw-Id:
      - OPF878a2bbc5d91
    body:
      encoding: UTF-8
      string: '{"feedDocumentId":"amzn1.tortuga.4.eu.9d4faece-0054-4b11-b6d4-14741b5d8c63.T1DN3IS2SW8HHW","url":"https://tortuga-prod-eu.s3-eu-west-1.amazonaws.com/9d4faece-0054-4b11-b6d4-14741b5d8c63.amzn1.tortuga.4.eu.T1DN3IS2SW8HHW?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240914T133219Z&X-Amz-SignedHeaders=content-type%3Bhost&X-Amz-Expires=300&X-Amz-Credential=AKIAX2ZVOZFBD26QHCVX%2F20240914%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Signature=7cbe0499aeab1b186ff63d497eb138adfffeca9f0fff1b10ac585b496a70e81a"}'
  recorded_at: Sat, 14 Sep 2024 13:32:15 GMT
recorded_with: VCR 6.3.1
