---
http_interactions:
  - request:
      method: post
      uri: https://api.amazon.com/auth/o2/token
      body:
        encoding: ASCII-8BIT
        string: grant_type=refresh_token&refresh_token=FILTERED&client_id=FILTERED&client_secret=FILTERED
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Amz-Rid:
          - ZYKAMGM0EP3K44080T9M
        X-Amzn-Requestid:
          - 12c19a79-e57e-4568-9f1a-b3402e4e0686
        X-Amz-Date:
          - Sat, 14 Sep 2024 20:24:40 GMT
      body:
        encoding: UTF-8
        string: '{"access_token":"FILTERED","refresh_token":"FILTERED","token_type":"bearer","expires_in":3600}'
    recorded_at: Sat, 14 Sep 2024 20:24:38 GMT
  - request:
      method: put
      uri: https://tortuga-prod-eu.s3-eu-west-1.amazonaws.com/123
      body:
        encoding: UTF-8
        string: '{"header":{"sellerId":"A34PPN1ZLYCOGT","version":"2.0","issueLocale":"en_US"},"messages":[{"messageId":1,"sku":"SKU123","operationType":"UPDATE","productType":"PRODUCT","requirements":"LISTING_OFFER_ONLY","attributes":{"merchant_suggested_asin":[{"value":"188864544X","marketplace_id":"A1F83G8C2ARO7P"}],"condition_type":[{"value":"new_new","marketplace_id":"A1F83G8C2ARO7P"}],"merchant_shipping_group":[{"value":"legacy-template-id","marketplace_id":"A1F83G8C2ARO7P"}],"fulfillment_availability":[{"fulfillment_channel_code":"DEFAULT","quantity":1,"lead_time_to_ship_max_days":3}],"purchasable_offer":[{"currency":"GBP","our_price":[{"schedule":[{"value_with_tax":400}]}],"minimum_seller_allowed_price":[{"schedule":[{"value_with_tax":350}]}],"maximum_seller_allowed_price":[{"schedule":[{"value_with_tax":450}]}],"marketplace_id":"A1F83G8C2ARO7P"}]}}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Amz-Request-Id:
          - BYCH6MFHW9TTH4EX
        X-Amz-Version-Id:
          - R3fuoRGEuyuOORW5FX8ntC2X0nzbneye
        X-Amz-Server-Side-Encryption:
          - aws:kms
        X-Amz-Server-Side-Encryption-Aws-Kms-Key-Id:
          - arn:aws:kms:eu-west-1:538593642818:key/eefdcca3-2e83-416d-b342-a5f2ccdb7ea5
        X-Amz-Server-Side-Encryption-Bucket-Key-Enabled:
          - "true"
        Etag:
          - '"1398000cc21518eb51e616c8d05a6063"'
      body:
        encoding: UTF-8
        string: ""
    recorded_at: Sat, 14 Sep 2024 20:24:38 GMT
  - request:
      method: post
      uri: https://sellingpartnerapi-eu.amazon.com/feeds/2021-06-30/feeds
      body:
        encoding: UTF-8
        string: '{"feedType":"JSON_LISTINGS_FEED","marketplaceIds":["A1F83G8C2ARO7P"],"inputFeedDocumentId":"amzn1.tortuga.4.eu.123"}'
      headers:
        X-Amz-Access-Token:
          - FILTERED
        X-Amz-Date:
          - 20240914T202438Z
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 202
        message: Accepted
      headers:
        Content-Type:
          - application/json
        X-Amz-Rid:
          - TN8B9H2M0AFJSD6GD3EJ
        X-Amzn-Ratelimit-Limit:
          - "0.0083"
        X-Amzn-Requestid:
          - 98d6024c-42eb-442e-9928-3ae8e41a9b5e
        X-Amz-Apigw-Id:
          - OPF98d6024c42eb
      body:
        encoding: UTF-8
        string: '{"feedId":"123"}'
    recorded_at: Sat, 14 Sep 2024 20:24:38 GMT
recorded_with: VCR 6.3.1
