---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A58Z&Signature=s0uvtVvyP52yANzdvyX%2BW4yng%2FVWT6X08KMCZ1F9J%2Bo%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.730d0569-8f47-11e3-b61e-0a589b4b0000.0..KlfDM2
      x-mws-request-id:
      - 82e34833-02cb-4e53-8384-19cc7feec9d0
      x-mws-timestamp:
      - '2014-02-06T15:57:58.653Z'
      x-mws-response-context:
      - usehi98VKtzUqQLFaMSRTORHsAs494x/CG2WhSBoHadEhkJWLYDIlJVtRN2n22zuw79V6TMKOQ8=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>82e34833-02cb-4e53-8384-19cc7feec9d0</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:58 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A58Z&Signature=Uys1ypfTyewBFt4zBr6%2BbdorfXs3deCQr8y4efjUC%2FQ%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.733463cc-8f47-11e3-b534-0a50e1720000.0..1#KvGi
      x-mws-request-id:
      - f8ecb6c9-6168-406e-bd72-f3374f804aa3
      x-mws-timestamp:
      - '2014-02-06T15:57:58.923Z'
      x-mws-response-context:
      - fzoYQ4uFWmR1x8epHUGg0oISwlX7Mqz6yzaRFYGCZrJgFaReG4zHDrTWIhImX8NGG1b+ap552gpO
        koMYhUXE0w==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>f8ecb6c9-6168-406e-bd72-f3374f804aa3</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:58 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A58Z&Signature=Lwap4AkkDPi58g1%2F4N5hMJAvDfdsmuB9DuOYb%2FZy9jM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.735447dd-8f47-11e3-b534-0a50e1720000.0..ZN#3!Z
      x-mws-request-id:
      - 4ca68ba9-712f-4fc3-8602-1a43a4b49415
      x-mws-timestamp:
      - '2014-02-06T15:57:59.124Z'
      x-mws-response-context:
      - QFbDj61sk1oHuWr8mE7J4ki9y1umjjjWH9Lg5HwW3MPha4wL5fhbAs77XxStxmO7bzK3eyOfInB9
        e7Y/FINfQg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>4ca68ba9-712f-4fc3-8602-1a43a4b49415</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:59 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A59Z&Signature=BDwApFfrsgr3Of2nLkIvPPEEPxEV968jSupRi3MgARE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.737479e8-8f47-11e3-ba1e-0a50493d0000.0..oiDZG8
      x-mws-request-id:
      - a16b9706-2e9c-4a36-a103-1d3e642828ce
      x-mws-timestamp:
      - '2014-02-06T15:57:59.351Z'
      x-mws-response-context:
      - m4AsKrMncABQNnT6E5qnOfxb0FGzhijcXB8s3OSaDZbq3QKHvnIim+vtGJMpS+HeVWMjMzD3/W/q
        h7Qp0AKYDQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>a16b9706-2e9c-4a36-a103-1d3e642828ce</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:59 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A59Z&Signature=DLj0dlCC6eaPaLKCIXRjJiiWdQfgnpfLyi54QpaZt2s%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.73948548-8f47-11e3-9e6c-0a5128e20000.0..v3Az!K
      x-mws-request-id:
      - a5d104a6-63b7-4241-9b02-f8637968fdef
      x-mws-timestamp:
      - '2014-02-06T15:57:59.548Z'
      x-mws-response-context:
      - fW98qhR0j1h9m9ApajnG8dnuL2dB9BYeYI3XTFqdWfJIzERfUsxvhbBDGJv3wWr+hlTztOKxOTMl
        yteuu0nLPg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>a5d104a6-63b7-4241-9b02-f8637968fdef</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:59 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A59Z&Signature=u3f2mRawRYmBLDZMOqY3H58gbyZbO0c3Q95DbHRYGrw%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.73b37ede-8f47-11e3-b534-0a50e1720000.0..Pz@qpK
      x-mws-request-id:
      - 4996fb69-955c-48c4-817d-ce75536c8769
      x-mws-timestamp:
      - '2014-02-06T15:57:59.753Z'
      x-mws-response-context:
      - QFbDj61sk1oHuWr8mE7J4ki9y1umjjjWH9Lg5HwW3MPha4wL5fhbAs77XxStxmO7bzK3eyOfInB9
        e7Y/FINfQg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>4996fb69-955c-48c4-817d-ce75536c8769</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:57:59 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A57%3A59Z&Signature=enehtNiKcbNJG0CzbefPzHoCGNP5YNAJwjBqrn4mB10%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.742aaae6-8f47-11e3-8de0-0ae9bfe50000.0..6nJTY4
      x-mws-request-id:
      - 124e64ec-86ec-4aba-b065-be9f7f186b94
      x-mws-timestamp:
      - '2014-02-06T15:58:00.530Z'
      x-mws-response-context:
      - XayY1ef74jRT1cgfYnQ76oZpY/k3UEQRrkXa8D/ZQDb/XKxishp9XyHuJMXLk2fvIIyAqpeOK9if
        wUsUWEsC6g==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>124e64ec-86ec-4aba-b065-be9f7f186b94</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:58:00 GMT
- request:
    method: post
    uri: https://mws.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=ListRegisteredDestinations&MarketplaceId=ATVPDKIKX0DER&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A58%3A00Z&Signature=Y6vY17PqCOYwFghnjPa%2BVGqmhusY7GP41Vsn2ski8e0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.74791902-8f47-11e3-8a6c-0a5a6ef40000.0..43GD$#
      x-mws-request-id:
      - 447f0a26-095f-4944-82a4-6fed953e0a12
      x-mws-timestamp:
      - '2014-02-06T15:58:01.057Z'
      x-mws-response-context:
      - PCHgVPzkYr3psfLPyd/ZLn0uNKp+znfE2f4Wqvc/PqlVpbI9QlowrN+aYdPiUl3Zyj3vmmfSK/lA
        6tCj+O7WRQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListRegisteredDestinationsResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <ListRegisteredDestinationsResult>
            <DestinationList/>
          </ListRegisteredDestinationsResult>
          <ResponseMetadata>
            <RequestId>447f0a26-095f-4944-82a4-6fed953e0a12</RequestId>
          </ResponseMetadata>
        </ListRegisteredDestinationsResponse>
  recorded_at: Thu, 06 Feb 2014 15:58:01 GMT
recorded_with: VCR 2.8.0
