---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A01Z&Signature=0zuD69LC%2F96yBc6pl8%2FrL1erfIGqLi901nBpufMBU1g%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e6236a86-8f46-11e3-8a6c-0a5a6ef40000.0..rthshp
      x-mws-request-id:
      - f613e344-7534-4e13-a643-a82c2dcbf7b7
      x-mws-timestamp:
      - '2014-02-06T15:54:02.272Z'
      x-mws-response-context:
      - g5CAAnu5dwZWhKSDDC7tOlZqjBC1Zv0F1rzAe2buuwMQzs/SDW8I6rLRq6bH7QacOIrcDTqqBL09
        56fCCDhr9Q==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>f613e344-7534-4e13-a643-a82c2dcbf7b7</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:02 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A02Z&Signature=JJkA6sV%2F1Sy8n3%2BVPMt5g5b4lIAjrvKKyG3hpJgtpn0%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e678b606-8f46-11e3-b61e-0a589b4b0000.0..$zSq8g
      x-mws-request-id:
      - 8a957c76-6875-4521-98af-1043481f9fb1
      x-mws-timestamp:
      - '2014-02-06T15:54:02.797Z'
      x-mws-response-context:
      - oVAiiEnPKEufAbzVhkJV+kV6iW/haPCIPxBEptNINPjJDknH5craYfTPnxE8aXSbE7Zz1Kafmno=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>8a957c76-6875-4521-98af-1043481f9fb1</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:03 GMT
- request:
    method: post
    uri: https://mws.amazonservices.ca/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A2EUQ1WTGCTBG2&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A03Z&Signature=eYQNdcQlaQAb8aG0y4aaqNSOzm5dZtcbKnz4ljLOGhc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e70d54f6-8f46-11e3-848b-0a59a9d60000.0..tvLvI8
      x-mws-request-id:
      - 5ee6e942-f690-4a27-9a19-6500477f69df
      x-mws-timestamp:
      - '2014-02-06T15:54:03.776Z'
      x-mws-response-context:
      - 5c5jKhdRXsXbcbhVmNG9eUDfhgbwso6SLmyc+5IoGbi/6DPVgrMkEY2pO3G2EhXUv8Saab31fzw=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>5ee6e942-f690-4a27-9a19-6500477f69df</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:03 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A03Z&Signature=N52uAa7YBcI%2FArj5Cl%2FzWo3QxmO3KEVy2IKXhy7m7i4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e7644ea9-8f46-11e3-ba1e-0a50493d0000.0..##kJIa
      x-mws-request-id:
      - 5a70bb3a-d102-472c-a703-e37e1b1386b2
      x-mws-timestamp:
      - '2014-02-06T15:54:04.336Z'
      x-mws-response-context:
      - QFbDj61sk1oHuWr8mE7J4ki9y1umjjjWH9Lg5HwW3MPha4wL5fhbAs77XxStxmO7bzK3eyOfInB9
        e7Y/FINfQg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>5a70bb3a-d102-472c-a703-e37e1b1386b2</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:04 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A04Z&Signature=TaCrMXDuQKq1r7I86u039JZ%2FVWY6pXJK38P4Th5oYV8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e7898a12-8f46-11e3-b534-0a50e1720000.0..WXoyDj
      x-mws-request-id:
      - f8b33766-abe9-4496-afdf-ebd37be0790f
      x-mws-timestamp:
      - '2014-02-06T15:54:04.606Z'
      x-mws-response-context:
      - 3wPyU7M/uQXKOjEHtlx6vqAkNNQBIqpsZrUIKEWg0Dk7nD6nP/GmCYqxpz/vbVsS++Ta6FKiyxqB
        tqJHeRX07w==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>f8b33766-abe9-4496-afdf-ebd37be0790f</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:04 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1PA6795UKMFR9&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A04Z&Signature=rBSMKOlwOd46nSZD65gNgwrNOViqY7gYSbHTwUm9rmk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e7bc0bd9-8f46-11e3-9e6c-0a5128e20000.0..mhjpE$
      x-mws-request-id:
      - 6f8ec18b-264c-49a9-b526-f690d5033ef8
      x-mws-timestamp:
      - '2014-02-06T15:54:04.928Z'
      x-mws-response-context:
      - W+6iaLdLZbmzH3vkh3MCsz2KVZyKPbEiq4rpYcLH6OMyGQAk/JxjdCWkhudZwaZbUGFJiE+vlJtH
        aaoEFaeNpA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>6f8ec18b-264c-49a9-b526-f690d5033ef8</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A05Z&Signature=yWapwdcKKrN0c0q6ksGtepCM5dz3rgBx3cez6QxAq4M%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e7e03593-8f46-11e3-b534-0a50e1720000.0..qVT1jY
      x-mws-request-id:
      - 658609db-137a-4195-bf0a-3ea5b085478c
      x-mws-timestamp:
      - '2014-02-06T15:54:05.170Z'
      x-mws-response-context:
      - lvS03DLF6oXWK0sq5sKGPhLSrUdLkxe8aBVqyQAhu4itmwshMQjYvapdx2dupNxD4gKQGPBx9u0P
        /LnUehE0Cg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>658609db-137a-4195-bf0a-3ea5b085478c</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A05Z&Signature=IYE3ZLZl2w50zwpTgFavxE5%2FxYRGmeGgxs9tKWwc6lM%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e81416d4-8f46-11e3-b534-0a50e1720000.0..d#4HxW
      x-mws-request-id:
      - 9c4262ee-6d53-4139-a755-e42e4c75916c
      x-mws-timestamp:
      - '2014-02-06T15:54:05.436Z'
      x-mws-response-context:
      - C5O0uEiAZnxqg42FdlKILTTdo+xnsf9h3W2VFCRMHjnDDJnFpJsCQP6T3EJ3odkYg8Iv9kyLLRDy
        YCCv6F6jzA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>9c4262ee-6d53-4139-a755-e42e4c75916c</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1RKKUPIHCS9HS&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A05Z&Signature=gOZf7GbPX96nAXTyVZkO1wVc3cV3SLswgd4ScvLp1Mk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.e847d105-8f46-11e3-b534-0a50e1720000.0..B@BINq
      x-mws-request-id:
      - ab4813ca-bebe-4715-9f66-242ae634bcf3
      x-mws-timestamp:
      - '2014-02-06T15:54:05.848Z'
      x-mws-response-context:
      - p7gecUFJrLZXlDItRkBIXFCMlEPoECSBG2xcZrZKYIKVa0GhDV3dVU7Tsm5c/93DhKwQEqENi4EX
        emcE6WEnCg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>ab4813ca-bebe-4715-9f66-242ae634bcf3</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A05Z&Signature=zOr8cBdl7HerrLj2ORAU2mLowyIm9WnHEWIOptuF7jU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.ea16ebca-8f46-11e3-9e6c-0a5128e20000.0..5KTYvO
      x-mws-request-id:
      - 65181163-1769-4f4a-ada4-60827028f076
      x-mws-timestamp:
      - '2014-02-06T15:54:06.453Z'
      x-mws-response-context:
      - t5jsYzlh78AOvTXcG8drKW9LW1Oy6KPdyjmvk/JtpexykLlYEMN871LoTkSlPw/cyInto+Ys8chB
        hRKQFsIuwA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>65181163-1769-4f4a-ada4-60827028f076</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:09 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A09Z&Signature=j2j2rZUzxXEgMV8bYETQJx1MpU7EQxejAlMB8ZSUGA8%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.ea66922c-8f46-11e3-ba1e-0a50493d0000.0..2sRIjY
      x-mws-request-id:
      - a9dcdf25-49e2-4b0f-b165-7e76ad7eebe9
      x-mws-timestamp:
      - '2014-02-06T15:54:09.386Z'
      x-mws-response-context:
      - 6YPqx4wOOgoWHxwz+wj+01gX8Nk+b5/hW32WOKSdfrh89zMdw2T5RY2gGcLvmQpHZ73c7gOMWIyk
        OmYaLjxQbw==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>a9dcdf25-49e2-4b0f-b165-7e76ad7eebe9</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:09 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A13V1IB3VIYZZH&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A09Z&Signature=cYMEUYfgmswbMZ1pGqdBtKTtCP5OMgA0Y35Uvtnb8Is%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eac2e33b-8f46-11e3-9e6c-0a5128e20000.0..lpxG4!
      x-mws-request-id:
      - daf6e16d-2bad-4d6c-a091-a28f673afa95
      x-mws-timestamp:
      - '2014-02-06T15:54:10.005Z'
      x-mws-response-context:
      - UchfoIEBLsPQw5R7tFqmlfrKRNC1gPTfvIU8dQ4/ie9hn2cOCLS63Tp2T+YgBfKI0z1dOn/cXCLV
        GmLCK4C7IA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>daf6e16d-2bad-4d6c-a091-a28f673afa95</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:10 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A10Z&Signature=PpFnpd5JC1jMesj0MXdTUoAQzrSsziEbu9jEN8esHQE%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eae7341c-8f46-11e3-9e6c-0a5128e20000.0..XPNN$m
      x-mws-request-id:
      - fe0bdfc0-2911-475c-85ac-b3f512e50de1
      x-mws-timestamp:
      - '2014-02-06T15:54:10.228Z'
      x-mws-response-context:
      - ljj61v1SenIzIWZgMMKHo8JN96wKerJgnZuq+Ti8hnbQHW8uC1fCKPbicdSdLTYIOWEUekbwhQMk
        BRGGtKMLCg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>fe0bdfc0-2911-475c-85ac-b3f512e50de1</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:10 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A10Z&Signature=skCYfkYpmAK6CBRU9xyN1QfVzf00tT%2BHRV%2BGXCDdNlc%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eb0ce476-8f46-11e3-b534-0a50e1720000.0..S#WHx@
      x-mws-request-id:
      - 7ea13438-73db-4578-8490-32f08b78c4c7
      x-mws-timestamp:
      - '2014-02-06T15:54:10.494Z'
      x-mws-response-context:
      - o++USyvnsX8PCKtFEhOdH6x6FWmcjY2WSdW/8TBmTIl9SNUb5rK969dppFn3ttMftYx1PhsmHdZV
        wD4hC6GCXA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>7ea13438-73db-4578-8490-32f08b78c4c7</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:11 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1F83G8C2ARO7P&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A11Z&Signature=AeksWoqVP7k3BD5CBx0Y15AiH13V2nKnBAOP9WS2I4I%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eb7e6af7-8f46-11e3-b534-0a50e1720000.0..nDfrLQ
      x-mws-request-id:
      - f6d0104a-ca20-4daa-9bea-0de7a656b0ab
      x-mws-timestamp:
      - '2014-02-06T15:54:11.230Z'
      x-mws-response-context:
      - 7jXLN/ue3Ra50WhIZWTmeiUb2aJYvDtuJmWFModtVsDiWVqTgHdNG2ujmleDsUIylZf60m3+QpAl
        y86L4cFbzQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>f6d0104a-ca20-4daa-9bea-0de7a656b0ab</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:11 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A11Z&Signature=lEJn6HbYVynyZTOMGihZCEtn4r6xygEGo1TIjjuz0Eg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eba6da5d-8f46-11e3-ba1e-0a50493d0000.0..L43UQn
      x-mws-request-id:
      - e51e0975-931b-4742-9e42-562e950bdbff
      x-mws-timestamp:
      - '2014-02-06T15:54:11.480Z'
      x-mws-response-context:
      - ACaGVChwP5hcFY+P8TQpPQcCDQWTAhf+gE2KA/ZdfnL6p9lZjyXjL4QnTEOEc/IBNm4DYpcpY+OG
        GdUiDtRj5A==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>e51e0975-931b-4742-9e42-562e950bdbff</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:11 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A11Z&Signature=3Ny8Xukw6FvewNfjC%2BgkXW3TFrQeU90J4seD5h9KaWg%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.ebcc63fd-8f46-11e3-9e6c-0a5128e20000.0..b$S83Y
      x-mws-request-id:
      - 6cdc8c0f-c189-4adf-aaf2-0aa91cbab471
      x-mws-timestamp:
      - '2014-02-06T15:54:11.745Z'
      x-mws-response-context:
      - 7jXLN/ue3Ra50WhIZWTmeiUb2aJYvDtuJmWFModtVsDiWVqTgHdNG2ujmleDsUIylZf60m3+QpAl
        y86L4cFbzQ==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>6cdc8c0f-c189-4adf-aaf2-0aa91cbab471</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:12 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=APJ6JRA9NG5V4&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A12Z&Signature=Xh6xp2TKqLnE7JR8X8YIxDcvbpvMhAwSYPm4RPdmRjU%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.ec556a1e-8f46-11e3-9e6c-0a5128e20000.0..P6POgO
      x-mws-request-id:
      - 6e31ec34-631e-434f-a3ec-5a7f675749bc
      x-mws-timestamp:
      - '2014-02-06T15:54:12.457Z'
      x-mws-response-context:
      - t5jsYzlh78AOvTXcG8drKW9LW1Oy6KPdyjmvk/JtpexykLlYEMN871LoTkSlPw/cyInto+Ys8chB
        hRKQFsIuwA==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>6e31ec34-631e-434f-a3ec-5a7f675749bc</RequestId>
          </ResponseMetadata>
        </DeregisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:13 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=RegisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A13Z&Signature=FN4zO9SUapbzoMzt497izRgKp1jGjnr%2F7URxVOAGrB4%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.ed3e1c22-8f46-11e3-a14e-0ae959680000.0..Hez8gf
      x-mws-request-id:
      - 182eec7c-348a-4ef6-9fcb-3e21ffbf316d
      x-mws-timestamp:
      - '2014-02-06T15:54:14.106Z'
      x-mws-response-context:
      - qY7aFnUkqP36qsq4iruFuweXSi8Y5Zsnb6gbaIvQ87IYVtDFWaz8FGgepIDg6bFHK8hFt3xcf5cG
        Bglv/uosxg==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <RegisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <RegisterDestinationResult/>
          <ResponseMetadata>
            <RequestId>182eec7c-348a-4ef6-9fcb-3e21ffbf316d</RequestId>
          </ResponseMetadata>
        </RegisterDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:14 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=SendTestNotificationToDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A14Z&Signature=aRuwgWmTN07hWZ%2BBEarUYhUAokkAm%2BwIvyINHETj97k%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.edd15b33-8f46-11e3-8a2a-0ae921390000.0..Pr93tA
      x-mws-request-id:
      - 85007ccf-60d9-41d0-8b45-fae4f0bd03fd
      x-mws-timestamp:
      - '2014-02-06T15:54:15.139Z'
      x-mws-response-context:
      - v+9tu78VMOxCoe+ORZhSNIHWdBhqzhiHrvJ/F0SUzbHYgLU+0Vj3L1bPsyHLhwdH3gmMredOIRFZ
        Mla9luaOkw==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SendTestNotificationToDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <SendTestNotificationToDestinationResult/>
          <ResponseMetadata>
            <RequestId>85007ccf-60d9-41d0-8b45-fae4f0bd03fd</RequestId>
          </ResponseMetadata>
        </SendTestNotificationToDestinationResponse>
  recorded_at: Thu, 06 Feb 2014 15:54:15 GMT
- request:
    method: post
    uri: https://mws.amazonservices.jp/Subscriptions/2013-07-01?AWSAccessKeyId=aws_access_key_id&Action=DeregisterDestination&Destination.AttributeList.member.1.Key=sqsQueueUrl&Destination.AttributeList.member.1.Value=sqs_queue_url&Destination.DeliveryChannel=SQS&MarketplaceId=A1VC38T7YXB528&SellerId=seller_id&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2014-02-06T15%3A54%3A15Z&Signature=jmqlnyHYySB%2FZ5eTF5njaLL8Aw%2ByO7JYBxZOxy6hqQk%3D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-amzn-ActionTrace:
      - amzn1.tr.eebaf814-8f46-11e3-8de0-0ae9bfe50000.0..D!W7H3
      x-mws-request-id:
      - c5d56fd2-150a-4a4e-a954-d2a01884831d
      x-mws-timestamp:
      - '2014-02-06T15:54:16.655Z'
      x-mws-response-context:
      - kVr+uO0JHNOdR9lDRU4e4AQjWd6scmjd1m+9rWrr7RinKmUwV0bYmI/iegWvAVp3RiW/lA74HHsi
        Q8j4Qquhmw==
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeregisterDestinationResponse xmlns="http://mws.amazonservices.com/schema/Subscriptions/2013-07-01">
          <DeregisterDestinationResult/>
          <ResponseMetadata>
[...]
