---
http_interactions:
- request:
    method: post
    uri: https://sellingpartnerapi-eu.amazon.com/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Amz-Access-Token:
      - FILTERED
      X-Amz-Date:
      - 20240911T122409Z
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amz-Rid:
      - ZQGWJZ7VABPDEJCNDYZV
    body:
      encoding: UTF-8
      string: |-
        {
          "errors": [
            {
              "code": "Unauthorized",
              "message": "Access to requested resource is denied.",
              "details": ""
            }
          ]
        }
  recorded_at: Wed, 11 Sep 2024 12:24:09 GMT
recorded_with: VCR 6.3.1
