---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      base64_string: 'Y2xpZW50X2lkPUZJTFRFUkVEJmNsaWVudF9zZWNyZXQ9RklMVEVSRUQ=

        '
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - KDGPJFWNHDB11WRJS2RH
      X-Amzn-Requestid:
      - c29691bf-0a96-41b6-b1dc-75add070f041
      X-Amz-Date:
      - Tue, 17 Sep 2024 13:05:41 GMT
      X-Amzn-Errortype:
      - OA2UnsupportedGrantTypeException:http://internal.amazon.com/coral/com.amazon.panda/
    body:
      encoding: UTF-8
      string: '{"error_index":"nfgJvPekHuwrmgiVxTLcrAAAAAAAAAAB4T6lvA9KzvXNmv5ZU0tlZxn5Gu4OpWKfzA3O_igUjzhQHf5M5wGkHI88wjWmAcGRS1yhAdfikuW1MOVZADneFHV7M-34VGYTmnixEmIiA5mV0XkJM309mGTuwmiETx_caO0iCH1DOQ6_0pyXrkDyh7Ab0QiVzhW8t6EYdudKeB30gt8v6ib4o9-B1qnWTVypBEPk9420vsoq8S9rNeKI0H_V3wAFPMPyagIRMw==","error_description":"The
        authorization grant type is not supported by the authorization server","error":"unsupported_grant_type","request_id":"c29691bf-0a96-41b6-b1dc-75add070f041"}'
  recorded_at: Tue, 17 Sep 2024 13:05:42 GMT
recorded_with: VCR 6.3.1
