---
http_interactions:
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: ASCII-8BIT
      base64_string: 'Y2xpZW50X2lkPUZJTFRFUkVEJmNsaWVudF9zZWNyZXQ9RklMVEVSRUQ=

        '
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amz-Rid:
      - 7BK9NDH6PRFECSZ0NMRT
      X-Amzn-Requestid:
      - 9896b6b9-d5f6-458b-bc04-be2348292d21
      X-Amz-Date:
      - Tue, 17 Sep 2024 13:28:23 GMT
      X-Amzn-Errortype:
      - OA2UnsupportedGrantTypeException:http://internal.amazon.com/coral/com.amazon.panda/
    body:
      encoding: UTF-8
      string: '{"error_index":"5EDdsV5gGdMD4h7BaRlUywAAAAAAAAABa1zU7j3_ilf8JCqz8QJkHvb3eCCNro7hdu-pdzokhzVAzAVlXmu3I-w6RFUkiEwtiVPVvpqMxk5x4yKr1chc34GmH1VPLfmhml1l8KjteKPlL151RZ67yvdJhjjcydiexirDG76KXx23USzxBoYoHpS1xNdbRLb5dpYad1sx9_UrtiBK1ESYfNrPPJGmQWSPYkz16TyYmMQOx1nHtBIz5DEh6qy_iKDx7MxvcQ==","error_description":"The
        authorization grant type is not supported by the authorization server","error":"unsupported_grant_type","request_id":"9896b6b9-d5f6-458b-bc04-be2348292d21"}'
  recorded_at: Tue, 17 Sep 2024 13:28:23 GMT
recorded_with: VCR 6.3.1
