- country: CA
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: DE
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: ES
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: FR
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: GB
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: IT
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: JP
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
- country: US
  aws_access_key_id: foo
  aws_secret_access_key: bar
  seller_id: baz
